include ../mixins/event
link(rel="stylesheet" href="/stylesheets/events.style.css")

div.section.header
	h1.title= title
div.section.events-wrapper
	+eventMixin(event)
script(src="/scripts/events.js" type="text/javascript")