include ../mixins/event
link(rel="stylesheet" href="/static/stylesheets/events.style.css")

div.section.header
	h1.title= title
div.section.events-wrapper
	+eventMixin(event)
script(src="/static/scripts/events.js" type="text/javascript")