include ../mixins/event
include ../mixins/field
link(rel="stylesheet" href="/static/stylesheets/events.style.css")

div.module-events.section.header
	h1.title= title
	div.stretch
		div.remnant
			ul.controls
				a.icon-shopping_cart(href="/dashboard/cart")
		- var search = {name: 'search', icon: 'search', placeholder: 'Search', editable: true};
		+fieldMixin(search)
div.section(style="display:flex;")
	div.remnant
		span.declaration On spot registration available
div.section.events-wrapper
	each event in events
		- if(event.route.toLowerCase() == "techexpo" || event.route.toLowerCase() == "@pybits")
			+eventMixin(event, true)
	each event in events
		- if(event.category.toLowerCase() != "techexpo" && event.route.toLowerCase() != "@pybits" && event.type.toLowerCase() == "headliner")
			+eventMixin(event, true)
	each event in events
		- if(event.category.toLowerCase() != "techexpo" && event.route.toLowerCase() != "@pybits" && event.type.toLowerCase() != "headliner")
			+eventMixin(event, true)
script(src="/static/scripts/events.js" type="text/javascript")