include ../mixins/event
include ../mixins/field
link(rel="stylesheet" href="/static/stylesheets/events.style.css")
style.
	@media only screen and (max-width: 600px) {
		.stretch {
			flex-direction: column;
			align-items: flex-start;
			height: 6em !important;
			margin: 1em 0em;
			justify-content: space-around;
		}
		.stretch > * {
			width:100%;
		}
	}
div.module-events.section.header
	h1.title= title
	div.stretch
		div.remnant
			a.outward(href="https://www.townscript.com/e/pearl2018-240304")
				i.icon-ticket
				span BUY TICKETS
		- var search = {name: 'search', icon: 'search', placeholder: 'Search', editable: true};
		+fieldMixin(search)
	div.section.tags.catch-filters
		a(href="/events#Competition/Drama" class="Drama") Drama
		a(href="/events#Competition/Film" class="Film") Film
		a(href="/events#Competition/Art" class="Art") Art
		a(href="/events#Competition/Quiz" class="Quiz") Quiz
		a(href="/events#Competition/Writing" class="Writing") Writing
		a(href="/events#Competition/Photography" class="Photography") Photography
		a(href="/events#Competition/FineArts" class="FineArts") Fine Arts
		a(href="/events#Competition/Miscellaneous" class="Miscellaneous") Miscellaneous

div.section.events-wrapper
	each event in events
		- if(event.route.toLowerCase() == "techexpo" || event.route.toLowerCase() == "@pybits")
			+eventMixin(event, true)
	each event in events
		- if(event.category.toLowerCase() != "techexpo" && event.route.toLowerCase() != "@pybits" && event.type.toLowerCase() == "headliner")
			+eventMixin(event, true)
	each event in events
		- if(event.category.toLowerCase() != "techexpo" && event.route.toLowerCase() != "@pybits" && event.type.toLowerCase() != "headliner")
			+eventMixin(event, true)
script(src="/static/scripts/events.js" type="text/javascript")
