include ../mixins/event
include ../mixins/field
link(rel="stylesheet" href="/static/stylesheets/events.style.css")

div.section.header
	h1.title= title
	div.stretch
		div.remnant
			ul.controls
				li.icon-shopping_cart(_route="/dashboard/cart")
		- var search = {name: 'search', icon: 'search', placeholder: 'Search', editable: true};
		+fieldMixin(search)
div.section.tags
	a.active(href="#") All
	a(href="#Programming") Programming
	a(href="#MeanMachines") Mean Machines
	a(href="#FandM") Finance and Management
	a(href="#Quiz") Quizzing
	a(href="#Robotics") Robotics
	a(href="#DeepSciences") Deep Sciences
	a(href="#DoItNow") Do it now
	a(href="#TechExpo") Tech Expo
div.section.events-wrapper
	each event in events
		- if(event.type == "headliner")
			+eventMixin(event)
	each event in events
		- if(event.type != "headliner")
			+eventMixin(event)
script(src="/static/scripts/events.js" type="text/javascript")