include ../mixins/event
include ../mixins/field
link(rel="stylesheet" href="/static/stylesheets/events.style.css")
style.
	@media only screen and (max-width: 600px) {
		.stretch {
			flex-direction: column;
			align-items: flex-start;
			height: 6em !important;
			margin: 1em 0em;
			justify-content: space-around;
		}
		.stretch > * {
			width:100%;
		}
	}
div.module-events.section.header
	h1.title= title
	div.stretch
		div.remnant
			a.outward(href="#{config.strings.registrationLink}")
				i.icon-ticket
				span BUY TICKETS
		- var search = {name: 'search', icon: 'search', placeholder: 'Search', editable: true};
		+fieldMixin(search)
	div.section.tags.catch-filters
		//- a(href="/events#Competition/<tab_name> class="") <tab_name>
		

div.section.events-wrapper
	each event in events
		- if(event.route.toLowerCase() == "techexpo" || event.route.toLowerCase() == "@pybits")
			+eventMixin(event, true)
	each event in events
		- if(event.category.toLowerCase() != "techexpo" && event.route.toLowerCase() != "@pybits" && event.type.toLowerCase() == "headliner")
			+eventMixin(event, true)
	each event in events
		- if(event.category.toLowerCase() != "techexpo" && event.route.toLowerCase() != "@pybits" && event.type.toLowerCase() != "headliner")
			+eventMixin(event, true)
script(src="/static/scripts/events.js" type="text/javascript")
