link(rel='stylesheet', href='/static/stylesheets/events.style.css')
#schedule.immersive-wrapper
	.section.body.scrollable(data-simplebar='data-simplebar')
		#sc-wrapper
			.row
				.day
					#content
						h1.date 27th October
						ul.timeline
							li.event(data-date='10:00am - 10:30am')
								h3.sc-title Event Title
				.day
					#content
						h1.date 28th October
						ul.timeline
							li.event(data-date='10:00am - 10:30am')
								h3.sc-title Event Title
			.row
				.day
					#content.center
						h1.date 29th October
						ul.timeline
							li.event(data-date='10:00am - 10:30am')
								h3.sc-title Event Title
