@font-face {
  font-family: 'icomoon-ca';
  src:  url('icomoon.eot?f88vwr');
  src:  url('icomoon.eot?f88vwr#iefix') format('embedded-opentype'),
    url('icomoon.ttf?f88vwr') format('truetype'),
    url('icomoon.woff?f88vwr') format('woff'),
    url('icomoon.svg?f88vwr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ca[class^="icon-"], .ca[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-ca' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ca[class^="icon-"]::before, .ca[class*=" icon-"]::before {
  font-family: 'icomoon-ca' !important;
}

.icon-user-tie:before {
  content: "\e900";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-bank:before {
  content: "\f19c";
}
.icon-institution:before {
  content: "\f19c";
}
.icon-university:before {
  content: "\f19c";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-slideshare:before {
  content: "\f1e7";
}
.icon-connectdevelop:before {
  content: "\f20e";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-id-card:before {
  content: "\f2c2";
}
