include ../mixins/form
link(href="/static/stylesheets/ambassador.style.css" rel="stylesheet")
div.section.header
    h1= title
    div.stretch
            div.remnant
                ul.controls
                    li.icon-check.latent.active#submit-button(tooltip="Save")
                    li.icon-close.latent.active#cancel-button(_route="/dashboard" tooltip="Cancel")
                    li.icon-close.latent#about-close-button
            div.button.about#about-open-button ABOUT
div.section.body
    - var form = { fields: fields, method: "PUT", action: "/api/users/me" };
    +formMixin(form)
    div.content
        h3 About the programme
        p ATMOS is the national annual technical festival of the reputed BITS Pilani, Hyderabad Campus. We have the tradition of electing dynamic ambassadors from different colleges whose primary responsibility lies in conducting a successful publicity initiative of ATMOS in and around his/her college. This year we are extremely exhilarated to enlarge our acquaintance base and recruit capable and enthusiastic students from across different colleges across the length and the breadth of the country.
        p Over the past **** years, the fest has branched out into diverse activities encompassing many fields of engineering, science and research. Even though it's a child in terms of its alma mater's age, in the previous year, it attracted a footfall of more than 50,000, reach of more than 300 colleges in India This year, ATMOS aims at reaching out to all the Colleges in India with a vision of promoting excellent campus culture, science &amp; technology. College Ambassadors will be playing a pivotal role in fulfilling this vision and be a part of this amazing journey that we intend to embark upon.
script(src="/static/scripts/register.js")
