div.section.header
	h1= title
	div.stretch
			div.remnant
		-if(events.length > 0) {
			for event in events
				h3 #{event.name}
					i.icon-close(id="#{event._id}" class="delete_from_cart") Remove
		- }
script(src="/static/scripts/cart.js")