include ../mixins/eventList
include ../mixins/accomm-card

link(href="/static/stylesheets/cart.style.css" rel="stylesheet")
div.section.header
	h1= title
	div.stretch
div.section.body
	div.initial
		div.additionals
			if !user.additionals || (user.additionals && user.additionals.length == 0) || user.additionals[0].pending
				input.hidden(type="checkbox" id="enableAccomm" checked=(user.additionals && user.additionals[0] && user.additionals[0].pending))
				label.add(data-label="Add Accommodation" for="enableAccomm")
					i.icon-add
				if(user.additionals && user.additionals[0])
					+accommCardMixin(true, user.additionals[0])
				else
					+accommCardMixin(true)
		div.pending.event-list
			+eventList(events, user, true)
	div.payment#cart
		div.price.subtotal(data-label="Subtotal")
			i &#x20b9;
			span.amount(name="subtotal") 0
		div.additionals
			if user.additionals
				for addition in user.additionals
					div.price.additional(data-label=addition.label)
						i &#x20b9;
						span.amount(name="accomm")= addition.price
		div.remnant
			div.price.total
				i &#x20b9;
				span.amount(name="total") 0
			if payment
				div.button PAY NOW
			else
				div.button.disabled PAYMENT NOT AVAILABLE
script(src="/static/scripts/cart.js")
script.
	Cart.init()
