include ../mixins/eventList
include ../mixins/field

link(href="/static/stylesheets/cart.style.css" rel="stylesheet")
div.section.header
	h1= title
	div.stretch
div.section.body
	div.pending
		+eventList(events, user)
		-var subtotal = 0;
		-events.forEach(function(event){
		- subtotal += event.price;
		-});
		-var AccommChoice = {type: "select", name: "type", editable: true, options: ["Common Room / \u20b9100", "Hotel / \u20b9400"]};
	div.payment
		div.price.subtotal
			i &#x20b9;
			span.amount= subtotal
		div.additional
			input(type="checkbox" id="availAccomm" name="availAccomm")
			label(for="availAccomm") Add accommodation
			+fieldMixin(AccommChoice)
		div.remnant
			div.price.total
				i &#x20b9;
				span.amount#checkoutTotal= subtotal
			div.button PAY NOW
script(src="/static/scripts/cart.js")
div#sandbox
	script.
		cart.setSubtotal("#{subtotal}");
		cart.disableExposure();
		$('#sandbox').html("");