include ../mixins/eventList

link(href="/static/stylesheets/cart.style.css" rel="stylesheet")
link(href="/static/stylesheets/dashboard.style.css" rel="stylesheet")
div.section.header
	h1.title Overview
div.section.body
	div
		img.imgUser(src=user.profileImage)
		div.details
			- if (typeof user.name !== "undefined") {
			span.user.name.
				#{user.name}
			- }
			- if (typeof user.email !== "undefined") {
			span.user.email
				i.icon-mail_outline
				span.
					#{user.email}
			- }
			- if (typeof user.institute !== "undefined") {
			span.user.institute
				i.icon-account_balance
				span.
					#{user.institute}
			- }
	div.separator
		div.ca
			a.button(href="/ca") Become a Campus Ambassador
	div.events
		if (subscribed.length || pending.length)
			if pending.length
				div.event-list.pending(data-title="Teams")
					+eventList(pending, user, true)
					a.button(href="https://paytm.com") Pay Here
		else
			div.event-list(data-title="Teams")
				span(style="margin-left: 1em;") You have not registered for anything. Go to the events section to register.
script(src="/static/scripts/cart.js" type="text/javascript")
