language: node_js
services: mongodb
node_js:
  - "6"

cache:
  directories:
    - "node_modules"

before_script:
  - npm install grunt-cli -g
  - tools/destroy-and-rebuild-database aero31aero@gmail.com
  
script: "npm run-script ci"
