@media only screen and (max-width:750px){
    .window.immersive .navbar > .wrapper {
        background-color: black;
    }
}
#pybits-wrapper {
    background-size: cover;
    animation: 1s ease-in-out 0.75s bg-fade-in forwards;
    background-image: url('/static/images/pybits/pybits-background.jpg');
    overflow-y: auto;
    overflow-x: hidden;
    background-attachment: fixed;
}
#pybits-background {
    background-size: cover;
    animation: 1s ease-in-out 0.75s bg-fade-in forwards;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(45deg, rgba(163, 64, 255, 0.9) 0%, rgba(163,64,255,0.9) 20%, rgba(163,64,255,0.9) 12%, rgba(255,58,81,0.9) 85%, rgba(255,58,81,0.9) 91%, rgba(255,58,81,0.9) 100%);
}
.pybits-home {
    width: 100vw;
    min-height: calc(100vh - 6.5vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}
#event-info {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}
#event-info i {
    padding: 0 10px;
}
#event-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#event-heading h2{
    font-weight: 600;
    font-size: 8rem;
}
#desc {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
#event-more {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}
ul#nav {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
#tickets {
	font-size: 2rem;
	font-weight: 600;
	color: black;
	background-color: white;
	width: -moz-fit-content;
	padding: 10px;
    margin: 20px;
}
