.pybits-tab-background {
    padding-bottom: 5px !important;
}
#nav-bottom {
    position: absolute !important;
    bottom: 5px;
    right: 0;
}
h1#heading {
    color: white;
    margin-top:13%;
    margin-bottom: 2.5%;
    font-family: 'Electrolize', sans-serif;
    font-size:39px;
    text-decoration: underline !important;
    text-transform: uppercase;
}
h1 {
    line-height: 35px;
    color: white;
    margin-top:13%;
    margin-bottom: 2.5%;
    font-family: 'Electrolize', sans-serif;
    font-size:25px;
}
h1 >a  {
    display: block;
    color: white;
    margin-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size:20px;
    transition: all 0.3s ease-in;
}
h1> a:hover {
    background-color: white;
    color:navy;
}