@media only screen and (max-width:750px){
    .window.immersive .navbar > .wrapper {
        background-color: black;
    }
}
.immersive-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 !important;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
  }
#pybits-wrapper {
    background-size: cover;
    animation: 1s ease-in-out 0.75s bg-fade-in forwards;
    background-image: url('/static/images/pybits/pybits-background.jpg');
    overflow-y: auto;
    overflow-x: hidden;
    background-attachment: fixed;
}
#pybits-background {
    background-size: cover;
    animation: 1s ease-in-out 0.75s bg-fade-in forwards;
    overflow-y: auto;
    overflow-x: hidden;
    background: linear-gradient(45deg, rgba(163, 64, 255, 0.9) 0%, rgba(163,64,255,0.9) 20%, rgba(163,64,255,0.9) 12%, rgba(255,58,81,0.9) 85%, rgba(255,58,81,0.9) 91%, rgba(255,58,81,0.9) 100%);
}
.pybits-home {
    width: 100vw;
    min-height: calc(100vh - 6.5vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}
#event-info {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}
#event-info i {
    padding: 0 10px;
}
#event-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#event-heading h2{
    font-weight: 600;
    font-size: 8rem;
}
#desc {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}
#event-more {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}
ul#nav, ul#nav-bottom {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
    width: 100%;
    color: white;
}
#tickets {
	font-size: 2rem;
	font-weight: 600;
	color: black;
	background-color: white;
	width: -moz-fit-content;
	padding: 10px;
    margin: 20px;
}
#coc-heading{
    margin-top:70px;
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-left:25px;
  }
  #coc-heading p {
    color: white;
    font-size: 19px;
    border-right: none;
    font-weight: 400;
    line-height: 1.5em;
  }
  #pybits-background #heading-not-home {
    margin-top:20%;
    font-size: 3vw;
    color: rgb(220, 220, 220);
    font-weight: 1000; 
    font-family: 'Electrolize', sans-serif;
  }