include mixins/form
link(href="/static/stylesheets/ambassador.style.css" rel="stylesheet")
div.section.header
    h1= title
    div.stretch
            div.remnant
                ul.controls
                    li.icon-check.latent#submit-button(tooltip="Save")
                    li.icon-close.latent#cancel-button(tooltip="Cancel")
div.section.body
    if(user)
        - var form = { fields: fields, method: "PUT", action: "/api/users/me" };
        +formMixin(form)
    div.content
        div.about
            h2 About the programme
            p Pearl is the annual national cultural fest of BITS Pilani, Hyderabad Campus. Incepted in 2009 as an intra-college festival, the fest grew into a national level college cultural fest with participation from more than 100 colleges across India. Pearl hosts a variety of cultural events and competitions which include music, dance, literary, photography and quizzing. This year’s Hyderabad theme is just one more reason to look forward to the annual cultural fest that we know and adore.
             
        if(user)
            if !user.isAmbassador
                div.button#open-form-button Register Now
        else
            a.button(href="/login") Login to register
        div.responsibilities
            h2 Responsibilities
            ul
                li
                    i.icon-bullhorn
                    div
                        span.title Publicity
                        p You will publicise PEARL 2019 in your college. Tasks will include: Displaying the posters of PEARL 2019 (within 2-3 days of receiving them) on College bulletins and notice boards, and publicizing the events of PEARL 2019 on Social Media channels by sharing and posting (in different groups).
                li
                    i.icon-child
                    div
                        span.title Co-ordination
                        p Help us in organizing workshops and presentations in your college when our publicity team comes to your college for Publicity.
                li
                    i.icon-group
                    div
                        span.title Leadership
                        p You will be the face of the contingent from your college. Your inherent responsibility will be: getting maximum participation from your college.
        div.incentives
            h2 Incentives

            div
                span All eligible Campus Ambassadors will get
                ul
                    li
                        i.icon-connectdevelop
                        span Access to a network of student ambassadors
                    li
                        i.icon-building
                        span Free accommodation
                    li
                        i.icon-edit
                        span Free registration
                    li
                        i.icon-drivers-license
                        span A certificate acknowledging their CA program for PEARL
                    li
                        i.icon-ticket
                        span Food coupons
            div
                span Special incentives to top 10 Ambassadors
                ul
                    li
                        i.icon-handshake-o
                        span A chance to interact with the speakers at PEARL
                    li
                        i.icon-t-shirt
                        span PEARL merchandise
                    li
                        i.icon-ticket
                        span Free passes for Pro-shows and other events
                    li
                        i.icon-slideshare
                        span Get featured in the list of campus ambassadors
        div.contact
            h2 Contact Us
            div
                ul
                    li
                       i.icon-phone
                       span.name Bhandari Shiva Sai Krishna
                       span.title Cultural Secretary (Boys)
                       span.no 7729946232
                    li
                       i.icon-phone
                       span.name Yashasvi Chennawar
                       span.title Cultural Secretary (Girls)
                       span.no 9133598940
                    li
                      i.icon-phone
                      span.name Aman Syed
                      span.title President
                      span.no 8790359970
                    li
                      i.icon-phone
                      span.name Akhil Mohith Panthula
                      span.title Publicity &amp; Public relations
                      span.no 9553566444
                    li
                      i.icon-phone
                      span.name Shubham Bogam
                      span.title Reg &amp; Accom
                      span.no 7997083753
                    li
                      i.icon-phone
                      span.name Anchit Agarwal
                      span.title Sponsorship &amp; Marketing
                      span.no 9553877007
script(src="/static/scripts/register.js")
