include mixins/form
link(href="/static/stylesheets/ambassador.style.css" rel="stylesheet")
div.section.header
    h1= title
    div.stretch
            div.remnant
                ul.controls
                    li.icon-check.latent#submit-button(tooltip="Save")
                    li.icon-close.latent#cancel-button(tooltip="Cancel")
div.section.body
    if(user)
        - var form = { fields: fields, method: "PUT", action: "/api/users/me" };
        +formMixin(form)
    div.content
        div.about
            h2 About the programme
            p BITS Hyderabad is proud to present its 8th annual sports fests- ARENA! 
An amalgamation of a myriad of sport events and proshows, ARENA provides an apt platform for students across the nation to showcase their talents in the field of sports. Covering a wide range of indoor and outdoor sports, from carrom and chess to cricket and football, ARENA is all about sportsmanship and learning. Playing at ARENA guarantees an experience of a lifetime, as the best teams from across the country compete to ace the tournament.
Laced with competition, fun and teamwork, ARENA is all set to welcome India's young sportsmen and women!
 p 
        if(user)
            if !user.isAmbassador
                div.button#open-form-button Register Now
        else
            a.button(href="/login") Login to register
        div.responsibilities
            h2 Responsibilities
            ul
                li
                    i.icon-bullhorn
                    div
                        span.title Publicity
                        p You will publicise ARENA 2020 in your college. Tasks will include: Displaying the posters of ARENA 2020 (within 2-3 days of receiving them) on College bulletins and notice boards, and publicizing the events of ARENA 2020 on Social Media channels by sharing and posting (in different groups).
                li
                    i.icon-child
                    div
                        span.title Co-ordination
                        p Help us in organizing workshops and presentations in your college when our publicity team comes to your college for Publicity.
                li
                    i.icon-group
                    div
                        span.title Leadership
                        p You will be the face of the contingent from your college. Your inherent responsibility will be: getting maximum participation from your college.
        div.incentives
            h2 Incentives

            div
                span All eligible Campus Ambassadors will get
                ul
                    li
                        i.icon-connectdevelop
                        span Access to a network of student ambassadors
                    li
                        i.icon-building
                        span Free accommodation
                    li
                        i.icon-edit
                        span Free registration
                    li
                        i.icon-drivers-license
                        span A certificate acknowledging their CA program for ARENA
                    li
                        i.icon-ticket
                        span Food coupons
            div
                span Special incentives to top 10 Ambassadors
                ul
                    li
                        i.icon-handshake-o
                        span A chance to interact with the speakers at ARENA
                    li
                        i.icon-t-shirt
                        span ARENA merchandise
                    li
                        i.icon-ticket
                        span Free passes for Pro-shows and other events
                    li
                        i.icon-slideshare
                        span Get featured in the list of campus ambassadors
        div.contact
            h2 Contact Us
            div
                ul
                    li
                       i.icon-phone
                       span.name Nikhil Peruri
                       span.title President
                       span.no +91 7981720729
                    li
                       i.icon-phone
                       span.name Praneeth Setty
                       span.title Sports Secretary (Boys)
                       span.no +91 7680993056
                    li
                      i.icon-phone
                      span.name Siri Jagarlamundi
                      span.title Sports Sevretary (Girls)
                      span.no +91 7032674829
                    li
                      i.icon-phone
                      span.name Sumedha Nallamilli
                      span.title Publicity Head
                      span.no +91 9441363744
script(src="/static/scripts/register.js")

