include mixins/form
link(href="/static/stylesheets/ambassador.style.css" rel="stylesheet")
div.section.header
    h1= title
    div.stretch
            div.remnant
                ul.controls
                    li.icon-check.latent#submit-button(tooltip="Save")
                    li.icon-close.latent#cancel-button(tooltip="Cancel")
div.section.body
    if(user)
        - var form = { fields: fields, method: "PUT", action: "/api/users/me" };
        +formMixin(form)
    div.content
        div.about
            h2 About the programme
            p ATMOS is the national annual technical festival of the reputed BITS Pilani, Hyderabad Campus. We have the tradition of electing dynamic ambassadors from different colleges whose primary responsibility lies in conducting a successful publicity initiative of ATMOS in and around his/her college. This year we are extremely exhilarated to enlarge our acquaintance base and recruit capable and enthusiastic students from across different colleges across the length and the breadth of the country.
            p Over the past 6 years, the fest has branched out into diverse activities encompassing many fields of engineering, science and research. Even though it's a child in terms of its alma mater's age, in the previous year, it attracted a footfall of more than 50,000, reach of more than 300 colleges in India This year, ATMOS aims at reaching out to all the Colleges in India with a vision of promoting excellent campus culture, science &amp; technology. College Ambassadors will be playing a pivotal role in fulfilling this vision and be a part of this amazing journey that we intend to embark upon.
        if(user)
            div.button#open-form-button Register Now
        else
            div.button(_route="/login") Login to register
        div.responsibilities
            h2 Responsibilities
            ul
                li
                    i.ca.icon-bullhorn
                    div
                        span.title Publicity
                        p You will publicise ATMOS 2017 in your college. Some of the tasks would be display the posters of ATMOS 2017 within 2-3 days of receiving them on College bulletins and notice boards. Also publicize events of ATMOS 2017 on Social Media channels by sharing and posting (in different groups)
                li
                    i.ca.icon-child
                    div
                        span.title Co-ordinate
                        p Help us in organizing workshops and presentations in your college when our publicity team comes your college for Publicity.
                li
                    i.ca.icon-group
                    div
                        span.title Lead
                        p You would be the face of contingent from your college. You will try to get maximum participation from your college.
        div.incentives
            h2 Incentives

            div
                span All eligible Campus Ambassadors will get
                ul
                    li
                        i.ca.icon-connectdevelop
                        span Access to a network of student ambassadors
                    li
                        i.ca.icon-building
                        span Free accommodation
                    li
                        i.ca.icon-edit
                        span Free registration
                    li
                        i.ca.icon-id-card
                        span A certificate acknowledging their CA program for ATMOS
                    li
                        i.ca.icon-ticket
                        span Food coupons
            div
                span Special incentives to top 10 Ambassadors
                ul
                    li
                        i.ca.icon-user-tie
                        span Internship opportunity from event-specific sponsoring companies
                    li
                        i.ca.icon-handshake-o
                        span A chance to interact with the speakers
                    li
                        i.ca.icon-t-shirt
                        span ATMOS merchandise
                    li
                        i.ca.icon-ticket
                        span Free passes for pro shows and other events
                    li
                        i.ca.icon-slideshare
                        span Get featured in the list of campus ambassadors
        div.contact
            h2 Contact Us

            div
                ul
                    li
                       i.icon-phone
                       span.name Sugam Gandhi
                       span.no 9133234318
                       span.email sugam@bits-atmos.org




script(src="/static/scripts/register.js")
