include mixins/form
link(href="/static/stylesheets/ambassador.style.css" rel="stylesheet")
div.section.header
    h1= title
    div.stretch
            div.remnant
                ul.controls
                    li.icon-check.latent#submit-button(tooltip="Save")
                    li.icon-close.latent#cancel-button(tooltip="Cancel")
div.section.body
    if(user)
        - var form = { fields: fields, method: "PUT", action: "/api/users/me" };
        +formMixin(form)
    div.content
        div.about
            h2 About the programme
            p Arena is the national annual sports festival of the reputed BITS Pilani, Hyderabad Campus. We have embraced the tradition of electing dynamic ambassadors from different colleges whose primary responsibility lies in conducting a successful publicity initiative of Arena: in and around his/her college. This year we are exhilarated to enlarge our acquaintance base and recruit capable and enthusiastic students from across different colleges along the length and the breadth of the country.
            p Though being young in age, ARENA, from time to time has proven its mettle against its counterparts and emerged as one of the largest fests of its kind in the region. The fest amassed an astounding response of 20,000+ participants from over 400 colleges in the preceding edition. This year, Arena aims to reach out to all the colleges in India. College Ambassadors will play a pivotal role in fulfilling this vision and be a part of this amazing journey that we intend to embark upon.
        if(user)
            div.button#open-form-button Register Now
        else
            a.button(href="/login") Login to register
        div.responsibilities
            h2 Responsibilities
            ul
                li
                    i.icon-bullhorn
                    div
                        span.title Publicity
                        p You will publicise Arena 2018 in your college. Tasks will include: Displaying the posters of Arena 2018 (within 2-3 days of receiving them) on College bulletins and notice boards, and publicizing the events of Arena 2018 on Social Media channels by sharing and posting (in different groups).
                li
                    i.icon-child
                    div
                        span.title Co-ordination
                        p Must be an active member on social media and should coordinate with the publicity team of Arena.
                li
                    i.icon-group
                    div
                        span.title Leadership
                        p You will be the face of the contingent from your college. Your inherent responsibility will be: getting maximum participation from your college.
        div.incentives
            h2 Incentives

            div
                span All eligible Campus Ambassadors will get
                ul
                    li
                        i.icon-connectdevelop
                        span Access to a network of student ambassadors
                    li
                        i.icon-building
                        span Free accommodation
                    li
                        i.icon-id-card
                        span A certificate acknowledging their CA program for Arena
                    li
                        i.icon-ticket
                        span Free pro-show pass
                    li
                        i.icon-t-shirt
                        span Arena merchandise
        div.contact
            h2 Contact Us

            div
                ul
                    li
                       i.icon-phone
                       span.name Ajay Dirisala
                       span.no 9133192283
                       span.email ajaydirisala1997@gmail.com




script(src="/static/scripts/register.js")
