div.section.header
	h1.title Overview
	div.stretch
		div.remnant
			ul.controls
				li.icon-add
				li.icon-view_module
				li.icon-autorenew
		div#filter
			input#_filter(type="text", placeholder="Search")
			i.icon-search