include mixins/field
title= title
div.section.header
	h1.title Overview
	div.stretch
		div.remnant
			ul.controls
				li.icon-add
				li.icon-view_module
				li.icon-autorenew
		- var search = {icon: 'search', placeholder: 'Search', editable: true};
		+fieldMixin(search)
