link(href='static/stylesheets/bootstrap.min.css', type='text/css', rel='stylesheet')
link(href='static/stylesheets/fob.style.css', type='text/css', rel='stylesheet')
.immersive-wrapper
  h1 ORGANIZING BODY
  .cont.row
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/1.jpg')
        h3 Aman Syed
        h4 President
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/2.jpg')
        h3 Suraj Thotakura
        h4 General Secretary
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/3.jpeg')
        h3 Yash Chokhani
        h4 Technical Secretary
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/4.jpg')
        h3 Ram Dheeraj Srigiri
        h4 Sponsorship and Marketing
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/5.jpg')
        h3 Rohith Reddy Mandadi
        h4 Publicity and Public Relations
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/6.jpg')
        h3 Zainul Belgaumwala
        h4 Website and Creatives
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/7.jpg')
        h3 Dharmesh Singhal
        h4 Hospitality
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/8.jpg')
        h3 Modit Goyal
        h4 Photography
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/9.jpg')
        h3 Manoj Kondisetti
        h4 Visual Effects
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/10.jpg')
        h3 Akshat Govil
        h4 Lights and Sound
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/11.jpg')
        h3 Rajashekhar Reddy
        h4 Arts and Decoration
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/12.jpg')
        h3 D Mukesh Reddy
        h4 Controlz
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/13.jpg')
        h3 Chetan Reddy
        h4 Professional Events
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/14.jpg')
        h3 Richa Tiwari
        h4 Recreational Activities
    .indpic.col-md-4
      .inbox

    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/1.jpg')
        h3 Mahesh Kumar Moond
        h4 Pheonix Association
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/2.jpg')
        h3 Mohit Muskan
        h4 Panacea Association
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/3.jpg')
        h3 Drishti Mamtani
        h4 Spectrum
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/4.jpg')
        h3 Shubham Agarwal
        h4 Ad Astra
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/5.jpg')
        h3 Shravan Bharadwaj
        h4 Economics Association
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/6.jpg')
        h3 Basu Dubey
        h4 Crux
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/7.jpg')
        h3 Akhil Raj Baranwal
        h4 Automation and Robotics Club
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/8.jpg')
        h3 Ayush Bagdiya
        h4 Axiom Association
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/9.jpg')
        h3 Shristy Kapoor
        h4 Alchemy Association
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/10.jpg')
        h3 Aakriti
        h4 BITS Embryo
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/11.jpg')
        h3 Konark Joshi
        h4 Society of Automotive
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/12.jpg')
        h3 Mayank Gupta
        h4 Synapsis
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/13.jpg')
        h3 Pratijay Guha
        h4 Mechanical and Manufacturing Association
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/14.jpg')
        h3 Aayush Jain
        h4 Computer Science Association
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/15.jpg')
        h3 Jomal Jochan
        h4 Civil Engineer's Association
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/16.jpg')
        h3 Prateek Dasgupta
        h4 Association of Chemical Engineers
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/17.jpg')
        h3 Sasmit Mati
        h4 Tech-Expo
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/18.jpg')
        h3 Aditya Lohana
        h4 Quiz Club
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/19.jpg')
        h3 Raahul Jagannathan
        h4 IEEE
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/20.jpg')
        h3 Shreyansh Jain
        h4 E-Cell
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/TechSenate/21.jpg')
        h3 Himanshu Agarwal
        h4 Wall Street Club
