link(href='static/stylesheets/bootstrap.min.css', type='text/css', rel='stylesheet')
link(href='static/stylesheets/fob.style.css', type='text/css', rel='stylesheet')
.immersive-wrapper
  h1 ORGANIZING BODY
  .cont.row
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/1.jpg')
        h3 Aman Syed
        h4 President
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/2.jpg')
        h3 Suraj Thotakura
        h4 General Secretary
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/3.jpg')
        h3 Sohith Deva
        h4 Sports Secretary
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/4.jpg')
        h3 Kritika Kasliwal
        h4 Sports Secretary
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/5.jpg')
        h3 saurabh kaundinya 
        h4 Fest Co-ordinator
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/6.jpg')
        h3 Vutla Yashwanth
        h4 Sponsorship and Marketing
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/7.jpg')
        h3 Jayakanth Teegala
        h4 Publicity and Public Relations
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/8.jpg')
        h3 Pavan Teja Macharla
        h4 Registration and Accomodation
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/9.jpg')
        h3 Ashwik Reddy
        h4 Technical Arts
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/10.jpg')
        h3 Revanth Tanneeru
        h4 Visual Effects
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/11.jpg')
        h3 Abhishek Kumar
        h4 Photography
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/12.jpg')
        h3 Madhura Banerjee
        h4 Professional Events
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/13.jpg')
        h3 Farooq Shanawaz
        h4 Recreational Activities
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/14.jpg')
        h3 Devalla Vasishta
        h4 Arts and Decoration
    .indpic.col-md-4
      .inbox
        img(src='static/images/fob/Dept/15.jpg')
        h3 Aditya Singh Thakur
        h4 Lights and Sounds