link(href='/static/stylesheets/home.style.css', rel='stylesheet')
link(rel='stylesheet' href='/static/home/base.css')
link(rel='stylesheet' href='/static/home/vendor.css')
link(rel='stylesheet' href='/static/home/main.css')
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:400,500,700") 
script(src='/static/home/js/modernizr.js')
script(src='/static/home/js/pace.min.js')
//- #preloader
  #loader
.immersive-wrapper.hash-home
  section#home
    .gird-overlay
    .home-content-table
      .home-content-tablecell
        .row
          .col-twelve
            //
              <h1 class="animate-intro letters">
              ARENA<br>
              </h1>
              <h3 class="animate-intro">Where legends are born.</h3>
            .animate-intro.logocontent
              span.logo-circle
                span.logo-buddha
                span.logo-charminar
                span.logo-hcity
                span.logo-metro
                span.logo-letters
            .more.animate-intro
              a.button.events-button(href='/events',style='white-space:pre;')
                | Events
              a.button.ca-button(href='/events')
                | Campus Ambassador
          // end col-twelve
        // end row
      // end home-content-tablecell
    // end home-content-table
    ul.home-social-list
      li.animate-intro
        a(href='https://www.facebook.com/bits.arena/')
          i.fa.fa-facebook-square
      li.animate-intro
        a(href='https://twitter.com/BITS_Arena')
          i.fa.fa-twitter
      li.animate-intro
        a(href='https://www.instagram.com/bits_arena/')
          i.fa.fa-instagram
    // end home-social-list
    .scrolldown
      a.scroll-icon.smoothscroll(href='#about')
        | Scroll Down&#x9;&#x9;   &#x9;
        i.fa.fa-long-arrow-right(aria-hidden='true')
  // end home
  //
    about
    ==================================================
  section#about
    .row.about-wrap
      .col-full
        .about-profile-bg
        .intro
          h3.animate-this About Us
          p.lead.animate-this
            span Pearl 
            | is the annual national cultural fest of BITS Pilani, Hyderabad Campus. Incepted in 2009 as an intra-college festival, the fest grew into a national level college cultural fest with participation from more than 100 colleges across India. Pearl hosts a variety of cultural events and competitions which include music, dance, literary, photography and quizzing. This year’s Hyderabad theme is just one more reason to look forward to the annual cultural fest that we know and adore.
            //- | is one of the biggest sporting festivals conducted in India. This year we plan on hosting the 7th edition of Arena, Arena &apos;19. Keeping up with the ambitions and ex&shy;pectations from a campus such as ours, we are envisioning an Arena bigger, grander and more thrilling than ever before.
      // end col-full
    // end about-wrap
    //- span.count.footfall 8000
    //- span.count.hits 120000
    //- span.count.third 3000
    //- #text-counter
    //-   span.hits Hits
    //-   span.footfall Footfall
    //-   span.third third
  // end about
  //
    footer
    ==================================================
  footer
    .footer-main
      .row
        .contactustext
          .contactus
            p(id= "contactusp") CONTACT US
          .between
          .contacts
            .contact_divb
              .contact_div
                span| Bhandari Shiva Sai Krishna
                p
                  | Cultural Secretary (Boys)
                  br
                  | 8790342992
              .contact_div
                span| Yashasvi Chennawar
                p
                  | Cultural Secretary (Girls)
                  br
                  | 9133598940
              .contact_div
                span Aman Syed
                p
                  | President
                  br
                  | 8790359970
            .contact_divb
              .contact_div
                span| Akhil Mohith Panthula
                p
                  | Publicity &amp; Public relations
                  br
                  | 9553566444
              .contact_div
                span| Shubham Bogam
                p
                  | Reg &amp; Accom
                  br
                  | 7997083753
              .contact_div
                span| Anchit Agarwal
                p
                  | Sponsorship &amp; Marketing
                  br
                  | 9553877007
            .contact_div
              p
                | Mail us at 
                b pearl@hyderabad.bits-pilani.ac.in
            .created_by
              .drop_up
                ul
                  li 
                    a(href="https://www.behance.net/vikkaachu") Vikranth Sagar
                  li 
                    a(href="https://github.com/Ashwik") Ashwik Reddy
                  li 
                    a(href="https://github.com/Kailash0311") Kailash Bhalaki
                  li 
                    a(href="https://github.com/rohith203") Rohith Saranga
                  li 
                    a(href="https://github.com/AtharvaSune") Atharva Sune
              p
                | Made with 💗 by
                | Department Of Technical Arts
    .footer-bottom
      .row
        .col-twelve
        
    #go-top
      a.smoothscroll(title='Back to Top' href='#home')
        i.fa.fa-long-arrow-up(aria-hidden='true')
script(src='/static/home/js/jquery-2.1.3.min.js')
script(src='/static/home/js/plugins.js')
script(src='/static/home/js/main.js')