doctype html
html(lang='en')
  head
    title ARENA
    meta(charset='UTF-8')
    meta(name='description', content='Arena Landing Page')
    meta(name='keywords', content='arena, bphc, sports, fest, bits, pilani')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='DoTA')
    script(type='text/javascript', src='/public/static/scripts/home.js')
    link(rel='stylesheet', type='text/css', href='/public/static/stylesheets/home.style.css')
  body.background
    .arena-logo
      img(src='/public/static/images/Arena_logo.png', alt='Arena Logo')
    .heading
      p
      p ARENA
      h4 Where Legends are Born
    .countdown
      div
        #cntDay
          p
        #cntHrs
          p
        #cntMin
          p
        #cntSec
          p
    .dates
      p
        | 25
        sup th
        |  January - 28
        sup th
        |  January
