link(rel='stylesheet', href='/static/stylesheets/jquery.fullPage.2.css')
link(rel='stylesheet', href='/static/stylesheets/animate.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', type='text/css', href='/static/fonts/flaticon/font.css')
script(src='/static/lib/bootstrap.min.js')
script(src='/static/lib/jquery-ui.min.js')
.module-home.immersive-wrapper.unloaded
  .elements-navigation
    .baseline
      .precision-intro
        span.montserrat.text-baseline(style='margin-left:10px; font-weight:700; line-height:75px; text-transform:uppercase;')
          a(href='https://bits-pearl.org/static/data/Brochure.pdf') Download Sponsorship Brochure
    .links
      .follow-icon
        a(href='https://www.facebook.com/bitspearl/')
          i.flaticon-facebook-logo
        a(href='https://twitter.com/pearl_bitsh')
          i.flaticon-twitter-logo-silhouette
        //- <a href="https://plus.google.com/109191267979904561298"><span class="flaticon-google-plus"></span></a>
        a(href='https://www.instagram.com/pearl.bitsh/')
          span.flaticon-instagram-logo
      a.link-contact(href='#Contact') CONTACT
    .border-bottom
    .border-top
    .border-left
    .border-right
  .fullpage
    .fp-section.bordered-out.text-center.intro
      .container-banner.fadeIn(style='height:100vh !important;')
        .one.animate-bg
          video(autoplay playsinline muted loop)
            source(src='/static/images/landing/Wanderlust_Cover.mp4', type='video/mp4')
        .row
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-lg-offset-3.col-sm-8.col-sm-offset-2.col-xs-12.text-center.is-animated_logo
            //- <img class="logo-site" src="img/logo_white.png" alt=""/>
            .logo-site
              span.title WANDERLUST
              .subtext
                | For as long as we can remember we have travelled the world letting all the new experiences fill us with awe. We thought its time we celebrated the craving.
        .low-band
          .row.row-eq-height
            .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-md-offset-4.col-xs-12.text-center.vertical-bot.is-animated_link
              a(href='#Expertise')
                img.arrow-pop(src='/static/images/landing/arrow-pop.png', alt='')
                img(src='/static/images/landing/slide2.png', alt='')
    .fp-section.second.bg-g
      .row.row-eq-height
        .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12.text-center.vertical-bot(style='color:white;')
          p.text-center.is-animated__single
            span.herr.yellow.calque-360  2018
          p.is-animated
            span.demo.montserrat.black.intro-text
              span.light
                | AFTER 8 EDITIONS OF PEARL
                br
              span.bold(style='font-weight:700;')
                | WE ARE MAKING IT
                br
                |                                     BIGGER, BETTER &amp; LIVELIER
    .fp-section.bordered-out.text-center.third
      .container-banner.is-animated__container
        .two
        .bg-title-section
          .row.container-header
            .center-header.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12.col-xs-12.text-left.white(style='font-weight:700; font-size:100px; line-height:120px; position:absolute; top:0; bottom:0; left:0; right:0;')
              b.line-big-title.animated
                span.line COME HAVE
                span.yellow.line A GOOD TIME.
                span.line CHECK OUT
                span.line WHAT'S PLANNED
          .low-band
            .row.row-eq-height
              .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-12.text-center.vertical-bot.is-animated__slide
                a(href='#Projets')
                  img.arrow-pop(src='/static/images/landing/arrow-pop.png', alt='')
                  img(src='/static/images/landing/slide2.png', alt='')
    .fp-section.fourth.bg-g
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
          .little-title.herr.yellow.section-title Explore
          .big-title.montserrat.black.section-subtitle Events
      br.delete-mobile
      br.delete-mobile
      br.delete-mobile
      .row
        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1.text-center.padding-responsive
          .row.row-eq-height
            a.col-lg-3.col-md-3.col-sm-12.col-xs-12.text-center.is-animated__column.bg-gf.pluri-competence(href="/events#Competitions")
              div
                .little-title.herr Competitions
                //- .bold-title.montserrat.black Marque
              span.little-spacer
              p CATHARSIS FILM FESTIVAL
              p TILL DEAF DO WE PART
              p TERPSICHORE
              p GLITTERATI
              p AND MORE...
            a.col-lg-3.col-md-3.col-sm-12.col-xs-12.text-center.is-animated__column.bg-gf.pluri-competence(href="/events#Workshops")
              div
                .little-title.herr Informals
                //- .bold-title.montserrat.black Web
              span.little-spacer
              p COMING SOON
            a.col-lg-3.col-md-3.col-sm-12.col-xs-12.text-center.is-animated__column.bg-gf.pluri-competence(href="/events#Talks")
              div
                .little-title.herr Talks
                //- .bold-title.montserrat.black DIGITALE
              span.little-spacer
              p COMING SOON
            a.col-lg-3.col-md-3.col-sm-12.col-xs-12.text-center.is-animated__column.bg-gf.pluri-competence(href="/events#Proshows")
              div
                .little-title.herr Shows
                //- .bold-title.montserrat.black PRINT
              span.little-spacer
              p COMING SOON
    .fp-section.fifth.bg-g.reset-mobile-size
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
          .little-title.herr.yellow.section-title Meet our previous
          .big-title.montserrat.black.section-subtitle Sponsors
      br
      br
      br
      .row.hide-mobile
        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/sponsors/telanganatourism.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/sponsors/sbh.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/sponsors/4.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/sponsors/timesofindia.png', alt='')
      .row.hide-mobile
        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/sponsors/16.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/sponsors/12.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/sponsors/7.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/sponsors/8.png', alt='')
    .fp-section.bordered-out.text-center.sixth.hide-mobile
      .container-banner.is-animated__container
        .three
        .bg-title-section
          .row.container-header
            .center-header.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12.col-xs-12.text-left.white(style='font-weight:700; font-size:100px; line-height:120px; position:absolute; top:0; bottom:0; left:0; right:0;')
              b.line-big-title.animated
                span.line SEE WHAT
                span.line
                  span.yellow OUR GUESTS
                span.line HAD TO SAY
                span.line ABOUT US
          .low-band
            .row.row-eq-height
              .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-12.text-center.vertical-bot.is-animated__slide
                a(href='#Realisations')
                  img.arrow-pop(src='/static/images/landing/arrow-pop.png', alt='')
                  img(src='/static/images/landing/slide2.png', alt='')
    .fp-section.bg-g.references
      .row.row-eq-height.slider
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(/static/images/landing/testimonials/nucleya.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project NUCLEYA
                .slide-description.rocksalt.yellow
                  | We're the best they've got
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.printed(style='background: url(/static/images/landing/testimonials/sashi.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project SHASHI THAROOR
                .slide-description.rocksalt.yellow
                  | Fucking peasants
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.printed(style='background: url(/static/images/landing/testimonials/wolf.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project WOLFMOTHER
                .slide-description.rocksalt.yellow
                  | Kya chutiya log hai Behnchod!
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.printed(style='background: url(/static/images/landing/testimonials/vishal.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project VISHAL / SHEKHAR
                .slide-description.rocksalt.yellow
                  | Audi kaafi achha hai
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(/static/images/landing/testimonials/indianjam.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project INDIAN JAM PROJECT
                .slide-description.rocksalt.yellow
                  | Mazaa aa gaya
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(/static/images/landing/testimonials/abish.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project ABISH MATHEW
                .slide-description.rocksalt.yellow
                  | I wish I'd never come
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(/static/images/landing/testimonials/farhan.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project FARHAN AKHTAR
                .slide-description.rocksalt.yellow
                  | They're the worst audience ever
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(/static/images/landing/testimonials/sonu.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project SONU NIGAM
                .slide-description.rocksalt.yellow
                  | compagnie de taxis
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(/static/images/landing/testimonials/zakir.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project ZAKIR KHAN
                .slide-description.rocksalt.yellow
                  | fromagerie en ligne
        .control-left.left
          img(src='/static/images/landing/left-arrow.png', alt='', intermin='1', intermax='3')
        .control-right.right
          img(src='/static/images/landing/right-arrow.png', alt='')
    .fp-section.bordered-out.text-center.height
      .container-banner.is-animated__container
        .four
        .bg-title-section
          .row.container-header
            .center-header.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12.col-xs-12.text-left.white(style='font-weight:700; font-size:100px; line-height:120px; position:absolute; top:0; bottom:0; left:0; right:0;')
              b.line-big-title.animated
                span.line FIND
                span.yellow.line YOUR WAY
                span.line TO HERE
          .low-band
            .row.row-eq-height
              .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-12.text-center.vertical-bot.is-animated__slide
                a(href='#Contact')
                  img.arrow-pop(src='/static/images/landing/arrow-pop.png', alt='')
                  img(src='/static/images/landing/slide2.png', alt='')
    .fp-section.nineth.bg-g
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
          .little-title.herr.yellow.section-title Get in touch
          .big-title.montserrat.black.section-subtitle Contact Us
      br
      br
      .row
        .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2.is-animated__data.contact-line
          .row.contacts
            .col-lg-4.col-md-12.col-sm-12.col-xs-12.text-center.mobile-text-center
              b(style='text-transform:uppercase;') Abhinav Eittireddy
              br
              p
                | President
                br
                a(href='tel:+9542929354') 9542929354
            .col-lg-4.col-md-12.col-sm-12.col-xs-12.text-center.mobile-text-center
              b(style='text-transform:uppercase;') Manas Bansal
              br
              p
                | Sponsorship &amp; Marketing
                br
                a(href='tel:+9666131548') 9666131548
            .col-lg-4.col-md-12.col-sm-12.col-xs-12.text-center.mobile-text-center
              b(style='text-transform:uppercase;') Chandan Kumar
              br
              p
                | Cultural Secretary
                br
                a(href='tel:+7660002320') 7660002320
          br
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.mobile-text-center
              b.bold.phone-number(style='font-size:35px;')
                a(href='mailto:pearl@hyderabad.bits-pilani.ac.in')
                  b pearl@hyderabad.bits-pilani.ac.in
  script(src='/static/lib/jquery.fullPage.js')
  script(src='/static/scripts/home.js')
  script.
    setTimeout(function() { $(".nav").fadeIn(700); }, 2200);
    $(document).on('click', '.scroll-project', function(e) {
      e.preventDefault();
      var elpos = $(this).offset();
      console.log(elpos);
      $('.modal').animate({
      scrollTop: elpos.top,
      }, 1000);
    });
    $(document).on('click', '.white-slide', function(e) {
      e.preventDefault();
      console.log("bon click");
      $('.modal').animate({ scrollTop: 1 }, 1000);
    });
    $(document).on('click', '.left', function() { Slide($(this)); });
    $(document).on('click', '.right', function() { Slide($(this)); });
    function Slide(btn) {
      if (btn.hasClass('right')) {
        if ($('.animate-hided').length > 0) {
          $('.animate-hided').addClass('hided');
          $('.animate-show').addClass('printed').removeClass('animate-show');
          $('.animate-hided').removeClass('animate-hided');
        }
        $('.slidum').eq(1).removeClass("printed");
        $('.hided').eq(1).addClass("animate-show");
        $('.slidum').eq(1).addClass("animate-hided");
        $('.slidum').eq(4).removeClass("hided");
        $('.slider').append($('.slidum').eq(0));
      }
      if (btn.hasClass('left')) {
        if ($('.animate-hided').length > 0) {
          $('.animate-hided').addClass('hided');
          $('.animate-show').addClass('printed').removeClass('animate-show');
          $('.animate-hided').removeClass('animate-hided');
        }
        $('.slidum').eq(0).addClass('animate-show').removeClass("hided");
        var lastSlide = $('.slidum').length;
        $('.slider').prepend($('.slidum:last'));
        $('.printed').eq(2).removeClass('printed').addClass("animate-hided");
      }
    }
    $("body").keydown(function(e) {
      if (e.keyCode == 37) { // left
        if ($('.animate-hided').length > 0) {
          $('.animate-hided').addClass('hided');
          $('.animate-show').addClass('printed').removeClass('animate-show');
          $('.animate-hided').removeClass('animate-hided');
        }
        $('.slidum').eq(0).addClass('animate-show').removeClass("hided");
        var lastSlide = $('.slidum').length;
        $('.slider').prepend($('.slidum:last'));
        $('.printed').eq(2).removeClass('printed').addClass("animate-hided");
      } else if (e.keyCode == 39) { // right
        if ($('.animate-hided').length > 0) {
          $('.animate-hided').addClass('hided');
          $('.animate-show').addClass('printed').removeClass('animate-show');
          $('.animate-hided').removeClass('animate-hided');
        }
        $('.slidum').eq(1).removeClass("printed");
        $('.hided').eq(1).addClass("animate-show");
        $('.slidum').eq(1).addClass("animate-hided");
        $('.slidum').eq(4).removeClass("hided");
        $('.slider').append($('.slidum').eq(0));
      }
    });
    $(window).scroll(function() {
      /* Check the location of each desired element */
      $('.hideme').each(function(i) {
        var bottom_of_object = $(this).offset().top + $(this).outerHeight();
        var bottom_of_window = $(window).scrollTop() + $(window).height();
        /* If the object is completely visible in the window, fade it it */
        if (bottom_of_window > bottom_of_object) {
          $(this).animate({ 'opacity': '1' }, 500);
        }
      });
    });
    (function($) {
      $.fn.visible = function(partial) {
        var $t = $(this),
        $w = $(window),
        viewTop = $w.scrollTop(),
        viewBottom = viewTop + $w.height(),
        _top = $t.offset().top,
        _bottom = _top + $t.height(),
        compareTop = partial === true ? _bottom : _top,
        compareBottom = partial === true ? _top : _bottom;
        return ((compareBottom <= viewBottom) && (compareTop >= viewTop));
      };
    })(jQuery);
    $('.modal').on("scroll", function() {
      $(".module").each(function(i, el) {
      var el = $(el);
        if (el.visible(true)) {
          el.addClass("come-in");
        }
      });
    });
