link(href='/static/stylesheets/home.style.css', rel='stylesheet')
link(rel='stylesheet' href='/static/home/base.css')
link(rel='stylesheet' href='/static/home/vendor.css')
link(rel='stylesheet' href='/static/home/main.css')
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:400,500,700") 
script(src='/static/home/js/modernizr.js')
script(src='/static/home/js/pace.min.js')
//- #preloader
  #loader
.immersive-wrapper.hash-home
  section#home
    .gird-overlay
    .home-content-table
      .home-content-tablecell
        .row
          .col-twelve
            //
              <h1 class="animate-intro letters">
              ARENA<br>
              </h1>
              <h3 class="animate-intro">Where legends are born.</h3>
            .animate-intro.logocontent
              span.logo-circle
                span.logo-buddha
                span.logo-charminar
                span.logo-hcity
                span.logo-metro
                span.logo-letters
            .more.animate-intro
              a.button.stroke.events-button(href='/events')
                | Events
              a.button.stroke.ca-button(href='/events')
                | Campus Ambassador
          // end col-twelve
        // end row
      // end home-content-tablecell
    // end home-content-table
    ul.home-social-list
      li.animate-intro
        a(href='https://www.facebook.com/bits.arena/')
          i.fa.fa-facebook-square
      li.animate-intro
        a(href='https://twitter.com/BITS_Arena')
          i.fa.fa-twitter
      li.animate-intro
        a(href='https://www.instagram.com/bits_arena/')
          i.fa.fa-instagram
    // end home-social-list
    .scrolldown
      a.scroll-icon.smoothscroll(href='#about')
        | Scroll Down&#x9;&#x9;   &#x9;
        i.fa.fa-long-arrow-right(aria-hidden='true')
  // end home
  //
    about
    ==================================================
  section#about
    .row.about-wrap
      .col-full
        .about-profile-bg
        .intro
          h3.animate-this About Us
          p.lead.animate-this
            span Arena 
            | is one of the biggest sporting festivals conducted in India. This year we plan on hosting the 7th edition of Arena, Arena &apos;19. Keeping up with the ambitions and ex&shy;pectations from a campus such as ours, we are envisioning an Arena bigger, grander and more thrilling than ever before.
      // end col-full
    // end about-wrap
  // end about
  //
    footer
    ==================================================
  footer
    .footer-main
      .row
        .contactustext
          .contactus
            p(id= "contactusp") CONTACT US
          .between
          .contacts
            .contact_divb
              .contact_div
                span| Sohith Deva 
                p
                  | Sports Secretary 
                  br
                  | 7997084524
              .contact_div
                span| Kritika Kasliwal 
                p
                  | Sports Secretary 
                  br
                  | 7997083711
              .contact_div
                span Aman Syed
                p
                  | President
                  br
                  | 8790359970
            .contact_divb
              .contact_div
                span| Jayakanth Teegala 
                p
                  | Publicity &amp; Public relations
                  br
                  | 9502637212
              .contact_div
                span| Pavan Teja Macharla 
                p
                  | Reg &amp; Accom
                  br
                  | 8187080393
              .contact_div
                span| Yashwanth Vutla
                p
                  | Sponsorship &amp; Marketing
                  br
                  | 9494943995
            .contact_div
              p
                | Mail us at 
                b arena@hyderabad.bits-pilani.ac.in
      
    .footer-bottom
      .row
        .col-twelve
        
    #go-top
      a.smoothscroll(title='Back to Top' href='#home')
        i.fa.fa-long-arrow-up(aria-hidden='true')
script(src='/static/home/js/jquery-2.1.3.min.js')
script(src='/static/home/js/plugins.js')
script(src='/static/home/js/main.js')