link(rel="stylesheet" href="/static/atmos-19/css/bootstrap-grid.min.css")
<!-- OOF TEST ME -->
link(href='https://fonts.googleapis.com/css?family=Cardo&display=swap' rel='stylesheet')
link(rel="stylesheet" href="/static/atmos-19/css/main.css")
script(src="static/atmos-19/js/smooth-scroll.js")
script(src="static/atmos-19/js/main.js")


.page.landing
  .container.atmos-19
    .row
      .col-12
        .logo-feature.text-center
          img.logo-feature-image(src="/static/atmos-19/img/atmos-logo.png")
    .row.uppercase.timer-wrapper
      .col-12.timer-col
        .timer
          .timer-circle
            span.atmos-days XX
          .timer-colon :
          .timer-circle
            span.atmos-hours XX
          .timer-colon :
          .timer-circle
            span.atmos-minutes XX
      .col-4.timer-text Days
      .col-4.timer-text Hours
      .col-4.timer-text Mins
      .col-12
        .atmos-date-text.text-center
          span October
          span.orange 18
            sup th
            |- 20
            sup th
      .col-12.landing-buttons
        a.landing-button#learn-more Learn More
        a.landing-button(href="#") Book Tickets




.page.about-us-page#about-us
  .container.atmos-19
    .row
      .col-12.text-center.pos-relative
        .aboutus-heading
          h2  ABOUT US 
        .descp
          p.about-us-text
            | Gone are the days of Geocities sites with their hardcoded,
            | never-changing HTML. Sites and apps today are dynamic and
            | interactive. Our job as designers is to make it so that the
            | interface through which they interact with our web UI design is as close to ideal as possible.
        .wheel-image
        .register-button
          span REGISTER

.page.contact-us-page#contact-us
  .container.atmos-19
    .row
      .col-md-6
        .col-12.text-center
          .contact-find
            h3 FIND US
        .col-12.social-item.social-group
          span.social-icon
            img(src="static/atmos-19/img/facebook-logo.svg")
          span.social-text
            a(href="#") facebook.com/atmos
        .col-12.social-item
          span.social-icon
            img(src="static/atmos-19/img/instagram-logo.svg")
          span.social-text
            a(href="#") facebook.com/atmos
        .col-12.social-item
          span.social-icon
            img(src="static/atmos-19/img/close-envelope.svg")
          span.social-text
            a(href="#") facebook.com/atmos
      .col-md-6
        .col-12.text-center
          h3.contact-contact Contact Us
        .col-12.social-group
          .social-item.wrapper-div
            div.social-icon.center-div-l
              img(src="static/atmos-19/img/phone-receiver.svg")
            div.social-text.center-div-r
              span.person-name Nikhil Peruru
              br
              span.person-contact President
            .clearfix
          .social-item.wrapper-div
            div.social-icon.center-div-l
              img(src="static/atmos-19/img/phone-receiver.svg")
            div.social-text.center-div-r
              span.person-name Shaaban Karim
              br
              span.person-contact Technical Secretary
            .clearfix
          .social-item.wrapper-div
            div.social-icon.center-div-l
              img(src="static/atmos-19/img/phone-receiver.svg")
            div.social-text.center-div-r
              span.person-name Meghana V.
              br
              span.person-contact Publicity Head
            .clearfix
      .col-12.locate-us.text-center
          img.location-pin(src="static/atmos-19/img/maps-and-flags.svg")
          h3 Locate Us
