link(href="/static/stylesheets/home.style.css" rel="stylesheet")
div.immersive-wrapper
    div.underlay
    div.container
        div.logo
            img(src="/static/images/logo.png")
        div.countdown
            div#count
            span DAYS TO GO
script(src="/static/scripts/home.js")