link(href='/static/stylesheets/home.style.css', rel='stylesheet')
link(rel='stylesheet', href='/static/stylesheets/jquery.fullPage.2.css')
link(rel='stylesheet', href='/static/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/static/stylesheets/animate.css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(href='https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff|Montserrat:300,900', rel='stylesheet')
link(rel='stylesheet', type='text/css', href='/static/fonts/flaticon/font.css')
script(src='/static/lib/bootstrap.min.js')
script(src='/static/lib/jquery-ui.min.js')
.module-home.immersive-wrapper
    //- .sponsors
    //-   .heading
    //-     .subheading PREVIOUS
    //-     span SPONSORS
    //-    .item
    //-     .logo
    //-      img(src='/static/images/sponsors/1.png')
    //-     .desc Title Sponsor
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/2.png')
    //-     .desc Co-Title Sponsor
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/3.png')
    //-     .desc In Association With
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/4.png')
    //-     .desc In Association With
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/5.png')
    //-     .desc Powered By
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/6.png')
    //-     .desc Exclusive Partner-Bollywood Night
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/7.png')
    //-     .desc Exclusive Partner-EDM Night
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/8.png')
    //-     .desc Exclusive Partner-Fusion Night
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/9.png')
    //-     .desc Exclusive Partner-Comedy Night
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/10.png')
    //-     .desc Associate Sponsor
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/11.png')
    //-     .desc Till Deaf Do We Part Sponsor
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/12.png')
    //-     .desc Food Fest Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/13.png')
    //-     .desc Terpsichore Title Sponsor
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/14.png')
    //-     .desc Special Association
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/15(1).png')
    //-     .desc Education Partners
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/15(2).png')
    //-     .desc Education Partners
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/15(3).png')
    //-     .desc Education Partners
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/16.png')
    //-     .desc Mobility Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/17.png')
    //-     .desc Deodrant Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/19.png')
    //-     .desc Travel Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/20.png')
    //-     .desc Cabs Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/21.png')
    //-     .desc Dare Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/22.png')
    //-     .desc Online Music Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/23.png')
    //-     .desc Online Shopping Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/24.png')
    //-     .desc Talent Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/25(1).png')
    //-     .desc Media Partners
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/25(2).png')
    //-     .desc Media Partners
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/26.png')
    //-     .desc Online Publicity Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/27.png')
    //-     .desc Online Publicity Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/28.png')
    //-     .desc Digital Talent Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/29.png')
    //-     .desc SMS Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/30.png')
    //-     .desc Coupons Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/31.png')
    //-     .desc Printing Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/32.png')
    //-     .desc Steel Partner
    //-   .item
    //-     .logo
    //-      img(src='/static/images/sponsors/33.png')
    //-     .desc Poker Partner
  .elements-navigation
    span.nav
      svg(width='30', id='', viewbox='0 0 24 24', style='enable-background:new 0 0 24 24;', xml:space='preserve')
        line.nav-btn(x1='2', y1='12', x2='22', y2='12')
        line.nav-btn(x1='2', y1='6', x2='22', y2='6')
        line.nav-btn(x1='2', y1='18', x2='22', y2='18')
    .baseline
      .precision-intro
        span.montserrat.text-baseline(style='margin-left:10px; font-weight:700; line-height:75px; text-transform:uppercase;')
          a(href='#Projets') Download Sponsorship Brochure
    .links
      .follow-icon
        a(href='https://www.facebook.com/bitspearl/')
          i.flaticon-facebook-logo
        a(href='https://twitter.com/pearl_bitsh')
          i.flaticon-twitter-logo-silhouette
        // <a href="https://plus.google.com/109191267979904561298"><span class="flaticon-google-plus"></span></a>
        a(href='https://www.instagram.com/pearl.bitsh/')
          span.flaticon-instagram-logo
      a.link-contact(href='#Contact') CONTACT
    .border-bottom
    .border-top
    .border-left
    .border-right
  .fullpage
    .fp-section.bordered-out.text-center.intro
      .container-banner.fadeIn(style='height:100vh !important;')
        .one.animate-bg
          video(autoplay='', playsinline='', muted='', loop='')
            source(src='/static/images/landing/Wanderlust_Cover.mp4', type='video/mp4')
        .row
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-lg-offset-3.col-sm-8.col-sm-offset-2.col-xs-12.text-center.is-animated_logo
            //- <img class="logo-site" src="img/logo_white.png" alt=""/>
            .logo-site
              span.title WANDERLUST
              .subtext
                | For as long as we can remember we have travelled the world looking at all the new experiences with awe. We thought its time we celebrated the feeling.
        .low-band
          .row.row-eq-height
            .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-md-offset-4.col-xs-12.text-center.vertical-bot.is-animated_link
              a(href='#Expertise')
                img.arrow-pop(src='/static/images/landing/arrow-pop.png', alt='')
                img(src='/static/images/landing/slide2.png', alt='')
    .fp-section.second.bg-g
      .row.row-eq-height
        .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12.text-center.vertical-bot(style='color:white;')
          p.text-center.is-animated__single
            span.herr.yellow.calque-360  360°
          p.is-animated
            span.demo.montserrat.black.intro-text
              span.light
                | NOTRE EXPERTISE AU SERVICE DE
                br
              span.bold(style='font-weight:700;')
                | VOTRE COMMUNICATION GLOBALE :
                br
                |                                     IDENTITE, STRATEGIE, WEB &amp; PRINT
    .fp-section.bordered-out.text-center.third
      .container-banner.is-animated__container
        .two
        .bg-title-section
          .row.container-header
            .center-header.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12.col-xs-12.text-left.white(style='font-weight:700; font-size:100px; line-height:120px; position:absolute; top:0; bottom:0; left:0; right:0;')
              b.line-big-title.animated
                span.line VOUS
                span.yellow.line ACCOMPAGNER
                span.line DANS TOUS VOS
                span.line PROJETS
          .low-band
            .row.row-eq-height
              .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-12.text-center.vertical-bot.is-animated__slide
                a(href='#Projets')
                  img.arrow-pop(src='/static/images/landing/arrow-pop.png', alt='')
                  img(src='/static/images/landing/slide2.png', alt='')
    .fp-section.fourth.bg-g
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
          .little-title.herr.yellow.section-title Découvrez
          .big-title.montserrat.black.section-subtitle Nos métiers
      br.delete-mobile
      br.delete-mobile
      br.delete-mobile
      .row
        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1.text-center.padding-responsive
          .row.row-eq-height
            .col-lg-3.col-md-3.col-sm-12.col-xs-12.text-center.is-animated__column.bg-gf.pluri-competence
              div
                .little-title.herr Univers de
                .bold-title.montserrat.black Marque
              hr.little-spacer
              p(style='text-transform:uppercase;') IDENTITÉ VISUELLE
              p(style='text-transform:uppercase;') CHARTE GRAPHIQUE
              p(style='text-transform:uppercase;') VISUELS PUBLICITAIRES
              p(style='text-transform:uppercase;') UNIVERS, BOARDS
              p(style='text-transform:uppercase;') SHOOTING PHOTO
              p(style='text-transform:uppercase;') CAPTATION VIDÉO
            .col-lg-3.col-md-3.col-sm-12.col-xs-12.text-center.is-animated__column.bg-gf.pluri-competence
              div
                .little-title.herr Créations
                .bold-title.montserrat.black Web
              hr.little-spacer
              p(style='text-transform:uppercase;') WEBDESIGN
              p(style='text-transform:uppercase;') DÉVELOPPEMENT
              p(style='text-transform:uppercase;') SITE VITRINE
              p(style='text-transform:uppercase;') SITE CORPORATE
              p(style='text-transform:uppercase;') SITE E-COMMERCE
              p(style='text-transform:uppercase;') MISE EN RELATION
              p(style='text-transform:uppercase;') AUDIT, MAINTENANCE
            .col-lg-3.col-md-3.col-sm-12.col-xs-12.text-center.is-animated__column.bg-gf.pluri-competence
              div
                .little-title.herr Stratégie
                .bold-title.montserrat.black DIGITALE
              hr.little-spacer
              p(style='text-transform:uppercase;') SEO, ADWORDS
              p(style='text-transform:uppercase;') RÉSEAUX SOCIAUX
              p(style='text-transform:uppercase;') CONCEPT VIRAL
              p(style='text-transform:uppercase;') JEU CONCOURS
              p(style='text-transform:uppercase;') CONTENU RÉDACTIONNEL
              p(style='text-transform:uppercase;') BANNIÈRES, EMAILINGS
              p(style='text-transform:uppercase;') MOTION DESIGN
            .col-lg-3.col-md-3.col-sm-12.col-xs-12.text-center.is-animated__column.bg-gf.pluri-competence
              div
                .little-title.herr Supports
                .bold-title.montserrat.black PRINT
              hr.little-spacer
              p(style='text-transform:uppercase;') PLAQUETTE
              p(style='text-transform:uppercase;') CATALOGUE
              p(style='text-transform:uppercase;') PACKAGING
              p(style='text-transform:uppercase;') AFFICHAGE
              p(style='text-transform:uppercase;') ROLL-UP
              p(style='text-transform:uppercase;') KAKÉMONOS
    .fp-section.fifth.bg-g.reset-mobile-size
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
          .little-title.herr.yellow.section-title Ils nous font
          .big-title.montserrat.black.section-subtitle Confiance
      br
      br
      br
      .row.hide-mobile
        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/landing/clients/g7.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/landing/clients/delarte.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/landing/clients/servier.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/landing/clients/look.png', alt='')
      .row.hide-mobile
        .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/landing/clients/sodezign.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/landing/clients/assurland.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/landing/clients/lnf.png', alt='')
          .col-lg-3.col-md-3.col-sm-6.col-xs-6.text-center.margin-client.is-animated__client
            .bg-gf.p25
              img(src='/static/images/landing/clients/launay.png', alt='')
    .fp-section.bordered-out.text-center.sixth.hide-mobile
      .container-banner.is-animated__container
        .three
        .bg-title-section
          .row.container-header
            .center-header.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12.col-xs-12.text-left.white(style='font-weight:700; font-size:100px; line-height:120px; position:absolute; top:0; bottom:0; left:0; right:0;')
              b.line-big-title.animated
                span.line VOUS
                span.line
                  span.yellow PROPOSER
                span.line LES MEILLEURES
                span.line RÉALISATIONS
          .low-band
            .row.row-eq-height
              .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-12.text-center.vertical-bot.is-animated__slide
                a(href='#Realisations')
                  img.arrow-pop(src='/static/images/landing/arrow-pop.png', alt='')
                  img(src='/static/images/landing/slide2.png', alt='')
    .fp-section.bg-g.references
      .row.row-eq-height.slider
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(images/landing/janssen.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project Janssen
                .slide-description.herr.yellow
                  | laboratoires
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.printed(style='background: url(images/landing/trattoria.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project Trattoria
                .slide-description.herr.yellow
                  | by del arte
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.printed(style='background: url(images/landing/sodezign.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project Sodezign
                .slide-description.herr.yellow
                  | meubles design
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.printed(style='background: url(images/landing/launay.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project Groupe Launay
                .slide-description.herr.yellow
                  | promoteur immobilier
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(images/landing/dare.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project Dare
                .slide-description.herr.yellow
                  | by ipsen
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(images/landing/clickandcare.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project Click &amp; care
                .slide-description.herr.yellow
                  | aide à la personne
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(images/landing/servier.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project Random
                .slide-description.herr.yellow
                  | laboratoires
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(images/landing/transat.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project Adalksjd
                .slide-description.herr.yellow
                  | agence de voyage
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(images/landing/g7.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project Adasdee
                .slide-description.herr.yellow
                  | compagnie de taxis
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(images/landing/lnf.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project Rsdfs
                    | Les nouveaux
                    br
                    |  fromagers
                .slide-description.herr.yellow
                  | fromagerie en ligne
        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center.slidum.hided(style='background: url(images/landing/mybpmatters.jpg) center;')
          div
            .row
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
                h2.slide-title.montserrat.white.test-title
                  a.open-project Voww
                .slide-description.herr.yellow
                  | by Servier
        .control-left.left
          img.arrow-counter(src='/static/images/landing/left-arrow.png', alt='', intermin='1', intermax='3')
        .control-right.right
          img(src='/static/images/landing/right-arrow.png', alt='')
    .fp-section.bordered-out.text-center.height
      .container-banner.is-animated__container
        .four
        .bg-title-section
          .row.container-header
            .center-header.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-12.col-xs-12.text-left.white(style='font-weight:700; font-size:100px; line-height:120px; position:absolute; top:0; bottom:0; left:0; right:0;')
              b.line-big-title.animated
                span.line ÊTRE
                span.yellow.line DISPONIBLE
                span.line POUR VOUS
          .low-band
            .row.row-eq-height
              .col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-12.text-center.vertical-bot.is-animated__slide
                a(href='#Contact')
                  img.arrow-pop(src='/static/images/landing/arrow-pop.png', alt='')
                  img(src='/static/images/landing/slide2.png', alt='')
    .fp-section.nineth.bg-g
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.title
          .little-title.herr.yellow.section-title N'attendez-plus
          .big-title.montserrat.black.section-subtitle Contactez-nous
      .row.is-animated__form
        .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1(style='visibility: visible; animation-name: pulse;')
          .wpb_raw_code.wpb_content_element.wpb_raw_html
            .wpb_wrapper
              form#contactForm(method='post', action='http://www.licornpublishing.com/SITE')
                p.error
                #inputContainer
                  input#email(value='VOTRE MAIL', data-empty='true', name='email', type='text')
                  input#tel(value='VOTRE TELEPHONE', data-empty='true', name='tel', type='text')
                  textarea#message(type='text', data-empty='true', name='message') VOTRE MESSAGE
                  span.success Votre message a bien été envoyé
                  span.steps
                    strong 01
                    |  / 03
                  span#nextStep.submit
                  input#comment(name='comment', value='', type='text')
                  input#submitContact(name='submitContact', value='Envoyer', type='submit')
                span.progressBar
                  span
      .row
        .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2.is-animated__data.contact-line
          .row.contacts
            .col-lg-4.col-md-12.col-sm-12.col-xs-12.text-left.mobile-text-center
              b(style='text-transform:uppercase;') Siège Social
              br
              p 101 Rue de Sèvres, 75006 PARIS
            .col-lg-4.col-md-12.col-sm-12.col-xs-12.text-left.mobile-text-center
              a(href='https://www.google.fr/maps/place/LICORN+PUBLISHING/@48.098922,-1.6837633,17z/data=!3m1!4b1!4m5!3m4!1s0x480edfcf6d3f465b:0x766765cbb0f47057!8m2!3d48.0989184!4d-1.6815693', target='_blank')
                b(style='text-transform:uppercase;') Agence
                br
                p 48 Rue de Ginguené, 35000 RENNES
            .col-lg-4.col-md-12.col-sm-12.col-xs-12.text-right.mobile-text-center
              b.bold.phone-number(style='font-size:35px;')
                a(href='tel:+33983069368')
                  b 09 83 06 93 68
              br
              p
                a(href='mailto:contact@licornpublishing.com')  contact[@]licornpublishing.com
  script(src='/static/lib/jquery.fullPage.js')
  script(src='/static/scripts/home.js')
  script.
    setTimeout(function() { $(".nav").fadeIn(700); }, 2200);
    $(document).on('click', '.scroll-project', function(e) {
      e.preventDefault();
      var elpos = $(this).offset();
      console.log(elpos);
      $('.modal').animate({
      scrollTop: elpos.top,
      }, 1000);
    });
    $(document).on('click', '.white-slide', function(e) {
      e.preventDefault();
      console.log("bon click");
      $('.modal').animate({ scrollTop: 1 }, 1000);
    });
    $(document).on('click', '.left', function() { Slide($(this)); });
    $(document).on('click', '.right', function() { Slide($(this)); });
    function Slide(btn) {
      if (btn.hasClass('right')) {
        if ($('.animate-hided').length > 0) {
          $('.animate-hided').addClass('hided');
          $('.animate-show').addClass('printed').removeClass('animate-show');
          $('.animate-hided').removeClass('animate-hided');
        }
        $('.slidum').eq(1).removeClass("printed");
        $('.hided').eq(1).addClass("animate-show");
        $('.slidum').eq(1).addClass("animate-hided");
        $('.slidum').eq(4).removeClass("hided");
        $('.slider').append($('.slidum').eq(0));
      }
      if (btn.hasClass('left')) {
        if ($('.animate-hided').length > 0) {
          $('.animate-hided').addClass('hided');
          $('.animate-show').addClass('printed').removeClass('animate-show');
          $('.animate-hided').removeClass('animate-hided');
        }
        $('.slidum').eq(0).addClass('animate-show').removeClass("hided");
        var lastSlide = $('.slidum').length;
        $('.slider').prepend($('.slidum:last'));
        $('.printed').eq(2).removeClass('printed').addClass("animate-hided");
      }
    }
    $("body").keydown(function(e) {
      if (e.keyCode == 37) { // left
        if ($('.animate-hided').length > 0) {
          $('.animate-hided').addClass('hided');
          $('.animate-show').addClass('printed').removeClass('animate-show');
          $('.animate-hided').removeClass('animate-hided');
        }
        $('.slidum').eq(0).addClass('animate-show').removeClass("hided");
        var lastSlide = $('.slidum').length;
        $('.slider').prepend($('.slidum:last'));
        $('.printed').eq(2).removeClass('printed').addClass("animate-hided");
      } else if (e.keyCode == 39) { // right
        if ($('.animate-hided').length > 0) {
          $('.animate-hided').addClass('hided');
          $('.animate-show').addClass('printed').removeClass('animate-show');
          $('.animate-hided').removeClass('animate-hided');
        }
        $('.slidum').eq(1).removeClass("printed");
        $('.hided').eq(1).addClass("animate-show");
        $('.slidum').eq(1).addClass("animate-hided");
        $('.slidum').eq(4).removeClass("hided");
        $('.slider').append($('.slidum').eq(0));
      }
    });
    $(window).scroll(function() {
      /* Check the location of each desired element */
      $('.hideme').each(function(i) {
        var bottom_of_object = $(this).offset().top + $(this).outerHeight();
        var bottom_of_window = $(window).scrollTop() + $(window).height();
        /* If the object is completely visible in the window, fade it it */
        if (bottom_of_window > bottom_of_object) {
          $(this).animate({ 'opacity': '1' }, 500);
        }
      });
    });
    (function($) {
      $.fn.visible = function(partial) {
        var $t = $(this),
        $w = $(window),
        viewTop = $w.scrollTop(),
        viewBottom = viewTop + $w.height(),
        _top = $t.offset().top,
        _bottom = _top + $t.height(),
        compareTop = partial === true ? _bottom : _top,
        compareBottom = partial === true ? _top : _bottom;
        return ((compareBottom <= viewBottom) && (compareTop >= viewTop));
      };
    })(jQuery);
    $('.modal').on("scroll", function() {
      $(".module").each(function(i, el) {
      var el = $(el);
        if (el.visible(true)) {
          el.addClass("come-in");
        }
      });
    });
