title Atmos
meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width,initial-scale=1")
link(type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
link(type="text/css" rel="stylesheet" href="/static/dist/css/bundle.min.css")
link(href="https://fonts.googleapis.com/css?family=Audiowide|Forum" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Galada" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

div(id="player")
	audio(autoplay hidden)
		source(src="music.mp3" type="audio/mpeg")
div.loader.active
div.stats.center.animated.zoomInDown(style="display: none ; visibility: hidden;")
div.container.error.center.fadeIn(style="display: none")
	span.error-icon.icon-error
	h1.eror-title Oops, there's a problem
	p.error-info
	button.icon-rocket(type="button" onclick="top.location.reload( true )") Try again

div.container.content.center.animated.fadeIn(style="display: none;") 
	img(src = "/static/dist/images/atmos-logo.png")
	<br>
	p(style="font-family: 'Ailerons-Typeface', cursive !important; letter-spacing: 0.3em; font-size: 45px; line-spacing: 25px; line-height:0.6")  INTO THE SIXTH DIMENSION
	h3(style="font-family: 'Ailerons-Typeface', cursive !important;  font-size: 40px;") 26-28 OCTOBER
	br
	hr
	.timer(style="width: 100%")
		//- h3.timer-heading(style="font-family: 'Kirang Haerang', cursive;") 
		.timer(id="days")
		.timer(id="hours")
		.timer(id="minutes")
		.timer(id="seconds")
	br		
	button.icon-rocket(id="hyper-btn")  
		span EVENTS 
div.events.center.animated.fadeIn(style="display: none")
	div(style="margin-top: 10%")
		h1
			i(style = "font-family: 'Galada', cursive !important; font-size: 45px;") Events
	br
	div.event-list(style="float:left; position: relative; margin-left: 15%;")
		a.events-download-link(href="src/Events/Tech Expo-2018.pdf" download="") Tech Expo 2018
		br
		a.events-download-link(href="src/Events/Time versus Physics.pdf" download="") Time v/s Physics
		br  
		a.events-download-link(href="src/Events/Suit-Up.pdf" download="") Suit Up !
		br
		a.events-download-link(href="src/Events/SciTech Quiz.pdf" download="") Sci-Tech Quiz 
		br
		a.events-download-link(href="src/Events/RoboWars.pdf" download="") RoboWars
		br
		a.events-download-link(href="src/Events/Prodigal Designer.pdf" download="") Prodigal Designer
		br
		a.events-download-link(href="src/Events/Nostrum Vitae.pdf" download="") Nostrum Vitae
		br
		a.events-download-link(href="src/Events/N-Crypton.pdf" download="") N-Crypton
		br
		a.events-download-link(href="src/Events/miniGP-draft.docx.pdf" download="") Mini-GP
		br
		a.events-download-link(href="src/Events/MIDNIGHT AV QUIZ.pdf" download="") Midnight AB Quiz
		br
		a.events-download-link(href="src/Events/Manager's dilemma.pdf" download="") Manager's dilemma
		br
		a.events-download-link(href="src/Events/Law Follower.pdf" download="") Law Follower

	div.event-list(style="float: right; position: relative; margin-right: 15%;")
		a.events-download-link(href="src/Events/GameOfDrones ATMOS'18.pdf" download="") Game of Drones
		br
		a.events-download-link(href="src/Events/Cubing-Atmosphere-Rules.pdf" download="") Cubing-Atmosphere
		br
		a.events-download-link(href="src/Events/CourtRoom.pdf" download="") CourtRoom
		br
		a.events-download-link(href="src/Events/codejam_problem_statement.pdf" download="" class="events-download-link") CodeJam
		br
		a.events-download-link(href="src/Events/CODE GOLF.pdf" download="") Code Golf
		br
		a.events-download-link(href="src/Events/capture the flag_problem_statement.pdf" download="") Capture the Flag
		br
		a.events-download-link(href="src/Events/beam it draft 2018.pdf" download="") Beam it!
		br
		a.events-download-link(href="src/Events/ARC Competition for ATMOS 2018.pdf" download="Predestination") Predestination
		br
		a.events-download-link(href="src/Events/Anatomy Of Murder.pdf" download="") Anatomy of Murder
		br
		a.events-download-link(href="src/Events/ALGOMANIAC.pdf" download="") ALGOMANIAC
		br
		a.events-download-link(href="src/Events/Alchemy ATMOS Event .pdf" download="Snitch In Time") Snitch in Time
		br 
		a.events-download-link(href="src/Events/Cataclysmic Deduction.pdf" download="Cataclysmic Deduction") Cataclysmic Deduction
		br
		br 
			
		div(style="position: relative; bottom: 100px; left: 40%")
		button.icon-rocket(id="home")
			span HOME

div.share.center.animated.zoomInUp(style="display: none")
	a.btn.icon-twitter.icon-trim(data-share="twitter" href="https://twitter.com/BITSAtmos")
		span Tweet 
	a.btn.icon-facebook.icon-trim(data-share="facebook"  href="https://www.facebook.com/bits.atmos") 
		span Share

script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js")
script(src="/static/dist/js/polyfills.js")
script(src="/static/src/js/Device.js")
script(src="/static/src/js/Nebula.js")  
script(src="/static/src/js/Planets.js")    
script(src="/static/src/js/Stage.js")
script(src="/static/src/js/Stars.js")
script(src="/static/src/js/Wormhole.js")
script(src="/static/dist/js/app.js")


