link(rel="stylesheet", href="/static/stylesheets/home.style.css")
link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito")

.wrapper.face.landing
    .scroll-wrapper
        .scroll-content#page-1
            .container
                .row#main
                    .circle.col-sm-3.col-md-2.col-lg-3
                        .row
                            img(src = "/static/pearl-20/facebook.svg" alt = "fb" width = "40" height = "40" style="display:block; margin-left: 10%;margin-top:20%;")    
                        .row 
                            img(src = "/static/pearl-20/instagram.svg" alt = "insta" width = "40" height = "40" style="display:block; margin-left: 10%; margin-top:35%; ")
                    #coming.col-sm-6.col-sm-offset-1
                        picture
                            source(srcset="/static/pearl-20/Coming_soon.png", alt="Coming Soon" media="(min-width:1000px)" )
                            source(srcset="/static/pearl-20/Coming_soon2.png", alt="Coming Soon" media="(min-width:0px)" )

                            img(src="/static/pearl-20/Coming_soon.png", alt="Coming Soon" class="centerImage")
                        #icons.container
                            center 
                                    i.fa.fa-facebook-square(style="font-size:48px; color:white;") &nbsp
                                    i.fa.fa-instagram(style="font-size:48px; color:white;")    
                    .timer.col-sm-2(style="color:white;")
                        .row#d
                            b 
                            |20 
                        .row#dtxt
                            b
                            |DAYS
                        .row#blank
                        .row#m
                            b
                            |20
                        .row#mtxt
                            b
                            |HOURS
                        .row#blank
                        .row#min
                            b
                            |20
                        .row#mintxt
                            b   
                            |MINUTES
                        .row#mintxt
                            b
                            |TO   GO
                #ca
                    center
                        a(href="fest-manager/views/ambassador.jade")
                            //- img(src="/static/pearl-20/ca.png", alt="Campus Ambassador" class="centerImage")
                            button(type='button' class='btn')
                                span Campus Ambassador
                 #deaf
                    center
                        a(href="/")
                           button(type='button' class='btn')
                                span Till deaf do we part
