link(rel='stylesheet', type='text/css', href='/static/stylesheets/home.style.css')
div.slide#home
    .center
        .day
            div.dates
                span 25<sup>th</sup> to 28<sup>th</sup>
            div.month
                span January

        div.banner
            span
             a.banner(href='/scores', alt='Scores') VIEW SCORES AND UPDATES
        span.hashtag ARENA18
    .footer
        div.left
            svg(viewbox="0 0 100 50" width="100%" height="100%" preserveAspectRatio="none")
                polygon(fill="gold" points="0,0 100,50 0,50")
            svg(viewbox="0 0 100 50" width="100%" height="90%" preserveAspectRatio="none")
                polygon(fill="#FFF" points="0,0 100,50 0,50")
            div.contact
                span.designation Sports Secretary
                span.name Aastha Singh
                span.phone +91-9133235010
        div.right
            svg(viewbox="0 0 100 50" width="100%" height="100%" preserveAspectRatio="none")
                polygon(fill="#FFF" points="0,50 100,50 100,0")
            div.contact
                span.designation Sports Secretary
                span.name Kritanshu Singh
                span.phone +91-7587785794
div.slide#about
    div.center
        h2 ABOUT US
        p Sports have always been one of the primary channels used by man to quench his thirst for competition as well as promote camaraderie and unity among participants and fans alike. It is the spirit of the game that urges man to dream, push his limits, and achieve glory. Once a year, here at BITS Pilani Hyderabad Campus, we allow this spirit to entirely consume us as we host our annual sports fest, Arena. Arena is one of the biggest sporting festivals conducted in India. The preparation ahead of the fest is grueling, the buildup intense, and participation nothing short of mind blowing as we welcome competitors not only from Telangana and Andhra Pradesh but on a national level as well. This year we plan on hosting the 6th edition of Arena, Arena '18. Keeping up with the ambitions and expectations from a campus such as ours, we are envisioning an Arena bigger, grander and more thrilling than ever before. Join us as we compete to the edge of our capabilities, vie for the glory on the field and most importantly enjoy the game.
        div.contact
            i.icon-phone
            div.details
                span.designation Public Relations Head
                span.name Ajay Dirisala
                span.phone +91-9133192283
script(type='text/javascript', src='/static/scripts/home.js')
