link(rel='stylesheet', type='text/css', href='/static/stylesheets/home.style.css')
div.immersive-wrapper
    .center
        div.countdown
            span.days
            span.subtitle
                span DAYS
                span TO GO
        span.hashtag ARENA18
    .footer
        div.left
            svg(viewbox="0 0 100 50" width="100%" height="100%" preserveAspectRatio="none")
                polygon(fill="gold" points="0,0 100,50 0,50")
            svg(viewbox="0 0 100 50" width="100%" height="80%" preserveAspectRatio="none")
                polygon(fill="#FFF" points="0,0 100,50 0,50")
            div.contact
                span.designation President
                span.name Abhinav Eittireddy
                span.phone +91-9291294821
        div.right
            svg(viewbox="0 0 100 50" width="100%" height="100%" preserveAspectRatio="none")
                polygon(fill="#FFF" points="0,50 100,50 100,0")
            div.contact
                span.designation Sports Secretary
                span.name Kritanshu Singh
                span.phone +91-9291294821
script(type='text/javascript', src='/static/scripts/home.js')
