link(href='/static/stylesheets/home.style.css', rel='stylesheet')
.module-home.immersive-wrapper
  .slide.parallax
    .background
      div.face(style="/static/images/landing/background.jpg")
      div.tray
    .overlay
      div.meta.hidden
        span#meta-tagline
        a#meta-author
        span#meta-location
    .center
      img(src='/static/images/logo_white.png')

    //-   .countdown
    //-     .days(title='d')
    //-     .hours(title='h')
    //-     .minutes(title='m')
    //-     .seconds(title='s')
    .footer
      i.icon-navigate_next
  .slide.secondary
    .contact
      span.contact
        .name Chandan Kumar
        .name Cultural Secretary
        .name 7660002320
      span.contact
        .name Abhinav Eittireddy
        .name President
        .name 9542929354
      span.contact
        .name Manas Bansal
        .name Sponsorship &amp; Marketing
        .name 9666131548
    .prelims
      .heading
        .subheading REGISTER FOR
        span PRELIMS
      .links
        a(href='/prelims/kaleidoscope') Kaleidoscope
        a(href='/prelims/tilldeaf') Till Deaf Do We Part
        a(href='/prelims/terpsichore') Terpsichore
    .sponsors
      .heading
        .subheading PREVIOUS
        span SPONSORS
       .item
        .logo
         img(src='/static/images/sponsors/1.png')
        .desc Title Sponsor
      .item
        .logo
         img(src='/static/images/sponsors/2.png')
        .desc Co-Title Sponsor
      .item
        .logo
         img(src='/static/images/sponsors/3.png')
        .desc In Association With
      .item
        .logo
         img(src='/static/images/sponsors/4.png')
        .desc In Association With
      .item
        .logo
         img(src='/static/images/sponsors/5.png')
        .desc Powered By
      .item
        .logo
         img(src='/static/images/sponsors/6.png')
        .desc Exclusive Partner-Bollywood Night
      .item
        .logo
         img(src='/static/images/sponsors/7.png')
        .desc Exclusive Partner-EDM Night
      .item
        .logo
         img(src='/static/images/sponsors/8.png')
        .desc Exclusive Partner-Fusion Night
      .item
        .logo
         img(src='/static/images/sponsors/9.png')
        .desc Exclusive Partner-Comedy Night
      .item
        .logo
         img(src='/static/images/sponsors/10.png')
        .desc Associate Sponsor
      .item
        .logo
         img(src='/static/images/sponsors/11.png')
        .desc Till Deaf Do We Part Sponsor
      .item
        .logo
         img(src='/static/images/sponsors/12.png')
        .desc Food Fest Partner
      .item
        .logo
         img(src='/static/images/sponsors/13.png')
        .desc Terpsichore Title Sponsor
      .item
        .logo
         img(src='/static/images/sponsors/14.png')
        .desc Special Association
      .item
        .logo
         img(src='/static/images/sponsors/15(1).png')
        .desc Education Partners
      .item
        .logo
         img(src='/static/images/sponsors/15(2).png')
        .desc Education Partners
      .item
        .logo
         img(src='/static/images/sponsors/15(3).png')
        .desc Education Partners
      .item
        .logo
         img(src='/static/images/sponsors/16.png')
        .desc Mobility Partner
      .item
        .logo
         img(src='/static/images/sponsors/17.png')
        .desc Deodrant Partner
      .item
        .logo
         img(src='/static/images/sponsors/19.png')
        .desc Travel Partner
      .item
        .logo
         img(src='/static/images/sponsors/20.png')
        .desc Cabs Partner
      .item
        .logo
         img(src='/static/images/sponsors/21.png')
        .desc Dare Partner
      .item
        .logo
         img(src='/static/images/sponsors/22.png')
        .desc Online Music Partner
      .item
        .logo
         img(src='/static/images/sponsors/23.png')
        .desc Online Shopping Partner
      .item
        .logo
         img(src='/static/images/sponsors/24.png')
        .desc Talent Partner
      .item
        .logo
         img(src='/static/images/sponsors/25(1).png')
        .desc Media Partners
      .item
        .logo
         img(src='/static/images/sponsors/25(2).png')
        .desc Media Partners
      .item
        .logo
         img(src='/static/images/sponsors/26.png')
        .desc Online Publicity Partner
      .item
        .logo
         img(src='/static/images/sponsors/27.png')
        .desc Online Publicity Partner
      .item
        .logo
         img(src='/static/images/sponsors/28.png')
        .desc Digital Talent Partner
      .item
        .logo
         img(src='/static/images/sponsors/29.png')
        .desc SMS Partner
      .item
        .logo
         img(src='/static/images/sponsors/30.png')
        .desc Coupons Partner
      .item
        .logo
         img(src='/static/images/sponsors/31.png')
        .desc Printing Partner
      .item
        .logo
         img(src='/static/images/sponsors/32.png')
        .desc Steel Partner
      .item
        .logo
         img(src='/static/images/sponsors/33.png')
        .desc Poker Partner
script(src='/static/data/slideshow.js')
script(src='/static/scripts/home.js')
