link(href="/static/stylesheets/home.style.css" rel="stylesheet")
div.immersive-wrapper
    div.slide.parallax
        div.background
        canvas#snowscape
        canvas#mistscape
        div.center
            img(src="/static/images/logo.png")
        div.footer
            div.face PRELIMS REGISTRATIONS OPEN NOW
            div.list
                div KALEIDOSCOPE
                div TILL DEAF DO WE PART
                div TERPSICHORE

script(src="/static/scripts/home.js")