link(href='/static/stylesheets/home.style.css', rel='stylesheet')
.immersive-wrapper.hash-home
  .scroll-wrapper
    .scroll-content#page-1
    .scroll-content#page-2
    .scroll-content#page-3
    .scroll-content#page-4
    .scroll-content#page-5
script(src='/static/scripts/home.js')