doctype html
html
	head
		title Dashboard
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="/stylesheets/index.style.css" rel="stylesheet")
		link(href="/fonts/Proxima Nova/font.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet")
		//- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(type="text/javascript" src="/scripts/jquery.min.js")
		script(type="text/javascript" src="/scripts/deep-diff-0.3.8.min.js")
body
	div.window.fullsize.loading(route= route)
		div.topbar
			div#menu.button(tabindex=1)
				div.icon-menu
			span.logo(_route="/") atmos ~
			div.controls
				div.button.user(_trigger="navbar/avatar" _class_on_true="visible")
					div
						if user
							if user.githubID
								img(src="https://avatars1.githubusercontent.com/u/" + user.githubID)
							else if user.facebookID
								img(src="https://graph.facebook.com/v2.9/" + user.facebookID + "/picture?type=large")
							else
								img(src="http://www.miastograf.pl/bundles/miastografmain/images/avatar.png")
						else
							img(src="http://www.miastograf.pl/bundles/miastografmain/images/avatar.png")
				div.button(_route="/logout" _trigger="navbar/logout" _class_on_true="visible")
					div.icon-power_settings_new
				div.button(_route="/login" _trigger="navbar/login" _class_on_true="visible")
					div.icon-account_circle
		div.remnant
			div.sidebar(tabindex=2)
				div.section
					label MAIN
					li(_route="/dashboard" _trigger="sidebar/dashboard" _class_on_true="active")
						i
						span Dashboard
					li(_route="/portals" _trigger="sidebar/portals" _class_on_true="active")
						i
						span Portals
					li(_route="/events" _trigger="sidebar/events" _class_on_true="active")
						i
						span Events
					li(_trigger="sidebar/cart" _class_on_true="active")
						i
						span Cart
					li(_trigger="sidebar/account" _class_on_true="active")
						i
						span Account
					li(_trigger="sidebar/settings" _class_on_true="active")
						i
						span Settings
				div.section
					label CATEGORY
					li
						i
						span Programming
					li
						i
						span Robotics
					li
						i
						span Literature
					li
						i
						span Art
					li
						i
						span Music
					li
						i
						span Dance
			div.remnant.main
				div.wrapper.face
				div.wrapper.tray

script(type="text/javascript" src="/scripts/index.js")