doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name='Title', content='ATMOS, Technical Fest of Bits Pilani Hyderabad Campus')
		meta(name='Keywords', content='Atmos, bphc, bits, technical')
		meta(name='Description', content='ATMOS is the annual techno-management fest of Birla Institute of Technology and Science, Pilani – Hyderabad Campus. Right from its inception in 2012, it ...')
		meta(name='Language', content='English')
		meta(name='Robots', content='INDEX,FOLLOW')
		link(href="/static/stylesheets/index.style.css" rel="stylesheet")
		link(href="/static/manifest.json" rel="manifest")
		link(href="/static/fonts/Proxima Nova/font.css" rel="stylesheet")
		link(href="/static/images/favicon.png" rel="icon")
		link(href="/static/stylesheets/sweetalert.css" rel="stylesheet")
		title Atmos
		meta(name="robots" content="index, follow")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(property="og:type" content="website")
		meta(property="og:site_name" content="ATMOS, Bits Pilani Hyderabad Campus")
		meta(property="og:title" content="ATMOS, BITS Pilani Hyderabad Campus")
		meta(property="og:url" content="https://bits-atmos.org/")
		meta(property="og:image" content="https://bits-atmos.org/static/images/meta.jpg")
		meta(name="twitter:title" content="ATMOS, Bits Pilani Hyderabad Campus")
		meta(name="twitter:image" content="https://bits-atmos.org/static/images/meta.jpg")
		meta(name="twitter:card" content="ATMOS, Bits Pilani Hyderabad Campus")
		meta(name="twitter:site" content="@BITSAtmos")
body
	include mixins/loading
	+loadingAnimation()
	div.window.fullsize.loading(route= route _triggers="isImmersive=immersive")
		div.navbar(_triggers="navbar/visible=visible")
			div.wrapper
				div#menu.button(tabindex=1)
					i.icon-menu
				span.logo(_route="/")
					img(src="/static/images/logo.png")
				span.subtitle.hidden
					i.icon-navigate_next
					span.text
				div.controls
					div.button.user(_triggers="navbar/avatar=visible" _route="/dashboard")
						if user
							div
								img(src=user.profileImage)
					div.button(_route="/logout" _triggers="navbar/logout=visible")
						i.icon-power_settings_new
						div Logout
					div.button(_route="/login" _triggers="navbar/login=visible")
						i.icon-account_circle
						div Login
					div.button.close(_triggers="navbar/exit=visible")
						i.icon-close
		div.remnant
			div.sidebar(tabindex="2" _triggers="sidebar/visible=visible")
				div.wrapper
					div.section.primary
						label MAIN
						ul
							each val, key in navigation
								li(_route=val.route _triggers=val.triggers class=val.initial)
									i
									span= val.label
					div.secondary-wrapper
						div.section.secondary
							label
							ul
			div.remnant.main(tabindex="1")
				div.wrapper.face
				div.wrapper.tray

		script(type="application/ld+json" src="/static/scripts/schema.json")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(type="text/javascript" src="/static/scripts/deep-diff-0.3.8.min.js")
		script(src="/static/scripts/sweetalert.min.js" type="text/javascript")
		script(src="/static/lib/enscroll.js" type="text/javascript")
		script(type="text/javascript" src="/static/scripts/index.js")