doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="/static/stylesheets/index.style.css" rel="stylesheet")
		link(href="/static/manifest.json" rel="manifest")
		link(href="/static/fonts/Proxima Nova/font.css" rel="stylesheet")
		link(href="/static/images/logo.png" rel="icon")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet")
		//- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script( src="https://use.fontawesome.com/1523c943cd.js")
		script(type="text/javascript" src="/static/scripts/jquery.min.js")
		script(type="text/javascript" src="/static/scripts/deep-diff-0.3.8.min.js")
		script(src="/static/scripts/sweetalert.min.js" type="text/javascript")
		script(src="/static/scripts/analytics.js" type="text/javascript")
		link(href="/static/stylesheets/sweetalert.css" rel="stylesheet")

body
	div.window.fullsize.loading(route= route _triggers="isImmersive=immersive")
		div.navbar(_triggers="navbar/visible=visible")
			div.wrapper
				div#menu.button(tabindex=1)
					div.icon-menu
				span.logo(_route="/") atmos ~
				div.controls
					div.button.user(_triggers="navbar/avatar=visible" _route="/dashboard")
						div
							if user
								if user.googleID
									img(src=user.profileImage)
								else if user.facebookID
									img(src="https://graph.facebook.com/v2.9/" + user.facebookID + "/picture?type=large")
								else if user.githubID
									img(src="https://avatars1.githubusercontent.com/u/" + user.githubID)
								else
									img(src="https://www.miastograf.pl/bundles/miastografmain/images/avatar.png")
							else
								img(src="https://www.miastograf.pl/bundles/miastografmain/images/avatar.png")
					div.button(_route="/logout" _triggers="navbar/logout=visible")
						div.icon-power_settings_new
					div.button(_route="/login" _triggers="navbar/login=visible")
						div.icon-account_circle
					div.button.close(_triggers="navbar/exit=visible")
						div.icon-close
		div.remnant
			div.sidebar(tabindex="2" _triggers="sidebar/visible=visible")
				div.wrapper
					div.section.primary
						label MAIN
						ul
							each val, key in navigation
								li(_route=val.route _triggers=val.triggers class=val.initial)
									i
									span= val.label
					div.secondary-wrapper
						div.section.secondary
							label
							ul
			div.remnant.main(tabindex="1")
				div.wrapper.face
				div.wrapper.tray

script(type="text/javascript" src="/static/scripts/index.js")
