doctype html
html
	head
		title Dashboard
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="/stylesheets/index.style.css" rel="stylesheet")
		link(href="/fonts/Proxima Nova/font.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet")
		//- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(type="text/javascript" src="/scripts/jquery.min.js")
		script(type="text/javascript" src="/scripts/deep-diff-0.3.8.min.js")
body
	div.window.fullsize.loading(route= route)
		div.topbar
			div#menu.button(tabindex=1)
				div.icon-menu
			span.logo(_route="/") atmos ~
			div.controls
				div.button.user(_trigger="navbar/avatar=visible")
					div
						if user
							if user.githubID
								img(src="https://avatars1.githubusercontent.com/u/" + user.githubID)
							else if user.facebookID
								img(src="https://graph.facebook.com/v2.9/" + user.facebookID + "/picture?type=large")
							else
								img(src="http://www.miastograf.pl/bundles/miastografmain/images/avatar.png")
						else
							img(src="http://www.miastograf.pl/bundles/miastografmain/images/avatar.png")
				div.button(_route="/logout" _trigger="navbar/logout=visible")
					div.icon-power_settings_new
				div.button(_route="/login" _trigger="navbar/login=visible")
					div.icon-account_circle
		div.remnant
			div.sidebar(tabindex=2)
				div.section
					label MAIN
					ul
						li#li-dashboard(_route="/dashboard" _trigger="sidebar/dashboard=active isAuthenticated=visible")
							i
							span Dashboard
						li#li-portals(_route="/portals" _trigger="sidebar/portals=active isAuthenticated=visible")
							i
							span Portals
						li(_route="/events" _trigger="sidebar/events=active")
							i
							span Events
						li(_trigger="sidebar/cart=active")
							i
							span Cart
						li(_trigger="sidebar/account=active")
							i
							span Account
						li(_trigger="sidebar/settings=active")
							i
							span Settings
				div.section#secondary(_trigger="sidebar/events=visible")
					label EVENTS > CATEGORIES
					ul
						li
							i
							span Programming
						li
							i
							span Robotics
						li
							i
							span Literature
						li
							i
							span Art
						li
							i
							span Music
						li
							i
							span Dance
			div.remnant.main
				div.wrapper.face
				div.wrapper.tray

script(type="text/javascript" src="/scripts/index.js")