if error
	script.
		swal({
			title: "#{error.title}",
			text: "#{error.message}",
			type: "error",
			confirmButtonText: "OK",
			confirmButtonColor: "#202729"
		});
link(href="/static/stylesheets/login.style.css" rel="stylesheet")
div.parent-center
	div.auth-container
		div.title LOGIN
		if methods.google
			a.child-center.google(href="/auth/google")
				i.icon-google
				span Continue with Google
		if methods.facebook
			a.child-center.facebook(href="/auth/facebook")
				i.icon-facebook
				span Continue with Facebook
		if methods.github
			a.child-center.github(href="/auth/github")
				i.icon-github
				span Continue with GitHub
