extends layout

block content
	h1= title

	if error
		div.error
			h2= error.title
			p= error.message

	div.auth-container.parent-center
		if methods.google
				div.auth-method.child-center
					a(href="/auth/google")
						button.loginBtn.loginBtn--google(type="button") Login with Google

		if methods.facebook
			div.auth-method.child-center
				a(href="/auth/facebook")
						button.loginBtn.loginBtn--facebook(type="button") Login with Facebook
		if methods.github
			div.auth-method.child-center
				a(href="/auth/github")
						button(type="button") Login with GitHub
