extends layout

block content
	h1= title
	p Choose an authentication method.

	div.auth-container
		if methods.google
				div.auth-method
					a(href="/auth/google")
						button(type="button") Login with Google

		if methods.facebook
			div.auth-method
				a(href="/auth/facebook")
						button(type="button") Login with Facebook
		if methods.github
			div.auth-method
				a(href="/auth/github")
						button(type="button") Login with GitHub
