title= title
link(href="/stylesheets/portals.style.css" rel="stylesheet")
i.meta(_routed_at="/portals")
div#_portal
	div.section.header
		h1.title Department of Technical Arts
		div.stretch
			div.remnant
				ul.controls
					li.icon-add
					li.icon-autorenew
					li.icon-delete.disabled
			div#filter
				input#_filter(type="text", placeholder="Search")
				i.icon-search
	div.section.add_new_item.collapsed Here shall be forged a new record

	div.section.table
		each field in portal.fields
			div.field(id=field.property)
				span.title= field.label
				div.list
	if !population
		span.underwhelmingMessage Nothing to see here. Add new records.
script(src="/scripts/portal.js")
