include mixins/field
include mixins/form

title= title
link(href="/stylesheets/portals.style.css" rel="stylesheet")
script(src="/scripts/image-upload-mixin.js")
link(rel='stylesheet' href='/stylesheets/croppie.css')
script(type="text/javascript" src="/scripts/jquery.uploadPreview.min.js")
link(rel="stylesheet" href="/stylesheets/simplemde.min.css")
script(src="/scripts/simplemde.min.js")
i.meta(_routed_at="/portals")
div#_portal
	div.section.header
		h1.title= title
		div.stretch
			div.remnant
				ul.controls
					li.icon-add
					li.icon-autorenew
					li.icon-delete.disabled
					li.latent.icon-check
					li.latent.icon-close
			- var search = {icon: 'search', placeholder: 'Search', editable: true};
			+fieldMixin(search)
	div.section.table
		div.edit_item.collapsed
			- var form  = {method: "POST", action: "/api/events", fields: fields, type: "portal"}
			+formMixin(form)
		each field in fields
			div.field(id=field.property)
				span.title= field.label
				div.list
	if !population
		span.underwhelmingMessage Nothing to see here. Add new records.
script(src="/scripts/portal.js")
