link(href="/static/stylesheets/sponsors.style.css" rel="stylesheet")
div.immersive-wrapper.module-sponsors
	section.header
		h1 Sponsors
	section.body
		div.sponsors
			li.item
				a(href="http://www.mtvbeats.in/")
					img(src="/static/images/sponsors/mtv.png" alt="MTV Beats")
					span.meta Title Sponsor
			li.item
				a(href="http://www.vh1.com/")
					img(src="/static/images/sponsors/vh1.png" alt="Vh1")
					span.meta Co-title Sponsor
			li.item
				a(href="http://www.cokestudio.com.pk/season10/")
					img(src="/static/images/sponsors/cs.png" alt="Coke Studio")
					span.meta Exclusive Partner
			li.item
				a(href="http://www.prost.in/")
					img(src="/static/images/sponsors/prost.png" alt="Prost Brew Pub")
					span.meta IDM Nite Title Sponsor
			li.item
				a(href="http://www.kewalkiran.com/portfolio/integriti/")
					img(src="/static/images/sponsors/odm.png" alt="Integriti")
					span.meta IDM Nite Powered By
			li.item
				a(href="http://www.dsgroup.com/pulse.aspx")
					img(src="/static/images/sponsors/pulse.png" alt="Pulse")
					span.meta IDM Nite Powered By
			li.item
				a(href="https://www.britishcouncil.in/")
					img(src="/static/images/sponsors/bc.png" alt="British Council")
					span.meta Special Cultural Association
			li.item
				a(href="http://www.brainbaazi.com/")
					img(src="/static/images/sponsors/brain.png" alt="Brain Baazi")
					span.meta Exclusive Partner
			li.item
				a(href="http://www.coca-colacompany.com/")
					img(src="/static/images/sponsors/cocacola.png" alt="Coka Cola")
					span.meta Beverage Partner
			li.item
				a(href="https://www.wittyfeed.com/")
					img(src="/static/images/sponsors/witty.png" alt="Witty feed")
					span.meta Official Outreach Partner
			li.item
				a(href="https://www.redfmindia.in/")
					img(src="/static/images/sponsors/redfm.png" alt="Red FM")
					span.meta Radio Partner
			li.item
				a(href="http://www.natcopharma.co.in/")
					img(src="/static/images/sponsors/natco.png" alt="NATCO")
					span.meta Silver Sponsor
			li.item
				a(href="https://paytm.com/")
					img(src="/static/images/sponsors/paytm.png" alt="Paytm")
					span.meta Payment Partner
			li.item
				a(href="http://www.silver-star.co.in/")
					img(src="/static/images/sponsors/mercedes.png" alt="Mercedes")
					span.meta Celebrity Escort Partner
			li.item
				a(href="http://www.aceenggacademy.com/")
					img(src="/static/images/sponsors/ace.png" alt="Ace Academy")
					span.meta Education Partner
			li.item
				a(href="https://www.kaptest.com/gre")
					img(src="/static/images/sponsors/kaplan.png" alt="Kaplan GRE")
					span.meta Education Partner
			li.item
				a(href="http://www.vprov.com/new/index.php")
					img(src="/static/images/sponsors/vprov.png" alt="Vprov")
					span.meta Education Partner
			li.item
				a(href="http://www.safexpress.com/")
					img(src="/static/images/sponsors/safe.png" alt="Safexpress")
					span.meta Official Supply Chain Partner
			li.item
				a(href="http://www.emamiltd.in/brands/91/190/he-deodorants.php")
					img(src="/static/images/sponsors/emami.png" alt="Emami")
					span.meta Glitterati Partner
			li.item
				a(href="https://www.mycaptain.in/")
					img(src="/static/images/sponsors/MyCaptain.png" alt="My Captain")
					span.meta Knowledge Partner
