link(href="/static/stylesheets/sponsors.style.css" rel="stylesheet")
div.immersive-wrapper.module-sponsors
	section.header
		h1 Sponsors
	section.body
		div.sponsors
			li.item
				a(href="https://sbi.co.in/")
					img(src="/static/images/sponsors/SBI.png" alt="State Bank of India")
					span.meta Co-Title Sponsor
			li.item
				a(href="http://www.telanganatourism.gov.in/")
					img(src="/static/images/sponsors/Telanganatourism.png" alt="Telangana Tourism")
					span.meta Powered By
			li.item
				a(href="http://www.mtvbeats.in/")
					img(src="/static/images/sponsors/mtv.png" alt="MTV Beats")
					span.meta In Association With
			li.item
				a(href="http://www.vh1.com/")
					img(src="/static/images/sponsors/vh1.png" alt="Vh1")
					span.meta In Association With
			li.item
				a(href="http://www.colorsofyouth.com/")
					img(src="/static/images/sponsors/coy.png" alt="Colors of Youth")
					span.meta Exclusive Partner - Bollywood Nite
			li.item
				a(href="http://www.cokestudio.com.pk/season10/")
					img(src="/static/images/sponsors/cs.png" alt="Coke Studio")
					span.meta Exclusive Partner
			li.item
				a(href="http://www.prost.in/")
					img(src="/static/images/sponsors/Prost.png" alt="Prost Brew Pub")
					span.meta IDM Nite Title Sponsor
			li.item
				a(href="http://www.kewalkiran.com/portfolio/integriti/")
					img(src="/static/images/sponsors/Integriti.png" alt="Integriti")
					span.meta IDM Nite Powered By
			li.item
				a(href="http://www.dsgroup.com/pulse.aspx")
					img(src="/static/images/sponsors/Pulse.png" alt="Pulse")
					span.meta IDM Nite Powered By
			li.item
				a(href="https://www.britishcouncil.in/")
					img(src="/static/images/sponsors/bc.png" alt="British Council")
					span.meta Special Cultural Association
			li.item
				a(href="http://www.brainbaazi.com/")
					img(src="/static/images/sponsors/brain.png" alt="Brain Baazi")
					span.meta Exclusive Partner - QuBITS
			li.item
				a(href="http://www.coca-colacompany.com/")
					img(src="/static/images/sponsors/cocacola.png" alt="Coka Cola")
					span.meta Beverage Partner
			li.item
				a(href="https://www.wittyfeed.com/")
					img(src="/static/images/sponsors/witty.png" alt="Witty feed")
					span.meta Official Outreach Partner
			li.item
				a(href="http://www.natcopharma.co.in/")
					img(src="/static/images/sponsors/Natco.png" alt="NATCO")
					span.meta Silver Sponsor
			li.item
				a(href="https://paytm.com/")
					img(src="/static/images/sponsors/Paytm.png" alt="Paytm")
					span.meta Payment Partner
			li.item
				a(href="http://www.silver-star.co.in/")
					img(src="/static/images/sponsors/Mercedes.png" alt="Mercedes")
					span.meta Celebrity Escort Partner
			li.item
				a(href="http://www.aceenggacademy.com/")
					img(src="/static/images/sponsors/Ace.png" alt="Ace Academy")
					span.meta Education Partner
			li.item
				a(href="https://www.kaptest.com/gre")
					img(src="/static/images/sponsors/kaplan.png" alt="Kaplan GRE")
					span.meta Education Partner
			li.item
				a(href="http://www.vprov.com/new/index.php")
					img(src="/static/images/sponsors/Vprov.png" alt="Vprov")
					span.meta Education Partner
			li.item
				a(href="http://www.safexpress.com/")
					img(src="/static/images/sponsors/Safe.png" alt="Safexpress")
					span.meta Official Supply Chain Partner
			li.item
				a(href="http://www.emamiltd.in/brands/91/190/he-deodorants.php")
					img(src="/static/images/sponsors/Emami.png" alt="Emami")
					span.meta Glitterati Partner
			li.item
				a(href="https://www.mycaptain.in/")
					img(src="/static/images/sponsors/MyCaptain.png" alt="My Captain")
					span.meta Knowledge Partner
			li.item
				a(href="https://zebronics.com/")
					img(src="/static/images/sponsors/Zebronics.png" alt="Zebronics")
					span.meta Gift Partner
			li.item
				a(href="https://www.portronics.com/")
					img(src="/static/images/sponsors/Portronics.png" alt="Portronics")
					span.meta Gadgets Partner
			li.item
				a(href="https://www.redfmindia.in/")
					img(src="/static/images/sponsors/RedFM.png" alt="Red FM")
					span.meta Radio Partner
			li.item
				a(href="http://www.yupptv.in/#!/play/TV5")
					img(src="/static/images/sponsors/TV5.png" alt="TV5")
					span.meta TV Media Partner
			li.item
				a(href="http://www.andhrajyothy.com/")
					img(src="/static/images/sponsors/Andhra.png" alt="Andhra Jyothi")
					span.meta Media Partner
			li.item
				a(href="https://www.siasat.com/")
					img(src="/static/images/sponsors/Siasat.png" alt="Siasat")
					span.meta Media Partner
			li.item
				a(href="https://www.ktm.com/in/")
					img(src="/static/images/sponsors/KTM.png" alt="KTM")
					span.meta Bike Partner
			li.item
				a(href="http://www.tuorides.com/")
					img(src="/static/images/sponsors/Tuo.png" alt="Tuo")
					span.meta Travel Partner
			li.item
				a(href="https://www.soundideazacademy.in/")
					img(src="/static/images/sponsors/SIA.png" alt="SoundIdeaz")
					span.meta Till Deaf Do We Part - Title Sponsor
			li.item
				a(href="http://sam.org.in/")
					img(src="/static/images/sponsors/SAM.png" alt="Swarnabhoomi Academy of Music")
					span.meta Music Events Partner
			li.item
				a(href="https://www.yourquote.in/")
					img(src="/static/images/sponsors/YourQuote_White.png" alt="YourQuote")
					span.meta Online Media Partner - Catharsis
			li.item
				a(href="https://www.xoxoday.com/")
					img(src="/static/images/sponsors/xoxo.png" alt="XoxoDay")
					span.meta Associate Partner - Mr. &amp; Ms. Pearl
			li.item
				a(href="http://www.designboat.in/")
					img(src="/static/images/sponsors/Designboat.png" alt="Design Boat")
					span.meta Design Workshop Partner
			li.item
				a(href="https://www.luduspro.com/")
					img(src="/static/images/sponsors/LudusPro.png" alt="LudusPro")
					span.meta Fraglore Partner
			li.item
				a(href="https://atkt.in/")
					img(src="/static/images/sponsors/ATKT.png" alt="ATKT")
					span.meta Online Media Partner
			li.item
				a(href="http://dubeat.com/")
					img(src="/static/images/sponsors/DUBeat.png" alt="Du Beat")
					span.meta Online Media Partner
			li.item
				a(href="http://festpav.com/")
					img(src="/static/images/sponsors/FestPav.png" alt="FestPav")
					span.meta Online Media Partner
			li.item
				a(href="http://ohcampus.com/v2/")
					img(src="/static/images/sponsors/OhCampus.png" alt="OhCampus")
					span.meta Online Media Partner
			li.item
				a(href="https://www.cinefame.com/")
					img(src="/static/images/sponsors/Cinefame.png" alt="Cinefame")
					span.meta Online Media Partner
			li.item
				a(href="http://www.knowafest.com/college-fests/events")
					img(src="/static/images/sponsors/KnowAFest.png" alt="Know A Fest")
					span.meta Online Media Partner
			li.item
				a(href="http://www.igniteengineers.com/")
					img(src="/static/images/sponsors/IgniteEngineers.png" alt="Ignite Engineers")
					span.meta Online Media Partner
			li.item
				a(href="http://www.faadooengineers.com/")
					img(src="/static/images/sponsors/FadooEngineers.png" alt="FadooEngineers")
					span.meta Online Media Partner
