link(href="/static/stylesheets/sponsors.style.css" rel="stylesheet")
div.immersive-wrapper.module-sponsors
	section.header
		h1 Sponsors
	section.body
		div.sponsors
			li.item
				img(src="/static/images/sponsors/bc.png")
				span.meta Title Sponsor
			li.item
				img(src="/static/images/sponsors/cs.png")
				span.meta Co-title Sponsor
			li.item
				img(src="/static/images/sponsors/brain.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/coy.png")
				span.meta Food &amp; Drinks Partner
			li.item
				img(src="/static/images/sponsors/emami.jpeg")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/festPav.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/mtv.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/vh1.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/sam.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/prost.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/paytm.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/school.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/odm.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/FadooEngineers.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/IFP.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/ace.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/OhCampus.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/MyCaptain.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/IgniteEngg.png")
				span.meta Associate Sponsor
			li.item
				img(src="/static/images/sponsors/cinefame.png")
				span.meta Associate Sponsor