link(href="/static/stylesheets/sponsors.style.css" rel="stylesheet")
div.immersive-wrapper.module-sponsors
	section.header
		h1 Sponsors
	section.body
		div.sponsors
			each sponsor in sponsors
				li.item
					a(href="#{sponsor.link}")
						img(src="#{sponsor.img}")
						span.meta=sponsor.meta
