style.
  @import url('https://fonts.googleapis.com/css?family=Monoton');
  .wrapper.face {
    background-color: #111111;
  }

  #not-found.board {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 150px;
    width: 500px;
    margin: -75px 0 0 -250px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
    color: red;
  }

  #not-found > div {
    font: 75px/75px 'Monoton', cursive;
  }

  #not-found #error {
    color: #fff;
    text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
  }
div.board#not-found
  div#error ERROR
  div#code 404
script(src="/static/scripts/404.js")