include ../mixins/form
link(rel="stylesheet" href="/static/lib/jquery-ui-custom/jquery-ui.min.css")
div.section.header
    h1= title
    div.stretch
            div.remnant
                ul.controls
                    li.icon-check#submit-button(tooltip="Save")
                    a.icon-close#cancel-button(href="/portals" tooltip="Cancel")
a(href= 'portals/scores/leaderboard')
    h2 Leaderboard Updates
a(href= 'portals/scores/feed')
    h2 Feed Updates
