@font-face {
    font-family: "Proxima Nova";
    src: local('Proxima Nova'), url('ProximaNova-Light.woff2'), url('ProximaNova-Light.woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: local('Proxima Nova'), url('ProximaNova-LightIt.woff2'), url('ProximaNova-LightIt.woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Proxima Nova";
    src: local('Proxima Nova'), url('ProximaNova-Regular.woff2'), url('ProximaNova-Regular.woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: local('Proxima Nova'), url('ProximaNova-RegularIt.woff2'), url('ProximaNova-RegularIt.woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Proxima Nova";
    src: local('Proxima Nova'), url('ProximaNova-Semibold.woff2'), url('ProximaNova-Semibold.woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: local('Proxima Nova'), url('ProximaNova-SemiboldIt.woff2'), url('ProximaNova-SemiboldIt.woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Proxima Nova";
    src: local('Proxima Nova'), url('ProximaNova-Bold.woff2'), url('ProximaNova-Bold.woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: local('Proxima Nova'), url('ProximaNova-Extrabld.woff2'), url('ProximaNova-Extrabld.woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: local('Proxima Nova'), url('ProximaNova-Black.woff2'), url('ProximaNova-Black.woff');
    font-weight: 900;
    font-style: normal;
}
