include navigation
link(rel="stylesheet" href="/static/stylesheets/events.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

div.immersive-wrapper
    div.section.header
        h1.title= title
    div.section.body
        #about
            p The inaugural edition of PyBITS at BITS Pilani, Hyderabad Campus last year pulled off a successful conference as well as an introductory Python workshop over the span of two days. Both events were well received by the attendees, a mix of students from the local colleges, enthusiasts and working professionals from the city.

            p The conference hosted three well-known members of the Indian Python community - Akshay Arora, Alex Mathew and Anuvrat Parashar - as keynote speakers. “Lightning talks” were also conducted, where members of the audience could speak about their pet projects on stage. The keynote addresses covered topics such as web scraping using Scrapple, GUI development using Kivy and an overview of the Python ecosystem in India and how to contribute to it.

            p The workshop was aimed at students in the final years of school or in their first year of college and served as a peek into the world of programming with Python. The projects they developed in the duration of the workshop served to whet their appetite before their own deeper forays into Python. The majority expressed a desire to continue tinkering with Python and looked forward to attending similar events in the future.

            p This year, PyBITS plans to cater to a national audience with a wider variety of topics, in association with our annual techno-management fest, ATMOS. So look no further to satisfy all your tech-related cravings and head over to BITS Pilani, Hyderabad Campus this October 27th - 29th.

            p Contact: Samkit - 9705601217 | Rohitt - 8871212242 | crux@hyderabad.bits-pilani.ac.in

    +navigationMixin()
