include navigation
link(rel="stylesheet" href="/static/stylesheets/events.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

div.immersive-wrapper.pybits-background
    h1#about=title
    div.section.body
        #about1
            p
              strong Description:
            p
              span(style='font-weight: 400;')
                | Flask is a popular web application framework for Python that provides a small foundation core, and a variety of extensions for further requirements. This makes it easier for beginners to get started with Flask as compared to alternatives such as Django, which try to provide a complete set of features.
            p  
            p
              strong Prerequisites:
            p
              strong Skills:
              span(style='font-weight: 400;') Basic Python
            p
              strong Development Environment:
              span(style='font-weight: 400;')
                | Please follow the instructions <here>(Link to doc) in order to install necessary software before attending the workshop.
            p  
            p
              span(style='font-weight: 400;')
                | The workshop aims to have attendees deploy a Flask application while giving an overview of the functionality offered, implementation of simple apps, and integration of extensions to provide common features. The detailed break up of the 3 hour workshop into sub-topics is as follows.
            p  
            p
              strong Topics:
            ul
              li(style='font-weight: 400;')
                span(style='font-weight: 400;') Introduction, Overview and installation : 20 min
              li(style='font-weight: 400;')
                span(style='font-weight: 400;') routing, variable rules and URL building : 15 min
              li(style='font-weight: 400;')
                span(style='font-weight: 400;') request and response object in Flask : 15 min
              li(style='font-weight: 400;')
                span(style='font-weight: 400;') web templating system and jinja2 : 15 min
              li(style='font-weight: 400;')
                span(style='font-weight: 400;') cookies and session handling in Flask application : 15 min
              li(style='font-weight: 400;')
                span(style='font-weight: 400;') message flashing : 15 min
              li(style='font-weight: 400;')
                span(style='font-weight: 400;') flask extensions : 10 min
              li(style='font-weight: 400;')
                span(style='font-weight: 400;') WTF : 20 min
              li(style='font-weight: 400;')
                span(style='font-weight: 400;') database interfacing with SQLAlchemy : 20 min
              li(style='font-weight: 400;')
                span(style='font-weight: 400;') Overview of deployment of Flask application : 15 min
            p
              strong About The Instructor:
            p
              span(style='font-weight: 400;')
                br
              span(style='font-weight: 400;')
                | Malhar Lathkar has been teaching different programming technologies for last three decades. Fascinated by Computer languages and programming, he started his own software training and development centre in 1986. He has a lot of online tutorials on
              a(href='http://www.tutorialspoint.com')
                span(style='font-weight: 400;') www.tutorialspoint.com
              span(style='font-weight: 400;')
                | , including one on Flask. His areas of interest include Java, Python, PHP and database technologies, and teaching is deeply influenced by his experiences in those domains
            p  
            p
              span(style='font-weight: 400;')
                | Thousands of undergraduate and PG students as well as professionals have been trained by him, and they are working with many of the leading IT companies across the world. He is associated with TIEC (Technology Innovation Entrepreneurship Center) set up by SGGSIE&T Nanded, and has designed many software solutions with applications in Banking, Healthcare, Automation etc.


            p / Samkit - 9705601217 / Rohitt - 8871212242 / crux@hyderabad.bits-pilani.ac.in /

    +navigationMixin(true)
