include navigation
link(rel='stylesheet', href='/static/stylesheets/pybits/pybits.main.css') 
style.
        .window.immersive .navbar > .wrapper {
            background-color: black;
        }
        p a {
            text-decoration:underline !important;
        }
        p a:hover {
            color:black !important;
        }   
        #coc-heading{
            margin-top:80px;
        }
#pybits-wrapper
    .immersive-wrapper#pybits-background
        #coc-heading
            |About
            br 
            hr(width="15%")
            p.
                PyBITS is a community conference intended for networking and collaboration in the developer community.
                We value the participation of each member of the Python community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout the conference and at all conference events, whether officially sponsored by PyBITS or not.
                To make clear what is expected, all delegates/attendees, speakers, exhibitors, organizers and volunteers at any PyBITS event are required to conform to the following Code of Conduct. Organizers will enforce this code throughout the event.

            |Short Version
            br 
            hr(width="20%")
            p.
                PyBITS is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form.
                All communication should be appropriate for a professional audience including people of many different backgrounds. Sexual language and imagery is not appropriate for any conference venue, including talks.
                Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for PyBITS.
                Attendees violating these rules may be asked to leave the conference without a refund at the sole discretion of the conference organizers.
            |The Longer Version
            br 
            hr(width="25%")
            p.
                Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
                Participants asked to stop any harassing behavior are expected to comply immediately.
                Exhibitors in the expo hall, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.
                Be careful in the words that you choose. Remember that sexist, racist, and other exclusionary jokes can be offensive to those around you. Excessive swearing and offensive jokes are not appropriate for PyBITS.
                If a participant engages in behavior that violates this code of conduct, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.
            |Licence
            br
            p
                |This Code of Conduct was forked from the 
                a(href='https://us.pycon.org/2018/about/code-of-conduct/') PyCon Code of Conduct
        +navigationMixin(false)
script(src='/static/scripts/pybits.main.js')