include navigation
link(rel='stylesheet', href='/dist/css/pybits.main.css') 
link(rel='stylesheet', href='/static/stylesheets/pybits-imm.style.css') 
style.
	#nav-bottom {
		margin-top:32.5vh;
	}
.immersive-wrapper#pybits-background
	.text-center#heading-not-home Dev-Sprint Coming Soon.
	+navigationMixin(false)
script(src="/static/scripts/pybits.main.js")