include navigation
link(rel='stylesheet', href='/dist/css/pybits.main.css') 
style.
	#nav-bottom {
		position: fixed;
		bottom: 0;
		right: 0;
	}
.immersive-wrapper#pybits-background
	.text-center#heading-not-home Dev-Sprint Coming Soon.
	+navigationMixin(false)
script(src="/static/scripts/pybits.main.js")