link(rel="stylesheet" href="/static/stylesheets/events.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

div.section.header
	h1.title= title

h2 About PyBITS

#about
	p PyBITS is a Python conference inspired by PyCon India, organized as a part of ATMOS, the annual national techno-management fest of BITS Pilani Hyderabad Campus. It is aimed at promoting the usage of Python among the attendees, and at introducing them to new ideas as to the applicability of Python in various programming domains

#links
	h2 PyBITS Events

	ul
		li.tile
			span(_route="/pybits/2016") PyBITS 2016
		li.tile
			span(_route="/pybits/talks") PyBITS Talks
		li.tile
			span(_route="/pybits/workshops") PyBITS Workshops
		li.tile
			span(_route="/pybits/sprints") PyBITS Sprints
