include navigation
include ../../mixins/register-button

  //- bootstrap css 
link(rel='stylesheet', href='/static/stylesheets/events.style.css')
link(rel='stylesheet', href='/static/stylesheets/pybits-imm.style.css')
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous")

//- bootstrap

script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous")

//- owl-carousel css and JS
link(rel="stylesheet", href='/static/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css')

link(rel="stylesheet", href='/static/lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css')

script(src='/static/lib/OwlCarousel2-2.3.4/dist/owl.carousel.min.js')

link(rel="stylesheet", href="/dist/css/pybits.main.css")

div.immersive-wrapper#pybits-background
      div.container-fluid
        .text-center#heading-home.pybits-home-back PYBITS 2018
      +navigationMixin(true)

script(src='/static/scripts/pybits.main.js')




