include navigation
include ../../mixins/register-button
link(rel='stylesheet', href='/static/stylesheets/events.style.css')
link(rel="stylesheet", href="/dist/css/pybits.main.css")

div.immersive-wrapper#pybits-background
      div.container-fluid
        .text-center#heading-home.pybits-home-back PYBITS 2018
      +navigationMixin(true)

script(src='/static/scripts/pybits.main.js')




