include navigation
include ../../mixins/register-button
link(rel='stylesheet', href='/static/stylesheets/events.style.css')
link(rel="stylesheet", href="/static/stylesheets/pybits/pybits.main.css")
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.4.1/css/all.css")

#pybits-wrapper
	#pybits-background.immersive-wrapper
		.pybits-home
			#event-info
				#event-date
					i.far.fa-calendar-alt
					|  26-28, October 2018
				#event-venue
					i.fas.fa-map-marked-alt
					|  BITS Pilani, Hyderabad Campus
			#event-heading
				h2 PyBITS 2018
				#desc Conference + Workshops + Sprint
				button.tsbutton#tickets(onclick="popup('pybits-2018-411030');") Register Now
				noscript#tsNoJsMsg Javascript on your browser is not enabled.
				script(src='https://www.townscript.com/popup-widget/townscript-widget.nocache.js', type='text/javascript')
			#event-more
				ul#nav
					li Home
					li About
					li Talks
					li Workshops
					li Developer Sprint
					li Schedule
					li Proposal
					li Code of Conduct
