include navigation

link(rel='stylesheet', href='/static/stylesheets/events.style.css')
link(rel='stylesheet', href='/static/stylesheets/pybits.style.css')
link(rel='stylesheet', href='/static/stylesheets/pybits-imm.style.css')
div.immersive-wrapper#home
	div.logo
		div.title
			span Py
			span BITS
			span &nbsp;2017
		div.subtitle
			div
				i.icon-schedule
				div
					span 27
					sup th
					span &nbsp;- 29
					sup th
					span &nbsp;October
			div
				i.icon-location_city
				div(title="Click to navigate") BITS Hyderabad
		div.button.disabled TICKETS COMING SOON
	+navigationMixin(true)
	div.about.hidden
		p PyBITS is a Python conference inspired by PyCon India, organized as a part of ATMOS, the annual national techno-management fest of BITS Pilani Hyderabad Campus. It is aimed at promoting the usage of Python among the attendees, and at introducing them to new ideas as to the applicability of Python in various programming domains
script(src="/static/scripts/events.js" type="text/javascript")