mixin navigationMixin(isHome)
    ul(id = (isHome? "nav":"nav-bottom") class="list-inline text-center")
        li.list-inline-item.text-center
            a(href="/pybits") HOME
            &nbsp;
        li.list-inline-item 
            a(href="/pybits/about").brochure-tab.text-center ABOUT
            &nbsp;
        li.list-inline-item 
            a(href="/pybits/talks").talks-tab.text-center TALKS
            &nbsp;
        li.list-inline-item 
            a(href="/pybits/workshops").workshops-tab.text-center WORKSHOPS
            &nbsp;
        li.list-inline-item
            a(href="/pybits/dev-sprint").dev-sprint-tab.text-center DEV-SPRINT
        li.list-inline-item 
            a(href="/pybits/coc").coc-tab.text-center CODE OF CONDUCT
