mixin navigationMixin(isHome)
    div.inner-navigation
        div.left(class=(isHome?"white":"black"))
            img(src=(isHome?"/static/pybits/psf-logo.png":"/static/pybits/psf-logo-black.png"))
        div.right
            li
                a(href="/pybits") Home
            li
                a(href="/pybits/talks") Talks
            li
                a(href="/pybits/workshops") Workshops
            li
                a(href="/pybits/sprints") Sprints
            li
                a(href="/pybits/coc") Code of Conduct
            li
                a(href="/pybits/2016") About