include navigation
include ../../mixins/form
link(rel='stylesheet', href='/static/stylesheets/pybits/pybits.main.css')
link(rel='stylesheet', href='/static/stylesheets/pybits/pybits.proposal.css')
link(rel='stylesheet', href='/static/stylesheets/pybits-imm.style.css') 
script(type="text/javascript" src="/static/scripts/pybits.js")

.immersive-wrapper.pybits-tab-background.text-center
	h1#heading Proposal
	h1 We are accepting proposals for PyBITS conference speakers and workshops. 
		a(href="https://www.papercall.io/pybits") Click here to apply.
	+navigationMixin(false)
	script.
		document.querySelectorAll('.list-inline-item > a')[4].classList.add('present-tab');