//- .ScrollStyle

//-     .container


//-         .responsive
//-             .gallery
//-                 a(target="_blank", href="images/img_5terre.jpg")
//-                     img(src="images/img_5terre.jpg", alt="Cinque Terre", width="600", height="400")
//-                 |     
//-                 .desc2 Add a description of the image here


//-         .responsive
//-             .gallery
//-                 a(target="_blank", href="images/img_5terre.jpg")
//-                     img(src="images/img_5terre.jpg", alt="Cinque Terre", width="600", height="400")
//-                 |     
//-                 .desc2 Add a description of the image here


//-         .responsive
//-             .gallery
//-                 a(target="_blank", href="images/img_5terre.jpg")
//-                     img(src="images/img_5terre.jpg", alt="Cinque Terre", width="600", height="400")
//-                 |     
//-                 .desc2 Add a description of the image here


//-         .responsive
//-             .gallery
//-                 a(target="_blank", href="images/img_forest.jpg")
//-                     img(src="images/img_forest.jpg", alt="Forest", width="600", height="400")
//-                 |     
//-                 .desc2 Add a description of the image here


//-         .responsive
//-             .gallery
//-                 a(target="_blank", href="images/img_forest.jpg")
//-                     img(src="images/img_forest.jpg", alt="Northern Lights", width="600", height="400")
//-                 |     
//-                 .desc2 Add a description of the image here


//-         .responsive
//-             .gallery
//-                 a(target="_blank", href="images/img_forest.jpg")
//-                     img(src="images/img_forest.jpg", alt="Mountains", width="600", height="400")
//-                 |     
//-                 .desc2 Add a description of the image here
//-         .clearfix



//- //- end


//- div.bottom-nav
//-     ul.list-inline
//-         li.list-inline-item
//-             a(href="#").home-tab Home
//-         li.list-inline-item 
//-             a(href="#").schedule-tab Schedule
//-         li.list-inline-item 
//-             a(href="#").talks-tab Talks
//-         li.list-inline-item 
//-             a(href="#").workshops-tabWorkshops
//-         li.list-inline-item 
//-             a(href="#").code-of-conduct-tab Proposal
//-         li.list-inline-item 
//-             a(href="#").about-tab(style = "color: black;")  HIGHLIGHTS

include navigation
link(rel='stylesheet', href='/dist/css/pybits.main.css') 
link(rel='stylesheet', href='/static/stylesheets/pybits-imm.style.css') 
.immersive-wrapper#pybits-background
	.container-fluid
		.text-center#heading-not-home Proposal - Coming Soon.