include navigation
include ../../mixins/form
link(rel='stylesheet', href='/static/stylesheets/pybits/pybits.proposal.css')
link(rel='stylesheet', href='/static/stylesheets/pybits/pybits.main.css')
#pybits-wrapper
	.immersive-wrapper#pybits-background.text-center
		h1#heading Proposal
		h1 We are accepting proposals for PyBITS conference speakers and workshops. 
			a(href="https://www.papercall.io/pybits") Click here to apply.
		+navigationMixin(false)
script(type="text/javascript" src="/static/scripts/pybits.main.js")