//- ul.timeline 
//-         li  
//-           .direction-r
//-             .date-header.ml50 October 28
//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Registration
//-               span.time-wrapper
//-                 span.time 10:00 - 10:30 A.M
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.

//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.

//-       ul.timeline 
//-         li  
//-           .direction-r
//-             .date-header.ml50 October 29
//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 29
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         li  
//-           .direction-r
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         li  
//-           .direction-l
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         li  
//-           .direction-l
//-             .flag-wrapper
//-               span.hexa 
//-               span.flag Lorem Ipsium
//-               span.time-wrapper
//-                 span.time Oct 28
//-             .desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo officia architecto! Laborum provident cupiditate, eaque ex quasi sunt dolorum? Quam unde praesentium ex fugiat vero voluptatibus perspiciatis sunt numquam.
//-         div.bottom-nav
//-             ul.list-inline
//-                 li.list-inline-item
//-                 a(href="#").home-tab HOME 
//-                 li.list-inline-item 
//-                 a(href="#").schedule-tab(style = "color: black;") SCHEDULE
//-                 li.list-inline-item 
//-                 a(href="#").talks-tab TALKS
//-                 li.list-inline-item 
//-                 a(href="#").workshops-tab WORKSHOPS
//-                 li.list-inline-item 
//-                 a(href="#").code-of-conduct-tab Proposal
//-                 li.list-inline-item 
//-                 a(href="#").about-tab HIGHLIGHTS
include navigation
link(rel='stylesheet', href='/dist/css/pybits.main.css') 
link(rel='stylesheet', href='/static/stylesheets/pybits-imm.style.css') 
.immersive-wrapper#pybits-background
	.container-fluid
		.text-center#heading-not-home Schedule - Coming Soon 
		
