include navigation
link(rel='stylesheet', href='/static/stylesheets/pybits/pybits.main.css') 
style.
	#nav-bottom {
		position: fixed;
		bottom: 0;
		right: 0;
	}
#pybits-wrapper
	.immersive-wrapper#pybits-background
		.text-center#heading-not-home Schedule - Coming Soon 
		+navigationMixin(false)
		
