include navigation
link(rel='stylesheet', href='/static/stylesheets/pybits/pybits.main.css') 
style.
	@media only screen and (min-width:750px){
		#nav-bottom {
			position: fixed;
			bottom: 0;
			right: 0;
		}
	}
#pybits-wrapper
	.immersive-wrapper#pybits-background
		.row#talks-row-1
			.s-con
				figure.speaker
					img(src='/static/images/pybits/chirag_shah.jpg')
					figcaption
						i Chirag Shah
					//- a(href='/pybits/workshops/basic')
				p.stitle
					| Understanding caching in python
			.s-con
				figure.speaker
					img(src='/static/images/pybits/ladle_patel.jpeg')
					figcaption
						i Ladle Patel
					//- a(href='/pybits/workshops/basic')
				p.stitle
					| (Keynote) Scalable Machine Learning using PySpark
			.s-con
				figure.speaker
					img(src='/static/images/pybits/madhukar_mishra.jpeg')
					figcaption
						i Madhukar Mishra
					//- a(href='/pybits/workshops/basic')
				p.stitle
					| The Python Concurrency Story
		.row#talks-row-2
			.s-con
				figure.speaker
					img(src='/static/images/pybits/wasim_thabraze.jpeg')
					figcaption
						i Wasim Thabraze
					//- a(href='/pybits/workshops/basic')
				p.stitle
					| Optional Static Binding in Python using Mypy
			.s-con
				figure.speaker
					img(src='/static/images/pybits/jayaditya_gupta.	jpg')
					figcaption
						i Jayaditya Gupta
					//- a(href='/pybits/workshops/basic')
				p.stitle
					| Python in Security
		+navigationMixin(false)