include navigation

link(rel="stylesheet" href="/static/stylesheets/events.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

div.immersive-wrapper
	div.section.header
		h1.title= title

	div.section.body
		div.event-container(_route="/pybits/talks/talk1")
			div.face
				h3.name Speaker1
				span.tagline Info

		div.event-container(_route="/pybits/talks/talk2")
			div.face
				h3.name Speaker2
				span.tagline Info

		div.event-container(_route="/pybits/talks/talk3")
			div.face
				h3.name Speaker3
				span.tagline Info
	+navigationMixin()