include navigation

link(rel="stylesheet" href="/static/stylesheets/events.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

#t-wrapper.pybits-background
	.row
		.s-con
			figure.speaker
				img(src='http://via.placeholder.com/440x440')
				figcaption
					i.ion-android-open
				//- a(href='#')
			p.sname
				| Saikat Kumar Dey
		.s-con
			figure.speaker
				img(src='http://via.placeholder.com/440x440')
				figcaption
					i.ion-android-open
				//- a(href='#')
			p.sname
				| Ramanathan Muthaiah
	.row
		.s-con
			figure.speaker
				img(src='http://via.placeholder.com/440x440')
				figcaption
					i.ion-android-open
				//- a(href='#')
			p.sname
				| Satish Rao
		.s-con
			figure.speaker
				img(src='/static/images/pybits/keynote.jpg')
				figcaption
					i.ion-android-open
				//- a(href='#')
			p.sname
				| Keynote Coming Soon
		.s-con
			figure.speaker
				img(src='http://via.placeholder.com/440x440')
				figcaption
					i.ion-android-open
				//- a(href='#')
			p.sname
				| Madhu Vadlamani
	+navigationMixin(true)
