link(rel="stylesheet" href="/static/stylesheets/events.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

div.section.header
	h1.title= title

div.event-container
	div.face
		h3.name Speaker1
		span.tagline Info

div.event-container
	div.face
		h3.name Speaker2
		span.tagline Info

div.event-container
	div.face
		h3.name Speaker3
		span.tagline Info
