include navigation

link(rel="stylesheet" href="/static/stylesheets/events.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

#t-wrapper.pybits-background
	.row
		.s-con
			figure.speaker
				img(src='/static/images/pybits/saikat.jpg')
				figcaption
					i.ion-android-open
				a(href='/pybits/talks/saikat')
			p.sname
				| Saikat Kumar Dey
		.s-con
			figure.speaker
				img(src='/static/images/pybits/soon.jpg')
				figcaption
					i.ion-android-open
				a(href='/pybits/talks/ramanathan')
			p.sname
				| Ramanathan Muthaiah
		.s-con
			figure.speaker
				img(src='/static/images/pybits/satish.jpg')
				figcaption
					i.ion-android-open
				a(href='/pybits/talks/satish')
			p.sname
				| Satish Rao
	.row
		.s-con
			figure.speaker
				img(src='/static/images/pybits/soon.jpg')
				figcaption
					i.ion-android-open
				//- a(href='#')
			p.sname
				| KeyNote Coming Soon
		.s-con
			figure.speaker
				img(src='/static/images/pybits/soon.jpg')
				figcaption
					i.ion-android-open
				//- a(href='#')
			p.sname
				| KeyNote Coming Soon
	+navigationMixin(true)
