include navigation
link(rel="stylesheet" href="/static/stylesheets/events.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

div.immersive-wrapper
	div.section.header
		h1.title= title

	div.section.body
		div.event-container(_route="/pybits/workshops/workshop1")
			div.face
				h3.name Workshop1
				span.tagline Info

		div.event-container(_route="/pybits/workshops/workshop2")
			div.face
				h3.name Workshop2
				span.tagline Info

		div.event-container(_route="/pybits/workshops/workshop3")
			div.face
				h3.name Workshop3
				span.tagline Info
	+navigationMixin()
