//- .container
//-         .row.mb100
//-           .col-md-2  
//-           .col-md-2
//-             img(style="display: inline !important; float: left;" src="/images/image-default.png", alt="").image-speaker
//-           .col-md-1.s-name Workshop Name
//-           .col-md-2
//-           .col-md-2 
//-             img(src="/images/image-default.png", alt="").image-speaker
//-           .col-md-1.s-name Workshop Name
//-         .row
//-           .col-md-2
//-             img(style="display: inline !important; float: left;" src="/images/image-default.png", alt="").image-speaker
//-           .col-md-1.s-name Workshop Name
//-           .col-md-2
//-           .col-md-2
//-             img(src="/images/image-default.png", alt="").image-speaker
//-           .col-md-1.s-name Workshop Name
//-           .col-md-1
//-           .col-md-2 
//-             img(src="/images/image-default.png", alt="").image-speaker
//-           .col-md-1.s-name Workshop Name
//-       div.bottom-nav
//-         ul.list-inline
//-           li.list-inline-item
//-             a(href="#").home-tab Home
//-           li.list-inline-item 
//-             a(href="#").schedule-tab Schedule
//-           li.list-inline-item 
//-             a(href="#").talks-tab Talks
//-           li.list-inline-item 
//-             a(href="#").workshops-tab(style = "color: black;") Workshops
//-           li.list-inline-item 
//-             a(href="#").code-of-conduct-tab Proposal
//-           li.list-inline-item 
//-             a(href="#").about-tab HIGHLIGHTS
include navigation
link(rel='stylesheet', href='/dist/css/pybits.main.css') 
link(rel='stylesheet', href='/static/stylesheets/pybits-imm.style.css') 
.immersive-wrapper#pybits-background
	.container-fluid
		.text-center#heading-not-home Workshops - Coming Soon.