include navigation
link(rel='stylesheet', href='/static/stylesheets/pybits/pybits.main.css') 
style.
	#nav-bottom {
		position: fixed;
		bottom: 0;
		right: 0;
	}
#pybits-wrapper
	.immersive-wrapper#pybits-background
		.row
			.s-con
				figure.speaker
					img(src='/static/images/pybits/saket_bhushan.jpg')
					figcaption
						i Saket Bhushan
					//- a(href='/pybits/workshops/basic')
				p.stitle
					| Blockchain and Smart Contracts from First Principle in Python
			.s-con
				figure.speaker
					img(src='/static/images/pybits/python_logo.png')
					figcaption
						i Python
					//- a(href='/pybits/workshops/basic')
				p.stitle
					| Basic Python Workshop
		+navigationMixin(false)