link(rel="stylesheet" href="/stylesheets/events.style.css")
link(rel="stylesheet" href="/stylesheets/pybits.style.css")

div.section.header
	h1.title= title

div.event-container
	div.face
		h3.name Workshop1
		span.tagline Info

div.event-container
	div.face
		h3.name Workshop2
		span.tagline Info

div.event-container
	div.face
		h3.name Workshop3
		span.tagline Info
