include navigation

link(rel="stylesheet" href="/static/stylesheets/events.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

#t-wrapper.pybits-background
	.row
		.s-con
			figure.speaker
				img(src='/static/images/pybits/pylogo.png')
				figcaption
					i.ion-android-open
				a(href='#')
			p.sname
				| :Basic Python Workshop
	.row
		.s-con
			figure.speaker
				img(src='/static/images/pybits/scrapy.png')
				figcaption
					i.ion-android-open
				a(href='#')
			p.sname
				| :Scrapy Workshop
		.s-con
			figure.speaker
				img(src='/static/images/pybits/pandas.png')
				figcaption
					i.ion-android-open
				a(href='#')
			p.sname
				| :Pandas Workshop
	+navigationMixin(true)
