.imgQR{
	position:relative;
	margin: 20px;
	margin-top: 0px;
	width: 250px;
	float: left; 
}
.imgUser{
	margin-left: 20px;
	margin-right: 250px;
	width: 250px;
	float: left;
}
h3{
	margin: 20px;
	clear: both;
}

.name{
	margin-top: 30px;
	color: black;
	font-size: 50px;

}
.email,.institute{
	color: #6f747c;
	font-size: 25px;
	padding-left: 10px;
	animation: slide 2s;
}

@keyframes slide{
	from{
		padding-left: 0px;
		opacity: 0.2;
	}
	to{
		padding-left: 10px;
		opacity: 1;
	}
}