a {
  color: #00B7FF;
}

.parent-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.child-center {
	/*width: 100%;*/
}

.error {
	background: #F44336;
	color: #ffffff;
	line-height: 2.5;
	position:fixed;
	top:70px;
	left:0;
	right: 0;
	padding:0px 5%;
	display: flex;
	align-items: center;
	font-family: sans-serif;
}

.error span {
	display: inline-block;
}

.error .title {
	font-weight:bolder;
	margin-right: 1em;
}
.error .message {
	font-size: 0.9em;
}
.error .cross {
	display: block;
	right:5%;
	position:absolute;
	font-size: 0.9em;
	font-weight: bolder;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 13em; 
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 2.5em;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 1.2em;
  color: #FFF;
  cursor: pointer;
}
/*.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5em;
  height: 2.5em;
  border-right: rgba(0,0,0,.05) 1px solid;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}*/

.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}
/*.loginBtn--facebook:before {
  background-image: url('/images/icon_facebook.png');
}*/
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* GitHub */
.loginBtn--github {
  background: #d4d4d4;
  color: #222;
}
/*.loginBtn--github:before {
  background-image: url('/images/icon_github.png');
}*/
.loginBtn--github:hover,
.loginBtn--github:focus {
  background: #e0e0e0;
}

/* Google */
.loginBtn--google {
  background: #DD4B39;
}
/*.loginBtn--google:before {
  background-image: url('/images/icon_google.png');
}*/
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
.loginBtn span i{
  padding-left: 20px;
  padding-right: 10px;
}