.new_item.edit_item {
	min-height: 4em;
	color:#bbb;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow:hidden;
	transition:max-height 0.3s ease-out;
}
.new_item {
	max-height: 0em;
	min-height:0em;
	padding:0em;
}
.new_item .left {
	width:10em;
	height:10em;
	border:1px solid #ccc;
}
.new_item .right {
	height:10em;
	min-width:20em;
	display: flex;
	margin-left: 1em;
	border:1px solid #ccc;
	flex-direction: column;
	justify-content: space-around;
}

.icon-add {
	transition:transform 0.3s cubic-bezier(0,0,0.5,1.5);
}

.icon-add.active {
	transform: rotateZ(135deg);
}

.table {
	width:100%;
	display: flex;
}
.table .field {
	display: inline-flex;
	flex-grow: 1;
	flex-direction: column;
}
.table .field .title {
	font-weight: 500;
	text-align: center;
	width: 100%;
	display: block;
	line-height: 2em;
	border-bottom:1px solid rgba(0,0,0,0.05);
}
.underwhelmingMessage {
	width:100%;
	text-align:center;
	color:#bbb;
	display: block;
	font-size:1em;
	margin-top: 2em;
}
