body {
  font: 14px "Montserrat", Helvetica, Arial, sans-serif;
  margin:0; 
}

a {
  color: #00B7FF;
}

.parent-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.child-center {
	/*width: 100%;*/
}

.error {
	background: #881111;
	color: #ffffff;
}


/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 13em; 
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('/images/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('/images/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

div.main {
	position:relative;
	margin-top:70px;
	padding: 20px 5%;
}

div.navbar {
	position:fixed;
	top:0;
	left: 0;
	right:0;
	height: 70px;
	background:#242428;
	box-shadow:0px 2px 4px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding:0px 5%;
}
div.navbar .flow {
	flex-grow:1;
}
div.navbar a {
	color:#efefef;
	text-decoration: none;
	padding: 10px 20px;
	background:#1565C0;
	border-radius:1px;
	box-shadow:0px 2px 5px rgba(0,0,0,0.2);
}

div.logo {
	height:80%;
	display: flex;
	align-items: center;
}

div.logo span {
	color:#efefef;
	font-size:2.2em;
	padding: 0px 0.5em;
}
