mixin logoShaders(id)
    script(type="x/vertex-shader" id="#{id}-vertex").
        varying vec3 pos;
        varying vec2 vUv;
        uniform sampler2D texture;
        void main() {
            vUv = uv;
            pos = vec3(modelViewMatrix * vec4(position, 1.0));
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
            //- gl_Position = projectionMatrix * modelViewMatrix * (vec4(position, 1.0) + vec4(texture2D(texture, uv).w, 0., 0., 1.));
        }
    script(type="x/fragment-shader" id="#{id}-frag").
        varying vec2 vUv;
        varying vec3 pos;
        uniform sampler2D texture;
        uniform float time;

        float rand(vec2 co) {
            return fract(sin(dot(co.xy ,vec2(12.9898,78.233))) * 43758.5453);
        }
        void main() {
            vec4 color = texture2D(texture, vUv);
            float seed = rand(vec2(time * 1.23985, time * 9.20958));
            float edgeFactor = pow(1./vUv.x + 1./(1.-vUv.x),.75);
            gl_FragColor = vec4(color.xyz + edgeFactor * vec3(1.,1.,1.), edgeFactor * 0.01 + pow(color.w, 4.));
        }