mixin starShaders(id)
    script(type="x/vertex-shader" id="#{id}-vertex").
        uniform float time;
        uniform vec3 camera;
        float rand(vec2 co) {
            return fract(sin(co.x * 192.2897392 - co.y * 18912.1231));
        }
        void main() {
            float dist = pow(1. + distance(camera, position),2.);
            gl_PointSize = 1./dist * max(4000000000., sin(time/(25. + 10. * rand(position.xy))) * 6000000000.);
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
        }
    script(type="x/fragment-shader" id="#{id}-frag").
        uniform sampler2D texture;
        void main() {
            vec2 uv = vec2( gl_PointCoord.x, gl_PointCoord.y );
            gl_FragColor = texture2D(texture, uv);
        }