include ../../mixins/register-button

link(rel='stylesheet', href='/static/stylesheets/gdg.css')

#loader-wrapper
	#loader
.wrap
	.bg
	center
		img.imgtop(src='/static/images/gdg/logo.png')
	h1.headingmain Google Developer Group (GDG)
	center
		h1.place
	hr
	center
		p.para Hands on sessions on TensorFlow and Flutter
		+cartActionsMixin(event, user)
	.info
		img.phoneimg(src='/static/images/gdg/phone.png')
		p.no1 Tushar Aggarwal 913-323-5123

script(src="/static/gdg/home.js" type="text/javascript")
