include ../navigation
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

div.immersive-wrapper.pybits-background
	div.section.body.scrollable.markdown-body.dark-theme(data-simplebar)
		h1.title=title
		p
			| By 
			strong Crux
			| , 
			em Programming and Computing Club of BITS Pilani, Hyderabad Campus
		p
			strong 29th October.
		p
			| This would be a basic Python workshop of 6 hours duration. This workshop is aimed at students in the final years of school or in their first year of college and would serve as a peek into the world of programming with Python. This workshop has a limit of 100 college students and 150 school students. The workshop is free for school students and only college students who have bought PyBITS pass will be allowed.
			| If you are a school student, you need to fill the 
			a(href='https://docs.google.com/forms/d/1v9B64uWEnkm1Uto5hHZd_7jkGgvBNjWvQf7-dTtAl4U/') form
			|  to register
		h2 Prerequisites
		ul
			li 
                | Development Environment: Please follow the instructions 
                a(href="https://docs.google.com/file/d/0BwtHeodeKgC_Zmd6aWNhMWcwLUE/view?usp=sharing") here
                | to setup the Python environment.
		h2 Outline
		p 09:30 AM to 01:30 PM
		ol
			li Intro to Python
			li Python as a calculator
			li Strings
			li Using Python standard libraries
			li Lists, tuples
			li Loops
			li Dictionary
			li Functions
		p 2:30 PM to 4:30 PM
		ul
			li We will help you to develop a small application based on the covered topics. Also in this session you can grab some goodies by answering some basic questions.

	+navigationMixin(true)
