include ../navigation
link(rel='stylesheet', href='/static/stylesheets/pybits/pybits.main.css') 
style.
#pybits-wrapper
    .immersive-wrapper#pybits-background
        .heading-name
                h1 Blockchain and Smart Contracts from First Principle in Python
        #blockchain-header
            .speaker-img
                img(src='/static/images/pybits/saket_bhushan.jpg')
            .speaker-name
                h2 Saket Bhushan
            .workshop-date
                h2 2PM - 5PM, October 28, 2018
        //- hr
        p#para-workshop.
            Blockchain is one of the most revolutionary technologies of our times, which is still maturing and with immense potentials yet to be realised. While the internet is abuzz with blockchain, the concept is difficult to comprehend in its entirety. The workshop tries to help the audience build a comprehensive understanding of the subject, with Python being the programming language. The attendees will leave with a complete picture of the moving pieces of the jigsaw puzzle that blockchain is, and by the end of it will be able to build their own blockchain, cryptocurrency and a smart contract POC on ethereum.
        //- hr
        #workshop-topic-headings
            h2 Topics
            div
                h3 The workshop is divided into three parts :
                ol
                    li Context Building
                    li Blockchain fundamentals and principles 
                    li Coding a smart contract in Vyper(pythonic solidity)
        #workshop-topics
            div
                h2 Context Building
                ul
                    li Basic of Game Theory - Introduction and the Iterated prisoner's dilemma (IPD), creating matches and tournaments using Axelrod python library
                    li Cipher encryption and decryption in python
                    li Demonstration of network fundamentals and internet data handling
                    li Evolution of money and trust systems and why bitcoin is not a mainstream currency
                    li When blockchain should be avoided
                    li Why decentralisation matters
            div 
                h2 Blockchain with Python
                ul
                    li Understanding mining, incentives, payment records, and ownership
                    li Programming a basic prototype of a blockchain
                    li Adding a proof of work to our prototype
                    li Putting our prototype on a database
                    li Doing transactions on unique addresses
                    li Adding decentralisation to our prototype by distributing it over a network

            div
                h2 Coding a smart contract with Vyper

                ul 
                    li Understanding what a smart contract is
                    li Programming one with Vyper on Ethereum
        hr
        #instructor
            h3 ABOUT THE INSTRUCTOR
            p#instructor Saket Bhushan is founder-techie at Sosio. He has been programming in Python for over 10 years and has been semi-active in tech-conferences attending and delivering talks across the globe. In his personal capacity, he has introduced Python to more than 500 individuals and conducted training sessions at corporate houses like Oracle. Earlier in his previous life, he spent a good chunk of his time optimising computational mechanics algorithms. He is implementing blockchain with one of his supply-chain partners and would like to share his learning experience in the workshop.
        +navigationMixin(false)