include ../navigation
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

div.immersive-wrapper.pybits-background
	div.section.body.scrollable.markdown-body.dark-theme
		h1.title=title
		p
			| By 
			strong Malhar Lathkar
			| , 
			em Programming Technologies Trainer and tutor at TutorialsPoint
		p
			| Flask is a popular web application framework for Python that provides a small foundation core, and a variety of extensions for further requirements. This makes it easier for beginners to get started with Flask as compared to alternatives such as Django, which try to provide a complete set of features.
		h2 Prerequisites
		ol
			li Skills: Basic Python
			li
				| Development Environment: Please follow the instructions here(Link to doc) in order to install necessary software before attending the workshop.
		h2 Topics
		p
			| The workshop aims to have attendees deploy a Flask application while giving an overview of the functionality offered, implementation of simple apps, and integration of extensions to provide common features. The detailed break up of the 3 hour workshop into sub-topics is as follows.
		ol
			li Introduction, Overview and installation : 20 min
			li Routing, variable rules and URL building : 15 min
			li Request and response object in Flask : 15 min
			li Web templating systems and jinja2 : 15 min
			li Cookies and session handling in Flask application : 15 min
			li Message flashing : 15 min
			li Flask extensions : 10 min
			li WTF : 20 min
			li Database interfacing with SQLAlchemy : 20 min
			li Overview of deployment of Flask application : 15 min
		h2 About The Instructor
		p
			strong Malhar Lathkar
			|  has been teaching different programming technologies for last three decades. Fascinated by Computer languages and programming, he started his own software training and development centre in 1986. He has a lot of online tutorials on www.tutorialspoint.com, including one on Flask. His areas of interest include Java, Python, PHP and database technologies, and teaching is deeply influenced by his experiences in those domains.
		p
			| Thousands of undergraduate and PG students as well as professionals have been trained by him, and they are working with many of the leading IT companies across the world. He is associated with TIEC (Technology Innovation Entrepreneurship Center) set up by SGGSIE&T Nanded, and has designed many software solutions with applications in Banking, Healthcare, Automation etc.
		p
			| Check out his 
			a(href='https://www.tutorialspoint.com/flask_framework_online_training/index.asp') Flask Tutorials on Tutorials Point
			|  and follow him on 
			a(href='https://www.linkedin.com/in/malharlathkar/') LinkedIn
			| .

	+navigationMixin(true)