include ../navigation
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

div.immersive-wrapper.pybits-background
	div.section.body.scrollable.markdown-body.dark-theme
		h1.title=title
		p
			| By 
			strong Mohammad Sajid
			| , 
			em founder of StepUp Analytics
			| .
		p
			strong 29th October, 2 PM to 5 PM.
		p
			| Scrapy is a free and open source web scraping framework written in Python. It can be used to extract useful information from webpages, or as a web crawler to collect data on specific keywords from the internet.
		p
			| Over the course of the 3 hour long workshop, we will cover topics ranging from when to use scrapy, and setting up the development environment, to coding some basic spiders and crawlers. A detailed list of topics along with the necessary prerequisites are as follows.
		h2 Prerequisites
		ol
			li Skills: Basic Python
			li
				| Development Environment: Please follow the instructions here(Link to doc) in order to install necessary software before attending the workshop.
		h1 Topics
		ol
			li Why Scrapy?
			li Few Industry Use cases
			li Scrapy Overview
			li Environment
			li Command line tools
			li Scrapy Spiders
			li Items and Item Loaders
			li Item Pipelines
			li Link Extractors
			li Crawling
		h1 About The Instructor
		figure.speaker
			img(src='/static/images/pybits/scrapy-guy.jpg')
		p
			| Mohammed Sajid is the founder of 
			a(href='http://www.stepupanalytics.com/') StepUp Analytics
			| , a website that provides courses related to the fields of Data Science and Analytics. He works as a business analyst to transform data into information.
		p
			| Apart from Data Science, Analytics, and Statistics, he is also passionate about sports and entrepreneurship. Working on radically different ideas and thinking of out-of-the-box approaches to problems are what keep him awake at night.
		p
			| Follow him on 
			a(href='https://twitter.com/sajid_rvd') Twitter
			|  and 
			a(href='https://www.linkedin.com/in/mdsajidhussain1/?ppe=1') Linkedin
			| .


	+navigationMixin(true)