.section.body.module-about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:absolute;
    overflow: hidden;
    flex-wrap: nowrap;
}
.module-about.section.body > .logo {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    position: absolute;
    flex-grow: 1;
    height: 400%;
    margin-top: 20%;
    text-align: center;
    opacity: 1;
    mix-blend-mode: overlay;
}
.module-about.section.body > .logo > img {
    height: 100%;
    display: inline-block;
}
.module-about.section.body > .underlay {
    background-image: radial-gradient(at center, black, transparent 50%, black), url("/static/images/about.jpg");
    background-color: rgba(30,30,30,1);
    background-size: cover;
    background-position: center center;
    background-blend-mode: overlay;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.module-about.section.body .credits {
    position:absolute;
    bottom: 2em;
    right:2em;
    color: #c0c0c0;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    line-height: 1.2em;
    align-items: flex-end;
    display: none;
}
.module-about.section.body .credits > .person {
    font-weight: 600;
    display: block;
}
.module-about.section.body .about {
    z-index: +10;
    padding: 1em;
    line-height: 1.7em;
    font-weight: 300;
    font-size: 1.1em;
    color:#ccc;
    text-align: justify;
    box-sizing: border-box;
    padding: 0em 2em;
    position:absolute;
    max-width: 60vw;
    /*width: 60vw;*/
    top: 0;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.module-about.section.body .about > div {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.module-about.section.body .about h2 {
    font-weight: 600;
    letter-spacing: 1em;
    padding-bottom: 15px;
    position: relative;
}
.module-about.section.body .about p {
    margin-top: 15px;
    width: 100%;
}
.module-about.section.body .about .links {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: -20px;
}
.module-about.section.body .about .links a {
    flex-grow: 1;
    display: table-cell;
    text-align: center;
}
.module-about.section.body .about h2::after {
    position:absolute;
    height: 3px;
    width: 0.75em;
    content: "";
    top: 100%;
    left: 0;
    background: #ccc;
    animation:phase-beam 0.75s infinite;
}
@keyframes phase-beam {
    50% {
        opacity: 0;
    }
}
@keyframes seekattention {
    50% {
        transform: rotateZ(90deg) translateX(50%);
    }
}
#map{
    width: 100%;
    height: 100%;
    background-color: grey;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .module-about.section.body .about {
        box-sizing: border-box;
        padding: 3em 1em;
        height: 90%;
        display: block;
        top:5%;
        max-width: 100%;
        text-align: justify;
        border-left: 0em;
        overflow-y: auto;
    }
    .module-event.section.body .about > div {
        display: block;
        height: 90vh;
    }
    .icon-navigate_next {
        animation: none;
        font-size: initial;
        bottom: 2em;
    }
}

.module-about .about a.button {
    display: block;
    box-sizing: border-box;
    line-height: 3em;
    padding:0em 2em;
    margin-top:1.5em;
    border: 2px solid rgba(255,255,255,0.7);
    border-radius: 0;
    height: unset;
    background: unset;
    color: rgba(255,255,255,0.7);
    width: 15em;
}