div.section.body {
    padding-top: 1em;
}
div.section.body p {
    border-left:2px solid #ccc;
    padding: 1em;
    line-height: 1.2;
    font-weight: 400;
    font-size: 1.2em;
    color:#666;
    max-width: 60%;
}
.section .contacts
{
    list-style-type: none;
    padding-left: 0em;
    display: flex;
    flex-wrap: wrap;
}
.section .contacts > li {
    display: block;
    width: 50%;
    font-size: 1em;
    margin:0.75em 0;
    color:#666;
}
.section .contacts > li > i {
    display: inline-block;
    font-size: 3em;
    line-height: 1.2em;
    float: left;
    margin-right: 0.25em;
}
.section .contacts > li > span {
    display: block;
    line-height: 1.2em;
}
.section .contacts > li > span.name {
    font-size: 1.2em;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    div.section.body p {
        padding: 0em;
        padding-top: 1.5em;
        border-top:2px solid #ccc;
        max-width: 100%;
        text-align: justify;
        border-left: 0em;
    }
    .section .contacts > li {
        width: 100%;
    }
}