div.section.body p {
    border-left:2px solid #ccc;
    padding: 1em;
    line-height: 1.2;
    font-weight: 400;
    font-size: 1.2em;
    color:#666;
    max-width: 60%;
}
h1.contact{
    margin-top: 3em;
}
div.section.body p.contactp{
    line-height: 2;
    padding: 0;
    padding-left: 1em;
}
@media only screen and (max-width: 600px) {
    div.section.body p {
        padding: 0em;
        padding-top: 1.5em;
        border-top:2px solid #ccc;
        max-width: 100%;
        text-align: justify;
        border-left: 0em;
    }
    div.section.body p.contactp{
        padding-top: 1.2em;
    }

}