.section.body .accordion {
    display: block;
    width: 100%;
}
.section.body .accordion > label {
    line-height: 3em;
    font-size: 1.1em;
    display: block;
    width: 100%;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.section.body .accordion > label:focus {
    border: 1px dotted rgba(0,0,0,0.5);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    z-index: +1;
}
.section.body .accordion > label:hover {
    background: #FAFAFA;
}
.section.body .foldup {
    position:relative;
    top:100%;
    left: 0;
    width:100%;
    height:100%;
    background: #fff;
    opacity: 1;
    z-index: +100;
}
#_portal.saving .header.title::after {
    content: "Saving...";
    font-size: 0.8em;
    color: grey;
}
#_portal.failed .header.title::after {
    content: "Failed";
    font-size: 0.8em;
    color: red;
}
.section.body .foldup .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section.body .foldup label.event {
    display: inline-block;
    width: 15em;
    white-space: nowrap;
    padding: 0.5em;
    cursor: pointer;
    background: #f5f5f5;
    border-radius:2px;
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
    border:1px solid rgba(0,0,0,0.1);
}
.section.body .foldup input:checked + label.event {
    border: 1px solid #49D;
    background:#f5f5fF;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.section.body .foldup label.event.registered {
    opacity: 0.5;
    border: 1px solid #4D9;
    pointer-events: none;
}
.section.body .foldup label.event .name {
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1.5em;
    color:#333;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.section.body .foldup label.event .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.section.body .foldup label.event .price::before {
    content: '\20b9';
}
.section.body .foldup label.event .count {
    font-weight: 600;
    line-height: 1.5em;
    color:#000;
    display: inline-block;
}
.section.body .foldup label.event .count::after {
    content: "tickets sold";
    margin-left: 0.25em;
    font-weight: 400;
    color: #666;
}
