div.body {
    display: flex;
    width: 100%;
}
form {
    width:50%;
}
form .field-container {
    width:100%;
}
.about.button {
    display: none;
}
div.section.body div.content {
    display: block;
    line-height: 1.5em;
    border-radius: 4px;
    padding: 0em 1em;
    width: 45%;
    margin-left: 2.5%;
    box-sizing: border-box;
    margin-top: 0;
    text-align: justify;
    font-size: 1em;
    font-weight: 400;
    color:#666667;
}
div.section.body div.content h3 {
    font-weight: 600;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    .about.button {
        display: inline-block;
        line-height: 3em;
        color:#444;
        background:#f0f0f0;
        padding:0 1em;
        border-radius:4px;
        font-weight: 600;
    }
    form {
        width:100%;
    }
    form.inactive {
        display: none;
    }
    div.section.body div.content {
        position:absolute;
        left:0;
        top:0;
        margin-left: 0;
        background:white;
        z-index: +100;
        position: absolute;
        width:100%;
        display: none;
        padding:2em 2em;
    }
    div.section.body div.content.active {
        display: block;
    }

    form.inactive {
        display: none;
    }
}