.section.body, .section.body .contacts, .section.body .underlay {
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left: 0;
    margin:0;
    padding:0;
}
.section.body::after {
    position:absolute;
    content:"";
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: +1000;
    pointer-events: none;
    background-image: linear-gradient(purple, yellow);
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.section.body .underlay {
    background-size: contain;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    transition:background-image 1s;
    background-position: center center;
}
.section.body {
    background:#1e1e1e;
}
.section.body .contacts {
    display: flex;
    box-sizing: border-box;
    padding-top: 40px;
    cursor:default;
    flex-wrap: wrap;
    color:#f0f0f0;
    font-size: 1.1em;
    line-height: 1.25;
    align-items: center;
    justify-content: space-around;
}
.section.body .contacts > li {
    display: flex;
    position: relative;
    z-index: +10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:25%;
    color:#b0b0b0;
    height: 30%;
    -webkit-user-select:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    transition:color 1s cubic-bezier(0,0,0,1), opacity 0.5s;
}
.section.body .contacts > div {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section.body .contacts > div > img {
    height: 80%;
    position:absolute;
    z-index: 1;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.5s cubic-bezier(0,0,0,1);
    transition-delay: 0.1s;
}
.section.body .contacts > div > img.default {
    height:50%;
    opacity: 0.1;
    z-index: 0;
}
.section.body .contacts > div > img.active {
    opacity:0.7;
    transition-delay: 0s;
}
.section.body .contacts > li > span {
    pointer-events: all;
    font-weight: 400;
    text-align: center;
}
.section.body .contacts > li:hover {
    color: #f7f7f7;
}
.section.body .contacts > li.fade {
    opacity: 0.1;
}
.section.body .contacts > li > .post {
    font-weight: 800;
    letter-spacing: 0.06em;
    font-size: 1.1em;
    text-transform: uppercase;
}
.section.body .contacts > li > .phone {
    font-size: 0.8em;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}
.section.body .contacts > li > .others {
    line-height: 1.5em;
    display: flex;
    justify-content: center;
}
.section.body .contacts > li > .others > a {
    line-height: 1.5em;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    margin: 0.5em;
}
@media only screen and (max-width: 600px) {
    .section.body, .section.body .contacts {
        background:#1e1e1e;
        height: unset;
        width: 100vw;
    }
    .section.body .contacts > div {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        background:inherit;
    }
    .section.body .contacts > div::after {
        background: linear-gradient(transparent, #1e1e1e);
    }
    .section.body .contacts > div > img {
        position: relative;
        opacity: 1;
        height: 80vh;
    }
    .section.body .contacts > li {
        height: 100vw;
        margin-top: -100vw;
        width: 100vw;
        font-size: 1.2em;
        padding-bottom: 2em;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;
    }
}