@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600');

.module-events .section.tags {
    line-height: 3em;
}
.module-events .section.tags a {
    color:#444;
    margin: 2px 2px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}
.module-events .section.tags a::after {
    position: relative;
    font-family: 'icomoon';
    content: "\e5cd";
    display: inline-block;
    vertical-align: bottom;
    margin-left: 0.5em;
    margin-right: 1em;
    transform:scale(0);
    transition: transform 0.2s;
}
.module-events .section.tags a:hover {
    color:#121212;
}
.module-events .section.tags a.active {
    color: #c0c0c0;
}
.module-events .section.tags a.active::after {
    transform:scale(1);
}
.module-events a.outward {
    line-height: 3em;
    padding: 0em 1em;
    color: #fff;
    font-weight: 600;
    background: #000;
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.module-events a.outward span {
    font-weight: 600;
    margin-left: 0.5em;
}

.events-wrapper {
    display: flex;
    flex-wrap: wrap;
    position:relative;
    justify-content: space-between;
}

.events-wrapper > div:empty {
    height: 0;
    width: 100%;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}
.events-wrapper::before {
    position:absolute;
    content: "Nothing to see here yet. Coming soon.";
    padding: 2em 0em;
    color:#777;
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.events-wrapper .event-container {
    box-sizing: border-box;
    border-radius: 2px;
    height: 30vw;
    min-width: 20vw;
    width: 29%;
    display: flex;
    position: relative;
    flex-direction: column;
    background: #ddd;
    font-size: 1.2em;
    margin: 3px;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
    flex-grow: 1;
    background:linear-gradient(45deg, #f0f0f0, #fafafa);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    transition: all 0.3s cubic-bezier(0,0,0,1);
    padding: 0.7em;
}
.events-wrapper .event-container:hover {
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3), 0px 8px 20px rgba(0,0,0,0.5);
    z-index: +10;
    transform: scale(1.01);
}

.events-wrapper .event-container.disabled {
    display: none;
}

.events-wrapper .event-container.Proshow, .events-wrapper .event-container.TechExpo, .events-wrapper .event-container.PyBITS {
    min-width: 49%;
}

.events-wrapper .event-container.Proshow > .face, .events-wrapper .event-container.TechExpo > .face, .events-wrapper .event-container.PyBITS > .face {
    font-size: 1.5em;
}

.events-wrapper .event-container.Proshow > .face > .name, .events-wrapper .event-container.TechExpo > .face > .name, .events-wrapper .event-container.PyBITS > .face > .name {
    font-weight: 600;
}

.events-wrapper .event-container.Proshow > .image, .events-wrapper .event-container.TechExpo > .image, .events-wrapper .event-container.PyBITS > .image {
    background-position: center center;
}

.events-wrapper .event-container > .face {
    color: rgba(30,30,30, 0.9);
    position: relative;
    z-index: +100;
    letter-spacing: 0.02em;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: .75em 0;
    height: 30%;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Source Sans Pro', 'Proxima Nova', sans-serif;
}

.events-wrapper .event-container > .face > .tag {
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    color: #aac1d0;
}

.events-wrapper .event-container > .face > .name {
    font-size: 1.2em;
    font-weight: 300;
    white-space: nowrap;
    max-width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow:hidden;
}

.events-wrapper .event-container > .face > .tagline {
    font-size: 0.9em;
    font-weight: 300;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow:hidden;
}

.events-wrapper .event-container .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    border-bottom: none;
}

.events-wrapper .event-container .details {
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.module-events.open-event.section {
    position:absolute;
    margin:0;
    top:0;
    left:0;
    display: block;
    width:100%;
    z-index: +100;
}
.module-events.open-event .top {
    display: flex;
    align-items: center;
}
.module-events.open-event .hero {
    display: block;
    width:100%;
    height:25vw;
    background-color:#ccc;
    background-size:cover;
    background-position:center center;
    background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.6));
    position:relative;
    margin-bottom:2em;
}

.module-events.open-event .body {
    box-sizing: border-box;
    padding:0% 6%;
    position:relative;
    padding-bottom:4em;
}
.module-events.open-event .body .top .remnant {
    justify-content: flex-end;
}

.module-events.open-event .details {
    width:100%;
    height:3em;
    font-size:1.1em;
    line-height: 3em;
    display: flex;
    margin: 1em 0;
}

@media only screen and (max-width: 590px) {
    .module-events.open-event .details {
        height:auto;
        flex-direction: column;
    }
}
.module-events.open-event .details .time > div {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    height: 3em;
}
.module-events.open-event .details .datetime {
    display: inline-flex;
    flex-direction: column;
    line-height: 1.2em;
    padding:0 0.3em;
    font-size: 0.8em
}
.module-events.open-event .details .datetime > span {
    width: 100%;
    text-align: center;
}
.module-events.open-event .details .datetime > b {
    width:100%;
    text-align: center;
    font-weight: 600;
}


.module-events.open-event .details > * {
    padding: 0 1em 0 0;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 0em 1em;
    margin-right:-1px;
    display: table-cell;
    box-sizing: border-box;
}
.module-events.open-event .details > * > span:first-child {
    display: inline-block;
    margin-right: 1em;
    color:#999;
}
.module-events.open-event.details > * > span:last-child {
    display: inline-block;
    color:black;
}
.module-events.open-event .details > .prize {
    display: flex;
    border:none;
    align-items: flex-start;
    justify-content: flex-end;
}
@media only screen and (max-width: 590px) {
    .module-events.open-event .details > .prize {
        justify-content: flex-start;
    }
}
.module-events.open-event .details > .money > span:last-child {
    font-weight: 600;
}
.module-events.open-event .details > .money > * {
    display: inline-block;
    color:#444;
}
.module-events.open-event .details > .money > i {
    font-style: normal;
    line-height:3em;
    color:#777;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
}
.module-events.open-event .title {
    box-sizing: border-box;
    font-size:2em;
    font-weight: 600;
}
.module-events.open-event .back {
    transform: rotateZ(180deg);
    position: absolute;
    font-size: 3em;
    line-height: .666em;
    right: 100%;
    cursor: pointer;
}

.module-events.open-event .category {
    font-weight: 600;
    font-size:1em;
    line-height: 1.5;
    padding:0 0.5em;
    margin-top:5px;
    display: inline-block;
    position:relative;
    /*cursor:pointer;*/
    background:#f0f0f0;
    border-radius:4px;
    color:#202729;
}
.module-events.open-event .category::before {
    content:"#";
    right:100%;
}
.module-events.open-event .foot {
    display: flex;
    justify-content: flex-end;
    margin-top:2em;
}
.module-events.open-event .foot .download {
    font-weight: 600;
    padding:0 1em;
    display: inline-block;
    line-height: 3em;
    background:#f0f0f0;
    border-radius:4px;
    transition: all 0.2s;
    cursor:pointer;
    color:#444;
    text-decoration: none;
}

.module-events.open-event .foot .download:hover {
    background:#eaeaea;
}

.module-events.open-event .description {
    box-sizing: border-box;
    font-size:15px;
    line-height: 1.5em;
}
.module-events.open-event .description > section {
    padding-top:1em;
}
.module-events.open-event .description p {
    text-align: justify;
}
.module-events.open-event .description h1,
.module-events.open-event .description h2,
.module-events.open-event .description h3,
.module-events.open-event .description h4,
.module-events.open-event .description h5 {
    font-weight: 600;
    line-height: 1.2em;
}
.tsbutton {
    margin-bottom: 1em;
}
span.declaration {
    line-height: 2em;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .module-events .section.tags {
        overflow-x: scroll;
        white-space: nowrap;
    }
    .events-wrapper .event-container {
        width:100% !important;
        height: 100vw;
        padding: 0em;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }
    .events-wrapper .event-container .face {
        padding: 0em 1em;
    }
    .events-wrapper .event-container.Proshow, .events-wrapper .event-container.TechExpo {
        min-width: unset;
    }
    .events-wrapper .event-container.Proshow > .face, .events-wrapper .event-container.TechExpo > .face {
        font-size: 1em;
    }
    .events-wrapper .event-container.Proshow > .face > .name, .events-wrapper .event-container.TechExpo > .face > .name {
        font-weight: 300;
    }
    .module-events.open-event .hero {
        height:40vw;
    }
    .module-events.open-event .category {
        line-height: 2em;
    }
}
#schedule {
    height: 100%;
    background-color: black;
}
.scrollable {
    height: 80vh;
}
#sc-wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.row {
    display: flex;
    flex-direction: row;
}
.day {
    flex-grow: 1;
    width: 50vw;
    align-items: flex-end;
}
@media only screen and (max-width: 400px) {
    .timeline {
        max-width: 11vw !important;
    }
}
strong {
    font-weight: 600;
}
.date {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 100;
    font-size: 2.5vw;
    padding-top: 25px;
}
#content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 7vw;
}
.event p {
    font-family: "Work Sans", sans-serif;
}
.timeline {
    border-left: 4px solid #4298C3;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Source Sans Pro', sans-serif;
    /*margin: 50px auto;*/
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
}
.day .center {
    align-items: center !important;
}
.center .timeline {
    max-width: 100%;
    width: 50vw;
}
.timeline .date,
.timeline .sc-title {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.5vw;
}
.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -217.5px;
    color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}
@media only screen and (max-width: 500px) {
    .timeline .event:before {
        left: -185px;
    }
}
@media only screen and (max-width: 420px) {
    .timeline .event:before {
        font-size: 0.75em;
    }
}
.timeline .event:after {
    box-shadow: 0 0 0 4px #4298c3;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}
