@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600');
.section.header {
    opacity: 0;
}
.events-wrapper {
    display: flex;
    flex-wrap: wrap;
    position:relative;
    justify-content: center;
}
.events-wrapper::before {
    position:absolute;
    padding: 2em 0em;
    color:#777;
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}
.events-wrapper .hex-container {
    transform: rotateZ(45deg);
    height: 25vw;
    width: 25vw;
    max-width: 100%;
    overflow: hidden;
    transform-style: preserve-3d;
    margin: 0.5em;
}

.events-wrapper .event-container {
    transform-style: preserve-3d;
    box-sizing: border-box;
    border-radius: 1px;
    transform: rotateZ(-45deg);
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: row;
    font-size: 1.2em;
    margin: 1px;
    overflow: hidden;
    cursor: pointer;
    background: #e0e0e0;
    color: rgba(50, 50, 50, 0.9);
}
.events-wrapper .hex-container:nth-child(2n) > .event-container {
    background:#444;
    color: rgba(250, 250, 250, 0.9);
}

.events-wrapper .event-container.disabled {
    display: none;
}
.events-wrapper .event-container > .face {
    position: relative;
    z-index: +100;
    letter-spacing: 0.02em;
    background-image: transparent;
    box-sizing: border-box;
    padding: 1.2em;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Sans Pro', 'Proxima Nova', sans-serif;
    transition:background 0.3s;
}
.events-wrapper .event-container:hover > .face {
    background:radial-gradient(at center, rgba(255, 255, 255, 0.6),  rgba(200, 200, 210, 0.4));
}

.events-wrapper .event-container > .face > .name {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}

.events-wrapper .event-container .image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 0;
}

.events-wrapper .event-container .details {
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.open-event.section {
    position:absolute;
    margin:0;
    top:0;
    left:0;
    display: block;
    width:100%;
    z-index: +100;
    padding-top: 60px;
}
.open-event .top {
    display: flex;
    align-items: center;
}
.open-event .hero {
    display: block;
    width:100%;
    height:25vw;
    background-color:#ccc;
    background-size:cover;
    background-position:center center;
    background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.6));
    position:relative;
    margin-bottom:2em;
}
.open-event .icon-close {
    font-size: 2em;
    color: #262626;
    position:absolute;
    bottom: 1em;
    right: 6%;
}

.open-event .body {
    box-sizing: border-box;
    padding:0% 6%;
    position:relative;
    padding-bottom:4em;
}

.open-event .details {
    width:100%;
    height:3em;
    font-size:1.1em;
    line-height: 3em;
    display: flex;
    margin: 1em 0;
}
.open-event .details .time > div {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    height: 3em;
}
.open-event .details .datetime {
    display: inline-flex;
    flex-direction: column;
    line-height: 1.2em;
    padding:0 0.3em;
    font-size: 0.8em
}
.open-event .details .datetime > span {
    width: 100%;
    text-align: center;
}
.open-event .details .datetime > b {
    width:100%;
    text-align: center;
    font-weight: 600;
}


.open-event .details > * {
    padding: 0 1em 0 0;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 0em 1em;
    margin-right:-1px;
    display: table-cell;
    box-sizing: border-box;
}
.open-event .details > * > span:first-child {
    display: inline-block;
    margin-right: 1em;
    color:#999;
}
.open-event.details > * > span:last-child {
    display: inline-block;
    color:black;
}
.open-event .details > .prize {
    display: flex;
    border:none;
    align-items: flex-start;
    justify-content: flex-end;
}
.open-event .details > .money > span:last-child {
    font-weight: 600;
}
.open-event .details > .money > * {
    display: inline-block;
    color:#444;
}
.open-event .details > .money > i {
    font-style: normal;
    line-height:3em;
    color:#777;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
}
.open-event .title {
    box-sizing: border-box;
    font-size:2em;
    font-weight: 600;
}

.open-event .category {
    font-weight: 600;
    font-size:1em;
    line-height: 1.5;
    padding:0 0.5em;
    margin-top:5px;
    display: inline-block;
    position:relative;
    /*cursor:pointer;*/
    background:#f0f0f0;
    border-radius:4px;
    color:#202729;
}
.open-event .category::before {
    content:"#";
    right:100%;
}
.open-event .foot {
    display: flex;
    justify-content: flex-end;
    margin-top:2em;
}
.open-event .foot .download {
    font-weight: 600;
    padding:0 1em;
    display: inline-block;
    line-height: 3em;
    background:#f0f0f0;
    border-radius:4px;
    transition: all 0.2s;
    cursor:pointer;
    color:#444;
    text-decoration: none;
}

.open-event .foot .download:hover {
    background:#eaeaea;
}

.open-event .description {
    box-sizing: border-box;
    font-size:15px;
    line-height: 1.5em;
}
.open-event .description > section {
    padding-top:1em;
}
.open-event .description p {
    text-align: justify;
}
.open-event .description h1,
.open-event .description h2,
.open-event .description h3,
.open-event .description h4,
.open-event .description h5 {
    font-weight: 600;
    line-height: 1.2em;
}
.tsbutton {
    margin-bottom: 1em;
}
span.declaration {
    line-height: 2em;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .section.tags {
        overflow-x: scroll;
        white-space: nowrap;
    }
    .events-wrapper .event-container {
        width:100%;
        height: 80vw;
    }
    .events-wrapper .event-container.Proshow, .events-wrapper .event-container.TechExpo {
        min-width: unset;
    }
    .events-wrapper .event-container.Proshow > .face, .events-wrapper .event-container.TechExpo > .face {
        font-size: 1em;
    }
    .events-wrapper .event-container.Proshow > .face > .name, .events-wrapper .event-container.TechExpo > .face > .name {
        font-weight: 300;
    }
    .open-event .hero {
        height:40vw;
    }
    .open-event .category {
        line-height: 2em;
    }
}
#schedule {
    height: 100%;
    background-color: black;
}
.scrollable {
    height: 80vh;
}
#sc-wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.row {
    display: flex;
    flex-direction: row;
}
.day {
    flex-grow: 1;
    width: 50vw;
    align-items: flex-end;
}
@media only screen and (max-width: 400px) {
    .timeline {
        max-width: 11vw !important;
    }
}
strong {
    font-weight: 600;
}
.date {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 100;
    font-size: 2.5vw;
    padding-top: 25px;
}
#content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 7vw;
}
.event p {
    font-family: "Work Sans", sans-serif;
}
.timeline {
    border-left: 4px solid #4298C3;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Source Sans Pro', sans-serif;
    /*margin: 50px auto;*/
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
}
.day .center {
    align-items: center !important;
}
.center .timeline {
    max-width: 100%;
    width: 50vw;
}
.timeline .date,
.timeline .sc-title {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.5vw;
}
.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -217.5px;
    color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}
@media only screen and (max-width: 500px) {
    .timeline .event:before {
        left: -185px;
    }
}
@media only screen and (max-width: 420px) {
    .timeline .event:before {
        font-size: 0.75em;
    }
}
.timeline .event:after {
    box-shadow: 0 0 0 4px #4298c3;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}
