@import url("/static/fonts/Amber Taste/font.css");

.main .wrapper.face.module-home {
  overflow-y: hidden;
}
* {
  -webkit-select: none;
}


/*Don't add the module class to this element. This is out of the container div.*/
.immersive-wrapper {
  position:absolute;
  background-color: rgba(0,0,0,0.5); /*immersive mode starts with this color*/
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  overflow:auto;
  box-sizing: border-box;
  padding: 0 !important;
  justify-content: space-around;
  align-items: center;
}
.module-home .slide {
  position:relative;
  width:100%;
  height:100%;
}
.module-home .parallax {
    display: flex;
    justify-content: center;
    align-items: center;
}
.module-home .parallax > .background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background: url('/static/images/landing/background.jpg');
    background-size: cover;
    filter: sepia(1);
    left: 0;
    top:0;
    background-position: center center;
}
.module-home .parallax > .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top:0;
    background: rgba(0,0,0,0.6);
}
.module-home .parallax > canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: +15;
  filter: sepia(1);
  position: fixed;
  z-index: 0;
}
.module-home .parallax > .background > img {
  position:absolute;
  top:0;
  left: 0;
  height:100%;
}
.module-home #mistscape {
  display: none;
}
.module-home .parallax > .center {
  height: 20em;
  position: absolute;
  z-index: 10;
  margin-top: -10em;
  top:40%;
}
.module-home .parallax > .center > img {
  height: 100%;
}
.module-home .parallax .countdown {
  position:absolute;
  top:105%;
  z-index: +20;
  width:100%;
  color:white;
  display: flex;
  align-items: center;
  line-height: 2em;
  justify-content: center;
  z-index: +20;
  color: white;
  font-size: 2em;
  letter-spacing: 0.1em;
  line-height: 2em;
  -webkit-select:none;
  cursor: default;
  color: #b08753;
}
.module-home .parallax .countdown > * {
  font-family: 'Amber-Taste-Basic';
  font-size: 1em;
  width: 5em;
  flex-shrink: 0;
  text-align: center;
}
.module-home .parallax .countdown > *::after {
  content: attr(title);
  margin-left: 0.5em;
  font-size: 0.8em;
}
.module-home .parallax > .header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: +100;
  left: 0;
  text-align: right;
}
.module-home .parallax > .header a {
  font-size: 1em;
  color: #b08652;
  height: 3em;
  display: inline-block;
  padding: 0em 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.module-home .parallax > .header a::after {
  content: "\e409";
  font-size: 1.5em;
  line-height: 2em;
  font-family: "icomoon";
}
.module-home .parallax > .footer {
  display: flex;
  align-items: center;
  line-height: 2em;
  justify-content: space-around;
  flex-direction: column;
  position:absolute;
  bottom: 7em;
  z-index: +30;
  flex-direction: row;
}
.module-home .parallax > .footer::before {
  bottom: 100%;
  line-height: 2em;
  padding-bottom: 1em;
  /*content:"CONTACT";*/
  color:white;
  position:absolute;
}
.module-home .parallax > .footer > .contact {
  color: #fff;
  font-weight: 400;
  width: 12em;
  text-align: center;
  text-transform: uppercase;
}
.module-home .parallax > .footer > .contact > .name {
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 600;
  color: #b08652;
}
.module-home .parallax > .footer > i {
  line-height: 1.5em;
  width:1.5em;
  text-align: center;
  color: #fff;
  position:absolute;
  bottom: -2em;
  font-size: 2em;
  animation: call 1s infinite ease-in-out;
}
@keyframes call {
  0% {
    transform: rotateZ(90deg) translateX(0%);
  }
  50% {
    transform: rotateZ(90deg) translateX(50%);
  }
  100% {
    transform: rotateZ(90deg) translateX(0%);
  }
}

/*Secondary Slides*/
.module-home .secondary > .prelims {
  width: 100%;
  background: rgba(0,0,0,0.5);
  padding: 3em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.module-home .secondary > * > .heading {
  font-size: 3em;
  color: white;
  font-weight: 600;
  margin-left: 1em;
}
.module-home .secondary > * > .heading > *:not(.subheading) {
  font-weight: 600;
}
.module-home .secondary > * > .heading > .subheading {
  font-size: 0.4em;
  font-weight: 600;
}
.module-home .secondary > .prelims > .links {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.module-home .secondary > .prelims > .links > a {
  line-height: 3em;
  height: 3em;
  padding: 0em 2em;
  border: 2px solid #b08753;
  color: #b08753;
  margin: 0em 2em;
}
.module-home .secondary > .sponsors {
  width: 100%;
  background:rgba(255,255,255,1);
  padding: 3em 0em;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.module-home .secondary > .sponsors > .heading {
  width: 100%;
  margin-bottom: 1em;
  color:black;

}
.module-home .secondary > .sponsors > .item {
  width:auto;
  height: 15vw;
  border:0px solid #000;
  margin:1.5vw 2.5vw;
  text-align: center;
  display:flex;
  flex-direction: column;
}
.module-home .secondary > .sponsors > .item > .logo{
  margin:1.2vw;
  flex-grow:1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.module-home .secondary > .sponsors > .item > .logo > img {
  max-height: 10vw;
}
.module-home .secondary > .sponsors > .item > .desc{
  font-size: 1.5vw;
  font-weight: 4px;
  margin: 0.5vw;
  height: 2em;
 }
@media only screen and (max-width: 800px)
{
  .module-home .parallax .center {
    height: 15em;
    margin-top: -7.5em;
    top: 35%;
  }
  .module-home .parallax > .footer {
    bottom: 2em;
    flex-direction: column;
    justify-content: space-between;
  }
  .module-home .parallax > .footer > a {
    border: none;
  }
  .module-home .parallax > .footer > .face {
    font-size: 1.5em;
    padding: 2em;
    text-align: center;
  }
  .module-home .parallax > .footer > .list {
    flex-direction: column;
    width: 100%;
  }
  .module-home .parallax > .footer > .list > a {
    width: 100%;
    display: flex;
    margin:0em;
    flex-direction: row;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.5);
  }
  .module-home .parallax > .footer > .list > a::after {
    font-size: 0.8em;
    content: "Register Now!";
    right: 2.5em;
    position:absolute;
  }
  .module-home .parallax .countdown > * {
    width: 3em;
  }
  .module-home .parallax .footer {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .module-home .parallax .footer .contact {
    margin: 1em 0em;
  }
  .module-home .parallax .center {
    margin-top: -25%;
  }
  .module-home .secondary .prelims .links, .secondary .prelims {
    flex-direction: column;
  }
  .module-home .secondary .prelims .heading {
    width: 100%;
  }
  .module-home .secondary .prelims .links {
    width: 100%;
  }
  .module-home .secondary .prelims .links a {
    width: 100%;
    box-sizing: border-box;
    padding: 0em 1.5em;
    border: none;
    font-weight: 600;
  }
  .module-home .secondary .sponsors .heading {
    margin-left: 0.5em;
  }
  .metadata {
    text-align: left;
    width: 40%;
    padding: 20px 20px 20px 20px;
    border: 20px 20px 20px 20px;
  }
}
