.main .wrapper.face {
	overflow-y: hidden;
}

.immersive-wrapper {
	position:absolute;
	background-color: rgba(0,0,0,0.5); /*immersive mode starts with this color*/
	background-image: url("/static/images/meta.jpg");
	background-blend-mode: overlay;
	background-size:cover;
	display: flex;
	width:100%;
	height: 100%;
	top:0;
	left: 0;
	box-sizing: border-box;
	padding: 0% 5% !important;
	justify-content: space-around;
	align-items: center;
}
#fallback {
	display: flex;
	flex-direction: column;
	align-items: center;
	color:white;
	font-family: monospace;
	z-index: +9999;
	justify-content: space-between;
}
#fallback .links .title {
	display: block;
	font-size: 1.2em;
	font-weight: 500;
	width: 100%;
	text-align: center;
}
#fallback .links .list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 100%;
	margin-top: 1em;
}
#fallback .message {
	margin-top: 1.5em;
}
#fallback .links .list a {
	margin: 0em 1em;
}

.immersive-wrapper #fallback.out {
	opacity: 0;
	transition: opacity 0.5s;
}
.immersive-wrapper .message{
	margin-bottom: 2em;
}
.immersive-wrapper .message > span {
	font-size: 1.5em;
	color: #fff;
	position:relative;
	z-index: +300;
	font-weight: 300;
	margin-right: -0.5em;
	line-height: 2em;
	font-family: 'Proxima Nova';
	display: block;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
}
.immersive-wrapper .message > span.big {
	letter-spacing: 0.8em;
	font-size: 2em;
	margin-right: -0.8em;
	font-weight: 400;
}
.immersive-wrapper .button {
	line-height: 3em;
	position:relative;
	z-index: +100;
	font-weight: 400;
	background-color: rgba(0,0,0,0.5);
	border:2px solid #9973f2;
	color:#9973f2;
	letter-spacing: 0.1em;
	/*pointer-events: all;*/
	padding: 0em 2em;
	font-size: 1.1em;
	cursor:pointer;
	display: inline-block;
	white-space: nowrap;
}
.immersive-wrapper .button span {
	margin-right: -0.1em;
}

.immersive-wrapper * {
	user-drag:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-o-user-drag:none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.immersive-wrapper canvas {
	width: 100%;
	height: 100%;
	position:absolute;
	top:0;
	left: 0;
}

div.underlay {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	z-index: +20;
	background-color:rgba(0,0,0,0.1);
	background-position: center center;
	background-size: cover;
}
div.subject {
	position:relative;
	z-index: +100;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.subject img {
	width:30em;
}
div.footer {
	bottom:0;
	left:0;
	width:100%;
	height:5em;
	display: flex;
	z-index: +10000;
	position:absolute;
	align-items: center;
	background: linear-gradient(transparent, rgba(0,0,0,0.6));
	justify-content: center;
}
div.footer > .mute {
	position:absolute;
	right: 0;
	line-height: 5em;
	padding: 0em 2em;
	font-weight: 400;
	font-size: 0.9em;
	font-weight: 600;
	letter-spacing: 0.06em;
	pointer-events: all;
	transition: all 0.1s;
	color: rgba(255,255,255,0.75);
}
div.footer > .mute:active {
	transform: scale(0.8);
}
div.footer > .sharables > a {
	font-size: initial;
    color: white;
    line-height: 5em;
    width:5em;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 0em 2em;
}
div.footer > .patronage::before {
	position: absolute;
	bottom: 100%;
	width: 100%;
	margin-bottom: 0.5em;
	text-align: center;
	color: white;
	font-weight: 400;
	content:"Under the patronage of";
}
div.footer > .patronage {
	position: absolute;
	align-self: flex-start;
	left: 0;
	margin-top: 1.5em;
}
div.footer > .patronage > img {
	height: 2em;
	margin: 0em 2em;
}
.slider {
	position:absolute;
	z-index: +100;
	top: 0;
	left:0;
	pointer-events: none;
	right: 0;
	bottom:0;
	transition: margin-top 1s;
	will-change: margin-top;
}
.slide {
	position:absolute;
	top:0;
	left: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
.slide.now > * {
	transition: opacity 1s 2s;
	opacity: 1;
	/*filter: blur(0);*/
}

.slide.now .button {
	pointer-events: all;
}
.slide > * {
	opacity: 0;
	/*filter: blur(10px);*/
	transition: opacity 0.7s;
	will-change: opacity;
}

.slide .content {
	display: flex;
	align-items: center;
	height: 70%;
	width: 40%;
	color: #fff;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
	padding: 2em 3em;
    position:relative;
	text-shadow: 0px 0px 10px rgba(0,0,0,1);
}
.slide .content h2 {
	font-size: 1.5em;
	font-weight: 400;
	color: white;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 1em;
	display: block;
}
.slide.left .content {
	align-self: flex-start;
	text-align: left;
	align-items: flex-start;
}
.slide.right .content {
	align-self: flex-end;
	text-align: right;
	align-items: flex-end;
}
.slide.right .content h2 {
	margin-right: -1em;
}
.slide .content li {
	list-style-type: none;
	line-height: 1.25em;
	font-size: 1.1em;
	padding: 0.5em 0em;
}
.content .flashlist {
	overflow: hidden;
	width: 100%;
	height: 4em;
	display: flex;
}
.content .flashlist li {
	transition: transform 0.5s, opacity 0.4s;
	transform: translateX(100%);
	position:absolute;
	opacity: 0;
}
.content .flashlist li.leaving {
	transform: translateX(-100%);
	opacity: 0;
}
.content .flashlist li.active {
	transform: none;
	opacity: 1;
}
.slide.right .content .flashlist {
	justify-content: flex-end;

}

/*
*	 #slide1
*/
#slide1 .calling {
	position: absolute;
	bottom:0;
	height: 25%;
	width: 30%;
	display: flex;
	left: 35%;
	flex-direction: row;
	justify-content: center;
}
#slide1 .calling .line {
	height: 50%;
	position:absolute;
	left:50%;
	margin-left: -1px;
	background: #9973f2;
	width: 2px;
	display: flex;
	justify-content: center;
}
#slide1 .calling > span {
	color: #9973f2;
	line-height: 2em;
	font-size: 1.1em;
	margin-top: -3em;
}
#slide1 .calling > span > * {
	display: inline-block;
}
#slide1 .calling > span > i {
	height: 2em;
	width: 2em;
	text-align: center;
	line-height: 2em;
	transform: rotateZ(-90deg);
}
#slide1 .calling > span > i.down {
	transform: rotateZ(90deg);
}

/*
* slide6
*/
#slide6 .content > div.list {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-top: -0.5em;
}
#slide6 .content > div.list li div {
	white-space: nowrap;
}
#slide6 .content > .button {
	margin-top: 1em;
}
.controller {
	display: none;
}

@media only screen and (max-width: 800px) {
	.immersive-wrapper {
		font-size:0.8em;
		padding: 15% 0% !important;
		flex-direction: column;
	}
	div.footer {
		position:fixed;
	}
	.slider {
		background: rgba(0,0,0,0.3);
	}
	#fallback {
		box-sizing: border-box;
		padding: 0em 1em;
		font-size: 1.2em;
	}
	#fallback .message {
		text-align: center;
	}
	#fallback .links {
		font-size: 1.5em;
	}
	#fallback .links .list {
		flex-direction: column;
		line-height: 2em;
		text-align: center;
	}
	#cursor{
		display: none;
	}
	div.footer .sharables {
		position:absolute;
		right: 5em;
	}
	div.footer > .sharables > a {
		margin: 0em;
		width: 3em;
	}
	#slide1 .calling {
		width: 100%;
		left:0%;
	}
	.controller {
		position:absolute;
		top:0;
		z-index: +10000;
		left:0;
		height:100%;
		width:100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 5em;
		pointer-events: none;
	}
	.controller.active > div {
		opacity: 1;
	}

	.controller > div {
		height: 50%;
		width:100%;
		pointer-events: none;
		transition: opacity 1s;
		opacity: 0;
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 3em;
		color: rgba(255,255,255,0.5);
	}
	.controller > div:active {
		background:rgba(150,150,150,0.1);
	}

	.controller > div > i {
		pointer-events: all;
		height: 2em;
		width: 2em;
		text-align: center;
		line-height: 2em;
	}

	.controller > div.up > i {
		transform:rotate(-90deg);
	}
	.controller > div.down > i {
		transform:rotate(90deg);
	}
}
@media only screen and (max-height: 500px) {
	#slide1 .calling {
		height: 2em;
	}
	#slide1 .calling .line {
		height: 0;
	}
}