@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

.immersive-wrapper {
	position:absolute;
	background-color: black; /*immersive mode starts with this color*/
	background-image: url("/static/images/back.jpg");
	background-size:cover;
	display: flex;
	width:100%;
	height: 100%;
	top:0;
	left: 0;
	justify-content: space-around;
	align-items: center;
}
div.underlay {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	background-color:rgba(0,0,0,0.5);
	background-position: center center;
	background-size: cover;
}
div.logo {
	position:relative;
}
div.logo img {
	width:30em;
}
.countdown {
	position:relative;
	display: flex;
	margin-top:0.5em;
	justify-content: center;
}
#count {
	font-family: "Black Ops One";
	font-size: 10em;
	font-weight: 800;
	color:white;
	padding-right:;
	line-height: 0.55;
}
.countdown > span {
	color:#555;
	font-weight:900;
	font-size:1.5em;
	color:white;
	width:5em;
	left:100%;
	display: inline;
	white-space: pre-wrap;
}
div.footer {
	bottom:0;
	left:0;
	width:100%;
	height:5em;
	display: flex;
	position:absolute;
	justify-content: center;
	align-items: center;
}
div.footer > div {
	margin:0em 1em;
}

@media only screen and (max-width: 800px) {
	.immersive-wrapper {
		font-size:0.8em;
	}
	div.footer {
		position:fixed;
	}
}