.main .wrapper.face.module-home {
  overflow-y: hidden;
}
* {
  -webkit-select: none;
}


/*Don't add the module class to this element. This is out of the container div.*/
.immersive-wrapper {
  position:absolute;
  background-color: rgba(0,0,0,0.5); /*immersive mode starts with this color*/
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  overflow:auto;
  box-sizing: border-box;
  padding: 0 !important;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}
.module-home .slide {
  position:relative;
  width:100%;
  height:100%;
}
.module-home .parallax {
    display: flex;
    justify-content: center;
    align-items: center;
}
.module-home .parallax > .background {
    width: 100vw;
    position: fixed;
    height: 100vh;
    left: 0;
    z-index: -1;
    background-image: url('/static/images/landing/background.jpg');
    background-size: cover;
}
.module-home .parallax > .background > div {
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    position: absolute;
    transform: scale(1);
    background-position: center center;
    will-change: transform, opacity;
}
.module-home .parallax > .background > div.face {
    opacity: 1;
    transform:scale(1.5);
    transition: transform 20s linear, opacity 2s;
}
.module-home .parallax > .background > div.tray {
    transform:scale(1);
    transition: transform 0s 2s, opacity 1s;
    opacity: 0;
}
.module-home .parallax > .overlay > .meta.hidden {
  opacity: 0;
}
.module-home .parallax > .overlay > .meta {
  background: radial-gradient(at center, rgba(0,0,0,0.6), transparent 60%);
  border-radius: 10px;
  height: 6em;
  position: absolute;
  bottom: 2em;
  left: 2em;
  color: white;
  display: block;
  padding: 0.5em 1em;
  transition: all 0.2s cubic-bezier(0,0,0,1);
  overflow: hidden;
}
.module-home .parallax > .overlay > .meta:hover {
}
.module-home .parallax > .overlay > .meta:hover > #meta-author,
.module-home .parallax > .overlay > .meta:hover > #meta-location {
  opacity: 1;
  transition: all 0.2s 0.2s;
}
#meta-author {
  line-height: 1.5em;
  display: inline-block;
  opacity: 0;
  transition: all 0.1s;
  font-weight: 600;
  opacity: 1;
}
#meta-author:hover {
  color: #5588AA;
}
#meta-tagline {
  font-size: 1.5em;
  line-height: 2em;
  display: block;
  letter-spacing: 0.06em;
  white-space: nowrap;
  font-family: 'Rock Salt', cursive;
}
#meta-location {
  line-height: 1.5em;
  display: inline-block;
  opacity: 1;
  transition: all 0.1s;
  margin-left: 2em;
}
#meta-author::before {
  content: "\e3af";
  font-family: "icomoon";
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: top;
  font-size: 1.2em;
}
#meta-location::before {
  content: "\e8b4";
  font-family: "icomoon";
  vertical-align: top;
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1.2em;
}
.module-home .parallax > .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top:0;
    background: radial-gradient(at center, transparent, rgba(0,0,0,0.5));
}
.module-home .parallax > canvas {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: +15;
  position: fixed;
  z-index: 0;
}
.module-home .parallax > .background > img {
  position:absolute;
  top:0;
  left: 0;
  height:100%;
}
.module-home #mistscape {
  display: none;
}
.module-home .parallax .center {
  height: 20em;
  position: relative;
  z-index: 10;
  display: flex;justify-content: center;
}
.module-home .parallax .center > img {
  height: 100%;
}
.module-home .parallax .center .loader {
  content: "";
  position:absolute;
  top: 120%;
  width: 100%;
  background: #fff;
  height: 2px;
  animation: load 4s 1 linear;
}

@keyframes load {
  from {
    width: 0;
  }
}
.module-home .parallax .countdown {
  position:absolute;
  top:105%;
  z-index: +20;
  width:100%;
  color:white;
  display: flex;
  align-items: center;
  line-height: 2em;
  justify-content: center;
  z-index: +20;
  color: white;
  font-size: 2em;
  letter-spacing: 0.1em;
  line-height: 2em;
  -webkit-select:none;
  cursor: default;
  color: #b08753;
}
.module-home .parallax .countdown > * {
  font-family: 'Amber-Taste-Basic';
  font-size: 1em;
  width: 5em;
  flex-shrink: 0;
  text-align: center;
}
.module-home .parallax .countdown > *::after {
  content: attr(title);
  margin-left: 0.5em;
  font-size: 0.8em;
}
.module-home .parallax > .header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: +100;
  left: 0;
  text-align: right;
}
.module-home .parallax > .header a {
  font-size: 1em;
  color: #b08652;
  height: 3em;
  display: inline-block;
  padding: 0em 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.module-home .parallax > .header a::after {
  content: "\e409";
  font-size: 1.5em;
  line-height: 2em;
  font-family: "icomoon";
}
.module-home .parallax > .footer {
  display: flex;
  align-items: center;
  line-height: 2em;
  justify-content: space-around;
  flex-direction: column;
  position:absolute;
  bottom: 7em;
  z-index: +30;
  flex-direction: row;
}
.module-home .parallax > .footer::before {
  bottom: 100%;
  line-height: 2em;
  padding-bottom: 1em;
  /*content:"CONTACT";*/
  color:white;
  position:absolute;
}
.module-home .parallax > .footer > i {
  line-height: 1.5em;
  width:1.5em;
  text-align: center;
  color: #fff;
  position:absolute;
  bottom: -2em;
  font-size: 2em;
  animation: call 1s infinite ease-in-out;
}
@keyframes call {
  0% {
    transform: rotateZ(90deg) translateX(0%);
  }
  50% {
    transform: rotateZ(90deg) translateX(50%);
  }
  100% {
    transform: rotateZ(90deg) translateX(0%);
  }
}

/*Secondary Slides*/
.module-home .secondary > .events {
  padding: 3em 0em;
  display: flex;
  align-items: center;
  background: rgba(0,0,0,0.8);
}
.module-home .secondary > .events > .list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 4em;
}
.module-home .secondary > .events > .list > a {
  line-height: 3em;
  background: #b08753;
  border-radius: 1px;
  padding: 0em 2em;
  color: black;
  display: flex;
  align-items: center;
  margin: 0em 2em;
  cursor: pointer;
  font-weight: 600;
}
.module-home .secondary > .events > .list > a > i {
  margin-right: 0.5em;
  font-size: 1.2em;
  vertical-align: middle;
}
.module-home .secondary > .contact {
  background: rgba(0,0,0,0.9);
  padding: 3em 0em;
  display: flex;
  align-items: center;
}
.module-home .secondary > .contact > .list {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 2em;
}
.module-home .secondary > .contact > .list > .item {
  color: #fff;
  font-weight: 400;
  width: 12em;
  margin: 1em;
  text-align: center;
  text-transform: uppercase;
}
.module-home .secondary > .contact > .list > .item > span {
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 600;
  color: #b08652;
  display: block;
}
.module-home .secondary > .prelims {
  width: 100%;
  background: rgba(0,0,0,0.7);
  padding: 3em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.module-home .secondary > * > .heading {
  font-size: 3em;
  color: white;
  font-weight: 600;
  margin-left: 1em;
}
.module-home .secondary > * > .heading > *:not(.subheading) {
  font-weight: 600;
}
.module-home .secondary > * > .heading > .subheading {
  font-size: 0.4em;
  font-weight: 600;
}
.module-home .secondary > .prelims > .links {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.module-home .secondary > .prelims > .links > a {
  line-height: 3em;
  height: 3em;
  padding: 0em 2em;
  border: 2px solid #b08753;
  color: #b08753;
  margin: 0em 2em;
}
.module-home .secondary > .sponsors {
  width: 100%;
  background:rgba(255,255,255,1);
  padding: 3em 0em;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.module-home .secondary > .sponsors > .heading {
  width: 100%;
  margin-bottom: 1em;
  color:black;

}
.module-home .secondary > .sponsors > .item {
  width:auto;
  height: 15vw;
  border:0px solid #000;
  margin:1.5vw 2.5vw;
  text-align: center;
  display:flex;
  flex-direction: column;
}
.module-home .secondary > .sponsors > .item > .logo{
  margin:1.2vw;
  flex-grow:1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.module-home .secondary > .sponsors > .item > .logo > img {
  max-height: 10vw;
}
.module-home .secondary > .sponsors > .item > .desc{
  font-size: 1.5vw;
  font-weight: 4px;
  margin: 0.5vw;
  height: 2em;
 }
@media only screen and (max-width: 800px)
{
  .module-home .parallax .center {
    height: 15em;
    margin-top: -7.5em;
    top: 35%;
  }
  .module-home .parallax > .footer {
    bottom: 2em;
    flex-direction: column;
    justify-content: space-between;
  }
  .module-home .parallax > .footer > a {
    border: none;
  }
  .module-home .parallax > .footer > .face {
    font-size: 1.5em;
    padding: 2em;
    text-align: center;
  }
  .module-home .parallax > .footer > .list {
    flex-direction: column;
    width: 100%;
  }
  .module-home .parallax > .footer > .list > a {
    width: 100%;
    display: flex;
    margin:0em;
    flex-direction: row;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.5);
  }
  .module-home .parallax > .footer > .list > a::after {
    font-size: 0.8em;
    content: "Register Now!";
    right: 2.5em;
    position:absolute;
  }
  .module-home .parallax .countdown > * {
    width: 3em;
  }
  .module-home .parallax .footer {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .module-home .parallax .footer .contact {
    margin: 1em 0em;
  }
  .module-home .parallax .center {
    margin-top: -25%;
  }
  .module-home .secondary .prelims .links, .secondary .prelims {
    flex-direction: column;
  }
  .module-home .secondary .prelims .heading {
    width: 100%;
  }
  .module-home .secondary .prelims .links {
    width: 100%;
  }
  .module-home .secondary .prelims .links a {
    width: 100%;
    box-sizing: border-box;
    padding: 0em 1.5em;
    border: none;
    font-weight: 600;
  }
  .module-home .secondary .sponsors .heading {
    margin-left: 0.5em;
  }
}
