@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

.main .wrapper.face {
	overflow-y: hidden;
}

.immersive-wrapper {
	position:absolute;
	background-color: black; /*immersive mode starts with this color*/
	background-image: url("/static/images/back.jpg");
	background-size:cover;
	display: flex;
	width:100%;
	height: 100%;
	top:0;
	left: 0;
	box-sizing: border-box;
	padding: 0% 5% !important;
	justify-content: space-around;
	align-items: center;
}
.immersive-wrapper > div.button {
	line-height: 3em;
	position:relative;
	z-index: +100;
	font-weight: 500;
	background-color: rgba(0,0,0,0.5);
	border:2px solid #f0f0f0;
	color:#f0f0f0;
	padding: 0em 2em;
	font-size: 1.1em;
	cursor:pointer;
}
.immersive-wrapper * {
	user-drag:none;
	-webkit-user-drag:none;
	-moz-user-drag:none;
	-o-user-drag:none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div.underlay {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	background-color:rgba(0,0,0,0.5);
	background-position: center center;
	background-size: cover;
}
div.logo {
	position:relative;
}
div.logo img {
	width:30em;
}
.countdown {
	position:relative;
	display: flex;
	margin-top:0.5em;
	justify-content: center;
}
#count {
	font-family: "Black Ops One";
	font-size: 10em;
	font-weight: 800;
	color:white;
	padding-right:;
	line-height: 0.55;
}
.countdown > span {
	color:#555;
	font-weight:900;
	font-size:1.5em;
	color:white;
	width:5em;
	left:100%;
	display: inline;
	white-space: pre-wrap;
}
div.endorse {
	position:relative;
	color:white;
	width: 80%;
	font-weight: 600;
	margin-top: 1em;
	text-align: right;
}
div.endorse > span {
	color:#f0f0f0;
	display: block;
	vertical-align: top;
	font-weight: 600;
	font-size:1.2em;
}
div.endorse > img.digit {
	margin: 0.8em;
	width:9em;
	-webkit-filter:drop-shadow(0.8px 0.8px 0.5px #fff);
	-moz-filter:drop-shadow(0.8px 0.8px 0.5px #fff);
	-o-filter:drop-shadow(0.8px 0.8px 0.5px #fff);
	filter:drop-shadow(0.8px 0.8px 0.5px #fff);
}
div.endorse > img.make {
	margin: 0.8em;
	width:8em;
	-webkit-filter:drop-shadow(0px 0px 2px #fff);
	-moz-filter:drop-shadow(0px 0px 2px #fff);
	-o-filter:drop-shadow(0px 0px 2px #fff);
	filter:drop-shadow(0px 0px 2px #fff);
}
div.footer {
	bottom:0;
	left:0;
	width:100%;
	height:5em;
	display: flex;
	position:absolute;
	justify-content: center;
	align-items: center;
}
div.footer > div {
	margin:0em 1em;
}

@media only screen and (max-width: 800px) {
	.immersive-wrapper {
		font-size:0.8em;
		padding: 15% 0% !important;
		flex-direction: column;
	}
	div.footer {
		position:fixed;
	}
}