@import url('/static/fonts/icomoon/font.css');

/* entypo */

[class*="icon-"]:before {
    font-family: 'icomoon', sans-serif;
}
[tabindex] {
    outline:none;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: unset;
    font-family: 'Helvetica', 'Arial', sans-serif
}
.button.disabled {
    pointer-events: none;
    opacity: 0.8;
}

body {
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.main .disabled {
    opacity: 0.5;
    pointer-events: none;
}

input[type = "file"] {
    display:none;
}

.invalid {
    box-shadow: 0 0 3px #CC0000;
}

._overlay {
    position: fixed;
    z-index: +100;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

._overlay > .close {
    position: fixed;
    z-index: +100;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

._overlay > video {
    width: 400px;
    z-index: 110;
}

/***************************************************************************************
 ***************************************************************************************
 * Declarations for window and everything inside
 ***************************************************************************************
 ***************************************************************************************/

.window {
    height: 90vh;
    width: 80vw;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    /*transition: all 0.5s cubic-bezier(0.5, 0.1, 0, 1);*/
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background: #191919;
    font-size: 0.9em;
    transition: background 0.5s;
}
.window.immersive {
    /*background:transparent;*/
    transition:background 0s 0.6s;
}

.window.fullsize {
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
}

.window .meta {
    display: none;
}

/***************************************************************************************
 ***************************************************************************************
 * Declarations for navbar and everything inside
 ***************************************************************************************
 ***************************************************************************************/

/*
 * TODO: Refactor .navbar to .navbar
 */

.navbar {
    height: 4.5vw;
    min-height: 60px;
    max-height: 80px;
    width: 100%;
    margin-top:-4.5vw;
    position: relative;
    box-shadow:none;
    transition: margin-top 0.3s 0.3s ease-out, box-shadow 0.1s;
    z-index: +1000;
    /*display: none;*/
}

.navbar > .wrapper {
    padding: 0px 2em;
    display: flex;
    height: 4.5vw;
    top:0;
    left: 0;
    box-sizing: border-box;
    min-height: 60px;
    max-height: 80px;
    width: 100%;
    align-items: center;
    color: white;
    padding-right: 0;
    position:fixed;
}

.navbar.visible {
    margin-top:0;
    box-shadow: 0px 2px 0px 0px #b28e54;
    transition:margin-top 0.3s, box-shadow 0.1s 0.3s;

}

.navbar .button.close {
    font-size: 2em;
    color:white;
    background:none !important;
    opacity: 0.9;
}

.navbar .logo {
    font-size: 1.25em;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
}
.navbar .logo img {
    height:1.25em;
}

.navbar .subtitle {
    font-size: 1.5em;
    font-weight: 600;
    padding-left: 5px;
    display: inline-flex;
    align-items: center;
    font-family: 'Proxima Nova', sans-serif;
}

.navbar .controls {
    font-size: 1em;
    display: flex;
    flex-grow: 1;
    color: #a5a8a9;
    height: 100%;
    justify-content: flex-end;
}

.navbar .button {
    align-items: center;
    cursor: pointer;
    opacity: 0.7;
    display: none;
    padding:0em 1em;
    justify-content: space-around;
    transition: all 0.2s ease-out;
}
.navbar .button > div {
    margin-left: 0.5em;
}

.navbar .button.visible {
    display: flex;
}

.immersive .navbar > .wrapper {
    padding-right: 2em;
}

.immersive .navbar .controls > .button {
    background:none;
    padding-right: 0em;
}

#menu {
    font-size: 1.25em;
    justify-content: flex-start;
    width:1.5em;
    padding:0;
    pointer-events: none;
    opacity: 0;
    margin-left: -1.5em;
    display: flex;
}

.window.immersive #menu {
    opacity: 1;
    margin-left: 0;
    pointer-events: all;
}

.window.immersive .navbar {
    z-index: +9999;
}
.window.immersive .navbar > .wrapper {
    background-image: linear-gradient(rgba(0,0,0,0.6),transparent);
}

.navbar .controls > .button {
    background: #2b3537;
    min-width: 60px;
}

.navbar .controls > .button > img {
    transition: transform 0.2s ease-out;
}

.navbar .controls > .button:active > img {
    transform: scale(0.9);
}

.navbar .controls > .button:hover {
    opacity: 1;
}

/*
    Declarations for the notification drawer
*/

#blurCarpet {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.2s;
}

.navbar .controls > .button.user {
    background: transparent !important;
    opacity: 1;
    cursor:default;
    display: none;
}

.navbar .controls > .button.user.visible {
    display: inline-flex;
}

.navbar .controls > .button.user > label {
    display: block;
    position: relative;
    cursor: pointer;
}

.navbar .controls > .button.user > label > .ticker {
    background:#49D;
    border-radius: 50%;
    color:white;
    font-weight: 600;
    font-size: 0.7em;
    position:absolute;
    width:2em;
    line-height: 2em;
    text-align: center;
    right:-0.5em;
    bottom:-0.5em;
}
.navbar .controls > .button.user > label > .ticker:empty {
    display: none;
}

.navbar .controls > .button.user > label > img {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
}

.navbar .controls .button.user > .dropdown {
    display: none;
    position: absolute;
    right: 4em;
    top:100%;
    overflow:hidden;
    background-color: #fff;
    width: 25em;
    cursor: default;
    box-sizing: border-box;
    border: solid rgba(68, 153, 221, 0.2);
    border-width: 0px 0px 5px;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.1);
}

#dropdown:checked ~ .button.user .dropdown {
    display: block;
}
#dropdown:checked ~ #blurCarpet {
    pointer-events: all;
    opacity: 1;
}

.navbar .controls .button.user .dropdown .logout {
    height: 3em;
    width: 4em;
    border-radius:4px;
    background:rgba(0,0,0,0.05);
}

.navbar .controls .button.user .dropdown .details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navbar .controls .button.user .dropdown .details .username {
    float: left;
    color: gray;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    display: block;
}

.navbar .controls .button.user .dropdown .header {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1em 1em;
}
.navbar .controls .button.user .dropdown .header > .button {
    font-size: 1.2em;
    padding: 0em 1em;
}
.navbar .controls .button.user .dropdown .header > .account {
    padding-right: 0em;
}
.navbar .controls .button.user .dropdown .subheader {
    padding: 0em 1em;
    line-height: 2em;
    font-weight: 600;
    background: rgba(0,0,0,0.05);
}

.navbar .controls .button.user .dropdown .drawer .simplebar-content {
    display: flex;
    flex-direction: column-reverse;
}

.navbar .controls .button.user .dropdown .drawer {
    width:100% !important;
    overflow:hidden;
}
.navbar .controls .button.user .dropdown .drawer .empty {
    width:100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 1em;
}

.navbar .controls .button.user .dropdown .drawer > div {
    box-sizing: border-box;
    width:100% !important;
    max-height: 15em;
    overflow: hidden;
}

.navbar .controls .button.user .dropdown .drawer > div a.notification {
    display: flex;
    line-height: 1.2em;
    padding: 0.5em 1em;
    box-sizing: border-box;
    list-style-type: none;
    position:relative;
}

.navbar .controls .button.user .dropdown .drawer > div a.notification:hover {
    background:#fafafa;
}

.navbar .controls .button.user .dropdown .drawer > div a.notification > i {
    width:2em;
    height: 2em;
    display: block;
    line-height:2em;
    text-align: center;
    border:1px solid;
    border-radius: 50%;
    margin-top: 0.2em;
    flex-shrink: 0;
}

.navbar .controls .button.user .dropdown .drawer > div a.notification > .details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.navbar .controls .button.user .dropdown .drawer > div a.notification .title {
    color: gray;
    padding: 0.15em 0em;
    font-size: 1em;
}

.navbar .controls .button.user .dropdown .drawer > div a.notification .date {
    font-size: 0.8em;
    padding: 0.15em 0em;
}
.navbar .controls .button.user .dropdown .drawer > div a.notification .message {
    font-size: 0.9em;
    color: #4499DD;
    padding: 0.1em 0em;
}

/***************************************************************************************
 ***************************************************************************************
 * Declarations for remnant. Whatever's left after navbar.
 ***************************************************************************************
 ***************************************************************************************/

.remnant {
    flex-grow: 1;
}

.window > .remnant {
    display: flex;
    flex-direction: row;
    z-index: +10;
    transition:transform 0.3s ease-out;
}

/***************************************************************************************
 ***************************************************************************************
 * Declarations for sidebar and everything inside
 ***************************************************************************************
 ***************************************************************************************/

.sidebar {
    width: 20%;
    min-width: 200px;
    margin-left: -20%;
    display: block;
    position:relative;
    font-size: 1.1em;
    box-sizing: border-box;
    color: #b28e54;
    transition: margin-left 0.3s ease-out, margin-top 0s 0.3s ease-out;
    z-index: +200;
}

.sidebar > .wrapper {
    position:absolute;
    display: block;
    top:0;
    width: 100%;
    padding-top:2em;
    padding-left: inherit;
    left: 0;
    margin-top:4.5vw;
    margin-left: inherit;
    transition: inherit;
}

.sidebar.visible {
    margin-left: 0%;
    transition: margin-left 0.3s 0.3s ease-out;
}

.window.immersive > .remnant.shift_to_expose_menu > .sidebar {
    margin-left:0;
    transition: margin-left 0.3s ease-out;
}
.window.immersive > .remnant.shift_to_expose_menu > .main {
    opacity: 0.7;
}

/*
 * the ::after is the loading animation
 */
.window .sidebar::after {
    height: 2px;
    background-image: linear-gradient(50deg, darkgoldenrod, purple, darkgoldenrod);
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition:opacity 1s;
    z-index: +19;
    background-size: 100px 100%;
    background-position: 0% 100%;
    animation: shine 1s infinite linear;
}
.window.loading .sidebar::after {
    opacity: 1;
}

@keyframes shine {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 200px 100%;
    }
}

/*
 * Common declarations for sections in sidebar
 */
.sidebar .section {
    list-style-type: none;
    margin: 1.25em 0;
}

.sidebar .section > .label {
    color: #445256;
    padding-bottom: 1em;
    display: block;
}

.sidebar .section > ul {
    margin: 0;
    padding: 0;
}

.sidebar .section > ul > a {
    line-height: 3.5em;
    cursor: pointer;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    transition: all 0.3s ease-out;
    border-color: #a5a8a9;
    padding: 0 2em;
    white-space: nowrap;
    justify-content: center;
    position: relative;
    font-weight: inherit;
}
.sidebar .section > ul > a::after {
    content:"";
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0px;
    height: 1px;
    background: linear-gradient(90deg, transparent 10%, rgba(178, 142, 84, 0.5) 50%, transparent 90%);
}

.sidebar .section > ul > a.active {
    background: rgba(0,0,0,0.25);
}
.sidebar .section > ul > a > span {
    font-weight: 600;
    vertical-align: top;
    transition: font-weight 0.2s;
    font-size: 0.8em;
}


/*
 *  Specific declarations for primary section
 */

.sidebar > .wrapper > .primary ul .disabled {
    display: none;
}

.sidebar > .wrapper > .primary .visible {
    display: block !important;
}

.sidebar > .wrapper > .primary ul .visible {
    display: flex !important;
}

/*
 *  Specific declarations for secondary section
 */
.sidebar .secondary-wrapper {
    position:relative;
}

.sidebar .secondary-wrapper > .section.secondary {
    position:absolute;
    opacity: 0;
    pointer-events: none;
}
.sidebar .secondary-wrapper > .secondary > label {
    text-transform: uppercase;
}

.sidebar .secondary-wrapper > .secondary.disabled {
    display: none;
}

.sidebar .secondary-wrapper > .secondary.visible {
    display: block;
}

.sidebar .secondary-wrapper > .secondary.active {
    opacity: 1;
    pointer-events: all;
}

.sidebar .secondary-wrapper > .secondary > ul > a {
    transform: translateX(-1em);
    opacity: 0;
}

.sidebar .secondary-wrapper > .secondary.active > ul > a {
    transform: none;
    opacity: 1;
}
.sidebar .secondary-wrapper > .secondary > ul > a:hover > i {
    margin-left: 0em;
}

.sidebar .secondary-wrapper > .secondary ul a:nth-child(1) {
    transition-delay: 0.1s;
}
.sidebar .secondary-wrapper > .secondary ul a:nth-child(2) {
    transition-delay: 0.2s;
}
.sidebar .secondary-wrapper > .secondary ul a:nth-child(3) {
    transition-delay: 0.3s;
}
.sidebar .secondary-wrapper > .secondary ul a:nth-child(4) {
    transition-delay: 0.4s;
}
.sidebar .secondary-wrapper > .secondary ul a:nth-child(5) {
    transition-delay: 0.5s;
}
.sidebar .secondary-wrapper > .secondary ul a:nth-child(6) {
    transition-delay: 0.6s;
}
.sidebar .secondary-wrapper > .secondary ul a:nth-child(7) {
    transition-delay: 0.7s;
}
.sidebar .secondary-wrapper > .secondary ul a:nth-child(8) {
    transition-delay: 0.8s;
}
.sidebar .secondary-wrapper > .secondary ul a:nth-child(9) {
    transition-delay: 0.9s;
}
.sidebar .secondary-wrapper > .secondary ul a:nth-child(10) {
    transition-delay: 1s;
}

.sidebar .secondary-wrapper > .secondary ul a i, body > div > div.remnant > div.sidebar.visible > div > div.section.primary > ul > a.indent > i {
    height:0px;
    border-radius:2px;
    border-width: 1px;
}


/***************************************************************************************
 ***************************************************************************************
 * Declarations for main and everything inside
 ***************************************************************************************
 ***************************************************************************************/


.main {
    box-sizing: border-box;
    font-weight: 300;
    background: white;
    z-index: +10;
    border-radius: 2px 0px 0px 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    color: #202729;
    position: relative;
    transition:opacity 0.3s;
    will-change: height, width;
}

.main > .wrapper {
    position:absolute;
    padding: 2em;
    top:0;
    left:0;
    right:0;
    bottom:0;
    pointer-events: none;
    overflow-y: auto;
}

.main > .wrapper.face {
    opacity: 1;
    pointer-events: all;
    transition:opacity 0.2s 0.2s, transform 0.2s 0.2s;
}
.main > .wrapper.tray {
    opacity: 0;
    transition:opacity 0.2s, transform 0.2s;
    transform:translateY(-1em);
}

.immersive .main > .wrapper {
    padding: 0;
}

.main * {
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.stretch {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.main .section.header > .stretch {
    height: 4em;
}

.main .controls {
    font-size: 1em;
    padding: 0px;
    list-style-type: none;
    flex-direction: row;
}

.main .section {
    position:relative;
}

.main .controls [class*="icon-"] {
    width: 2em;
    height: 2em;
    color: #b28e53;
    box-sizing: border-box;
    border: 2px solid #b28e53;
    display: inline-flex;
    vertical-align: top;
    margin-right: 0.5em;
    border-radius: 50%;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.main .controls .latent {
    transform:scale(0);
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;
}

.main .controls .latent.active {
    transform: none;
    opacity: 1;
    display: inline-flex;
}

.main .controls .disabled[class*="icon-"] {
    color: #a5a8a9;
    border-color: #a5a8a9;
    cursor: default;
}

.header .stretch {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom:1em;
}

.header .field-container > .remnant > input {
    padding: 0% 1em;
}

.header .stretch .button {
    margin-left: 1em;
    padding: 0em 2em;
}

.field-container {
    display: flex;
    flex-direction: row;
    width: 25%;
    min-width: 200px;
}

form .field-container {
    margin:2em 0em;
    width: 50%;
    box-sizing: border-box;
    padding-right:2em;
}

form .image {
    width:100%;
    height:10em;
    position:relative;
    border-radius:20px;
    z-index: +199;
    border:1px solid rgba(0,0,0,0.05);
    overflow:hidden;
}

form .image .cropit-preview {
    background-size: cover;
    background-position: center center;
}

form .image label {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size:3em;
    color:rgba(0,0,0,0.25);
    cursor:pointer;
    position:absolute;
}

form .image.filled label {
    pointer-events: none;
    width:2em;
    height:2em;
    font-size:2em;
    top:0;
}
form .image.filled label i {
    pointer-events: all;
    color:rgba(255,255,255,0.2);
}

form .image .image-editor, form .image .cropit-preview {
    width: 100% !important;
    height: 100% !important;
    margin:0;
    background-color: transparent;
    top: 0;
    border:none;
    border-radius:inherit;
    left: 0;
    position: absolute !important;
}
form .image .image-editor .status.success {
    opacity:1;
    transform:none;
}
form .image .image-editor .status {
    height:2em;
    width:2em;
    display: flex;
    font-size:2em;
    align-items: center;
    justify-content: space-around;
    position:absolute;
    right:0;
    opacity: 0;
    bottom:0;
    transform:scale(0);
    z-index: +1000;
    transition:all 0.2s;
    color:rgba(255,255,255,0.5);
}
form .image .image-editor .status i {
    display: block;
    font-size:0.8em;
}
form .image .image-editor .resize {
    position:absolute;
    z-index: +1000;
    width:100%;
    height:2px;
    top:50%;
    padding:0px 10px;
    box-sizing: border-box;
    display: none;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    left:0;
    margin-top: -1px;
    background:linear-gradient(transparent, rgba(0,0,0,0.1));
}

.field-container > .remnant > input,
.field-container > .remnant > select,
.field-container > .remnant > textarea,
.field-container > .remnant > .CodeMirror {
    height: 3em;
    line-height: 3em;
    display: block;
    width: 100%;
    font-size: 0.9em;
    font-family: inherit;
    border: 1px solid rgba(178,142,84,1);
    outline: none;
    padding: 0% 1em;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: transparent;
}
.field-container > .remnant > textarea,
.field-container > .remnant > .CodeMirror {
    line-height: 1.5em;
}
form .field-container > .remnant > textarea {
    max-height: 10em;
    resize:none;
    box-sizing: border-box;
    padding:1em 1em;
}

.field-container > .remnant > textarea,.field-container > .remnant > .CodeMirror {
    height: 20em;
}

.field-container > .remnant > input[disabled] {
    color:#666;
    background: rgba(0,0,0,0.025);
}

.field-container > label {
    line-height: 3em;
    font-size: 0.9em;
    font-weight: 600;
    min-width: 6em;
    display: inline-block;
}

.field-container > .remnant > input:hover {
    box-shadow: 0px 0px 10px rgba(0,0,10,0.2);
}

.field-container > .remnant > input:focus {
    box-shadow: 0px 0px 10px rgba(178,142,84,0.5);
    border-color: goldenrod;
}

.field-container > .remnant {
    display: flex;
    align-items: center;
}

.field-container > .remnant > .field-icon {
    height: 2em;
    width: 2em;
    position: absolute;
    right: 0.5em;
    line-height: 2em;
    text-align: center;
    color: #505057;
}
.main .button {
    line-height: 3em;
    padding:0 1em;
    border-radius:4px;
    color:#444;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 600;
    background:#f0f0f0;
    display: inline-block;
}

.main .button:hover {
    background:#e0e0e0;
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list label.item {
    display: inline-block;
    width: 15em;
    white-space: nowrap;
    padding: 0.5em;
    cursor: pointer;
    background: #f5f5f5;
    border-radius:2px;
    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
    border:1px solid rgba(0,0,0,0.1);
}
.list input:focus + label.item {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.list input:checked + label.item {
    border: 1px solid #49D;
    background:#f5f5fF;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}
.list label.item.registered {
    opacity: 0.5;
    border: 1px solid #4D9;
    pointer-events: none;
}
.list label.item .name {
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1.5em;
    color:#333;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list label.item .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.list label.item .price::before {
    content: '\20b9';
}
.list label.item .count {
    font-weight: 600;
    line-height: 1.5em;
    color:#000;
    display: inline-block;
}

.immersive .main .immersive-wrapper {
    padding:2em;
    padding-top: 4.5vw;
    box-sizing: border-box;
}

.main .inner-navigation {
    height: 4em;
    line-height: 4em;
    position:absolute;
    bottom:0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    padding: 0em 2em;
    display: flex;
    flex-direction: row;
}

.main .inner-navigation img {
    height: 3em;
}

.main .inner-navigation .right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.main .inner-navigation .right > li {
    display: inline-block;
    list-style-type: none;
    padding:0 1em;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 1.2em;
    opacity: .6;
    position: relative;
    font-weight: 400;
}
.main .inner-navigation .right > li:last-child {
    padding-right: 0em;
}
.main .inner-navigation .right > li:last-child::after {
    display: none;
}
.main .inner-navigation .right > li:hover {
    opacity: 1;
}

/*Styles for GFM borders*/
table {
    border-collapse: collapse;
    margin: 20px 0;
    padding: 0;
}
table tr th, table tr td {
    border: 1px solid #CCC;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tbody tr:nth-child(2n-1) {
        background-color: #F8F8F8;
}

.indent {
    padding-left: 2em;
}

@media only screen and (max-width: 1333px) {
    .navbar {
        margin-top:-60px;
    }
}

@media only screen and (max-width: 800px) {
    .sidebar, .sidebar.visible {
        margin-left: -200px;
        padding:2em 1em;
        overflow-y: auto;
    }
    .navbar .subtitle {
        display: none;
    }
    .navbar > .wrapper {
        padding:0em 0em 0em 1em;
    }
    .navbar .controls .button.user .dropdown .drawer {
        height:100%;
    }
    .navbar .controls .button.user .dropdown .drawer > div {
        max-height: 100%;
        padding-bottom: 100px;
    }
    .navbar .controls .button.user > .dropdown {
        max-width:100vw;
        width:100vw;
        height: calc(100vh - 60px);
        right: 0em;
    }
    .main > .wrapper {
        padding:2em 1em;
    }
    .main .controls .disabled, .main .controls .latent {
        display: none;
    }
    #menu {
        pointer-events: all;
        margin-left: 0px;
        opacity: unset;
    }
    .window > .remnant.shift_to_expose_menu {
        transform: translateX(200px);
    }
    .window > .remnant.shift_to_expose_menu > .main {
        opacity: 0.7;
    }
    .window.immersive > .remnant.shift_to_expose_menu > .sidebar {
        margin-left:-200px;
    }
    .window.immersive > .remnant.shift_to_expose_menu > .sidebar > .wrapper{
        margin-top:60px;
    }

    .sidebar > .wrapper {
        position:relative;
        margin-left: 0px;
        padding:0;
        margin-top:0px;
    }
    form .field-container {
        width:100%;
    }

    .main .inner-navigation {
        display: none;
    }



}

@media only screen and (min-width: 1400px) {
    body {
        font-size:1.1vw;
    }
}

@media only screen and (min-width: 1777px) {
    .navbar {
        margin-top:-80px;
    }
}


/*General purpose classes*/

.hidden {
    display: none !important;
}
