.parent-center.module-login {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2em;
}

.module-login.auth-container {
  width: 20em;
  box-sizing: border-box;
  padding:3em 2em;
  border-radius: 5px;
  font-size: 1em;
  padding-bottom: 2em;
  font-weight: 600;
}
.module-login.auth-container .title {
  font-size: 1.5em;
  color:#444;
  display: block;
  text-align: center;
  font-weight: 600;
  margin-bottom:1em;
}

.module-login.child-center {
  font-size: inherit;
  text-decoration: none;
  display: flex;
  line-height: 3em;
  margin: 0.7em 0;
  border-radius:0.2em;
  align-items: center;
  justify-content: center;
  color:#fff;
  border-width: 2px;
  border-style: solid;
  opacity: 0.8;
}
.module-login.child-center i {
  margin-right: 0.5em;
}
.module-login.child-center span {
  font-family: 'Proxima Nova';
  font-size: 0.9em;
  font-weight: 500;
}

.module-login.error {
	background: #F44336;
	color: #ffffff;
	line-height: 2.5;
	position:fixed;
	top:70px;
	left:0;
	right: 0;
	padding:0px 5%;
	display: flex;
	align-items: center;
	font-family: sans-serif;
}

.module-login.error span {
	display: inline-block;
}

.module-login.error .title {
	font-weight:bolder;
	margin-right: 1em;
}
.module-login.error .message {
	font-size: 0.9em;
}
.module-login.error .cross {
	display: block;
	right:5%;
	position:absolute;
	font-size: 0.9em;
	font-weight: bolder;
}

.module-login.child-center:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.module-login.child-center.facebook {
  color: #4C69BA;
  border-color: #4C69BA;
}
/*.loginBtn--facebook:before {
  background-image: url('/images/icon_facebook.png');
}*/
.module-login.child-center.facebook:hover,
.module-login.child-center.facebook:focus {
  color: #5B7BD5;
}

/* GitHub */
.module-login.child-center.github {
  color: #222;
  border-color: #222;
}
/*.loginBtn--github:before {
  background-image: url('/images/icon_github.png');
}*/
.module-login.child-center.github:hover,
.module-login.child-center.github:focus {
  color: #444;
}

/* Google */
.module-login.child-center.google {
  color: #DD4B39;
  border-color: #DD4B39;
}
/*.child-center.google:before {
  background-image: url('/images/icon_google.png');
}*/
.module-login.child-center.google:hover,
.module-login.child-center.google:focus {
  color: #E74B37;
}
