.face{
	padding: 0 !important;
	height: 100%;
}
#overlay{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
}
.button {
    margin:1em;
    line-height: 3em;
    padding:0 2em;
    border-radius:4px;
    color:#444;
    white-space: nowrap;
    display: inline-block;
    font-weight: 600;
    background:#fafafa;
    cursor:pointer;
}
.button:hover {
    background:#eaeaea;
}
.buttonsContainer{
	text-align: center;
	margin-top: 40vh;
}