.edit_item {
	position:absolute;
	top:0;
	width: 100%;
	box-shadow:0px 5px 3px -3px rgba(0,0,0,0.2);
	background:white;
	align-items: center;
	justify-content: space-around;
	overflow:hidden;
	transition:height 0.3s ease-out;
}
.edit_item.collapsed {
	height: 0em;
	padding: 0em;
}

form {
	display: flex;
	flex-wrap: wrap;
	width:100%;
}

form .left, form .right {
	width:50%;
	display: flex;
	flex-wrap: wrap;
}
form .left > * {
	display: inline-block;
	vertical-align: top;
}
form .left .hero {
	width:100%;
}
form .field-container {
	width:100%;
	display: block;
	margin:1em 0em;
}
form .right textarea {
	width:100%;
}
form .right > .field-container {
	padding-right: 0;
}
form .footer {
	display: flex;
	width:100%;
	flex-wrap: wrap;
}
form .footer > .field-container {
	width:200px;
}

.icon-add {
	transition:transform 0.3s cubic-bezier(0,0,0.5,1.5);
}

.icon-add.active {
	transform: rotateZ(135deg);
}

.table {
	width:100%;
	display: block;

}
.table .item {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	pointer-events: none;
	position: relative;
	flex-direction: row;
	line-height: 3em;
	border-bottom:1px solid rgba(0,0,0,0.05);
}
.table .item.head > *,
.table .item .expandable label {
	font-weight: 600;
}
.table .item .expandable label {
	color: #666;
	width:5em;
	display: inline-block;
}


.table .item div.expandable {
	width:100%;
	display: none;
	position:relative;
}

.table .item div.expandable.active {
	display: block;
}
.table .item .expandable > div {
	display: block;
	line-height: 1.5em;
	padding: 0.5em 0;
}
.table .item .expandable > div > span
{
	width: 50%;
	display: inline-block;
	white-space: pre-line;
	vertical-align: top;
}
.table .item > i {
	position:absolute;
	width:3em;
	right:0;
	top:0;
	display: block;
	line-height: 3em;
}
.table .item > i::before {
	font-size: 1.5em;
}

.table .item > div:not(.expandable) {
	pointer-events: all;
}
.table .item:not(.head):hover > div:not(.expandable) {
	background:rgba(0,0,0,0.01);
}

.table .item .name,
.table .item .title {
	display: block;
	width: 33%;
}
.table .item .teams,
.table .item .email {
	display: block;
	width: 33%;
}
.table .item .institute,
.table .item .edit {
	width: 33%;
	display: block;
}
.table .item div.edit {
	text-align: center;
}
.table .item div.button {
	cursor: pointer;
}

h3.title {
	margin-bottom: 2em;
}

#_event .team {
	display: block;
	padding:0.5em 1em;
	overflow-x:auto;
	white-space: nowrap;
}
#_event .team:nth-child(2n) {
	background: #efefef;
}
#_event .team:nth-child(2n + 1) > .user {
	background: #efefef;
	border-color: #efefef;
}

#_event .team .user {
	width: 19%;
	color:#666;
	overflow: hidden;
	display: inline-block;
	font-size:1em;
	min-width: 15em;
	background:#fefefe;
	height: 100%;
	border-width: 0.5em 1em;
	border-style: solid;
	border-color:white;
	border-radius: 4px;
}
#_event .team .user > div {
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
}
#_event .team .user > div > i {
	margin-right: 0.5em;
}
#_event .team .user .name > span {
	font-weight: 600;
	font-size: 1.05em;
	color: #444;
}

.underwhelmingMessage {
	width:100%;
	text-align:center;
	color:#bbb;
	display: block;
	font-size:1em;
	margin-top: 2em;
}

@media only screen and (max-width: 1000px) {
	footer {
		overflow-x: auto;
	}
}

@media only screen and (max-width: 800px) {
	form {
		display: block;
	}
	form .left, form .right {
		display: flex;
		width:100%;
	}
	form .left .thumb {
		padding-right: 1em;
	}
	form .field-container {
		padding-right:0;
		min-width: 50%;
	}
	form .left .thumb .image {
		height:10em;
		width:10em;
	}
	form .footer {
		flex-wrap: wrap;
	}
	.section.table {
		width: 150%;
		overflow-x: auto;
	}
}
