h2 {
    padding: 10px 0;
}

ul {
    padding: 0;
    list-style: none;
}

.event-container {
    margin-bottom: 10px;
    width: 100% !important;
}

#links li {
    padding-bottom: 0.2em;
    font-size: 1.2em;
    transition: 0.5s ease;
    color: #666;
}

#links li span {
    color: #F66867;
}

#links li:hover {
    margin-left: 0.4em;
}

#about {
    border-left: 2px solid #ccc;
    padding-left: 1em;
    line-height: 1.2;
    font-weight: 400;
    font-size: 1.2em;
    color: #666;
    max-width: 60%;
}
