@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

.main .wrapper.face {
    overflow: hidden;
}

#home {
    color:white;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), linear-gradient(rgba(255,234,50,0.9), rgba(51,100,157,0.9) 70%), url("/static/pybits/back.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 4.5vw;
}

#home .logo {
    position: absolute;
    width: 50%;
    height: 5em;
    margin: -2.5em -25vw;
    top:50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgba(255,255,255,0.7);
}
#home .logo > .title {
    font-family: "Work Sans", sans-serif;
    font-size: 7vw;
    color:rgba(255,255,255,0.9);
}
#home .logo > .subtitle {
    width: 100%;
    display: block;
    font-size: 1.2em;
    margin-top: 0.5em;
    text-align: center;
}
#home .logo > .subtitle > div {
    margin: 0em 1em;
    display: inline-flex;
    align-items: center;
    height: 1.5em;
}

#home .logo > .subtitle > div > i {
    margin-right: 0.5em;
    display: inline-block;
}

#home .logo > .button {
    display: block;
    box-sizing: border-box;
    line-height: 3em;
    padding:0em 2em;
    margin-top:1.5em;
    border: 2px solid rgba(255,255,255,0.7);
}

.about {
    display: table-cell;
    vertical-align: middle;
    max-width: 40%;
    height: 35vw;
    font-size: calc(0.75em + 1vmin);
    line-height: 1.2em;
    padding-left: 1.5em;
    position: relative;
    min-height: 1px;
}

#coc {
    color: white;
    margin: auto;
    border: 1px white solid;
    border-radius: 2.5px;
    display: inline-block;
    padding: 5px;
}
#coc:hover {
    background-color: white;
    color: #202729;
    transition: 0.5s;
}

.inner-navigation .left {
    position:relative;
}
.inner-navigation .left::before {
    content: "in association with";
    position:absolute;
    top: -1.5em;
    line-height: 2em;
    color:rgba(255,255,255,0.7);
    width:100%;
    text-align: center;
    font-weight: 600;
}
.inner-navigation .left.black::before {
    color:rgba(0,0,0,0.7);
}
.scrollable {
    height: 80vh;
}

@media (max-width: 800px) {
    #home .logo > .title {
        font-size: 4em;
    }
    #home .logo > .subtitle {
        flex-direction: column;
        margin-top: 2em;
        width:100vw;
    }
    #home .logo > .subtitle > span {
        line-height: 1.5em;
        display: block;
        white-space: nowrap;
        width: 100%;
    }
    #home .logo > .button {
        white-space: nowrap;
    }
}
