@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

.main .wrapper.face {
    overflow: hidden;
}

#home {
    color:white;
    background-image:radial-gradient(at center, rgba(0,0,0,0), rgba(0,0,0,1)), linear-gradient(rgba(255,234,50,0.9), rgba(51,100,157,0.9) 70%), url("/static/pybits/back.jpg");
    /*background-image: radial-gradient(at center, transparent, rgba(0,0,0,0.5)), linear-gradient(45deg, #191919, #1e1e1e);*/
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    box-sizing: border-box;
    padding: 0em;
    padding-top: 4.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .logo {
    position: relative;
    width: 100%;
    margin-top: -2.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgba(255,255,255,0.7);
}
#home .logo > .title {
    font-family: "Work Sans", sans-serif;
    font-size: 7vw;
    color:rgba(255,255,255,0.9);
}
#home .logo > .subtitle {
    width: 100%;
    display: block;
    font-size: 1.2em;
    margin-top: 0.5em;
    text-align: center;
}
#home .logo > .subtitle > div {
    margin: 0em 1em;
    display: inline-flex;
    align-items: center;
    height: 1.5em;
}

#home .logo > .subtitle > div > i {
    margin-right: 0.5em;
    display: inline-block;
}

.registration {
    display: flex;
    width: 100%;
    height: 12em;
    padding-bottom: 3em;
    position: relative;
    background: rgba(0,0,0,0.25);
}
.registration > .left,
.registration > .right {
    flex: 1;
    height: 100%;
}
.registration > .center {
    height: 100%;
    width: 60%;
    position: relative;
    display: flex;
}

#home .registration .center .button-wrapper {
    flex: 1;
    transition: box-shadow 0.2s;
    display: flex;
    margin: 0 -6%;
    flex-direction: column;
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
    background: linear-gradient(145deg, #e0e0e0, #fff);
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    -webkit-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    -moz-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    -ms-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    -o-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}
#home .registration .center .button-wrapper > * {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#home .registration .center .button-wrapper > .cart-actions {
    flex: 1;
}
#home .registration .center .button-wrapper > span {
    font-weight: 400;
    color: #666;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    flex: 1;
    display: flex;
}
#home .registration .center .button-wrapper > span > span:first-child{
    flex-grow: 1;
    text-align: center;
}
#home .registration .center .button-wrapper > span > span:nth-child(2) {
    font-size: 0.8em;
    margin-left: 1.5em;
}
#home .registration .center .button-wrapper > span > .price::before {
    content: "\20b9";
}

#home .registration .center .button-wrapper .button {
    box-sizing: border-box;
    line-height: 3em;
    font-weight: 600;
    margin: 0;
    border: none;
    border-radius: 0;
    height: unset;
    font-size: 1.2em;
    background: unset;
    text-align: center;
    color: rgba(0,0,0,0.7);
}
#home .registration .center .button-wrapper .button span {
    font-weight: 600;
}
#home .registration .center .button-wrapper .button i {
    display: none;
}
#home .registration .center .button-wrapper:hover {
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,1);
}
#home .registration .center .button-wrapper .button.pending {
    padding-left: 0em;
    padding-right: 5em;
}
#home .registration .center .button-wrapper:last-child .button.pending {
    padding-left: 0em;
    padding-right: 2.5em;
}
#home .registration .center .button-wrapper .button.pending > i {
    height: 3em;
    border-radius: 0px;
    /*width: 3em;*/
    margin-left: 0em;
    line-height: 3em;
    background: none;
    display: inline-block;
}

.about {
    display: table-cell;
    vertical-align: middle;
    max-width: 40%;
    height: 35vw;
    font-size: calc(0.75em + 1vmin);
    line-height: 1.2em;
    padding-left: 1.5em;
    position: relative;
    min-height: 1px;
}

#coc {
    color: white;
    margin: auto;
    border: 1px white solid;
    border-radius: 2.5px;
    display: inline-block;
    padding: 5px;
}
#coc:hover {
    background-color: white;
    color: #202729;
    transition: 0.5s;
}

.inner-navigation .left {
    position:relative;
}
.inner-navigation .left::before {
    content: "in association with";
    position:absolute;
    top: -1.5em;
    line-height: 2em;
    color:rgba(255,255,255,0.7);
    width:100%;
    text-align: center;
    font-weight: 600;
}
.inner-navigation .left.black::before {
    color:rgba(0,0,0,0.7);
}
.scrollable {
    height: 80vh;
}
.registration .footer {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 3em;
    background: rgba(0,0,0,0.25);
}
.registration .footer span {
    font-size: 1em;
    color:rgba(255,255,255,0.7);
    text-align: center;
    width: 100%;
    display: block;
    line-height: 3em;
}

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 800px) {
    #home .logo > .title {
        font-size: 4em;
    }
    #home .logo > .subtitle {
        flex-direction: column;
        margin-top: 2em;
        width:100vw;
    }

    #home .logo > .subtitle:not(#typedelement) > span {
        line-height: 1.5em;
        display: block;
        white-space: nowrap;
        width: 100%;
    }
    .registration .center {
        width: 100%;
        flex-direction: column;
    }
    #home .registration .center .button-wrapper {
        clip-path: none;
        flex-direction: row;
        padding: 0em 2.5em;
    }
    #home .registration .center .button-wrapper .cart-actions {
        justify-content: flex-end;
        flex: 0;
        margin-left: 2em;
    }
    #home .registration .center .button {
        box-shadow:none;
    }
    #home .registration .center .button > span {
        display: block !important;
    }
    #home .registration .center .button > i {
        right: 0;
    }
    #home .registration .center .button-wrapper > span > span {
        flex-grow: 1;
    }
    #home .registration .center .button-wrapper > span > .price {
        text-align: center;
    }
}
