@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

.main .wrapper.face {
    overflow: hidden;
}
@media only screen and (max-width: 768px) {
    .main .wrapper.face {
        overflow: auto;
    }
}

#home .logo {
    position: absolute;
    width: 50%;
    height: 5em;
    margin: -2.5em -25vw;
    top:50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgba(255,255,255,0.7);
}
#home .logo > .title {
    font-family: "Work Sans", sans-serif;
    font-size: 7vw;
    color:rgba(255,255,255,0.9);
}
#home .logo > .subtitle {
    width: 100%;
    display: block;
    font-size: 1.2em;
    margin-top: 0.5em;
    text-align: center;
}
#home .logo > .subtitle > div {
    margin: 0em 1em;
    display: inline-flex;
    align-items: center;
    height: 1.5em;
}

#home .logo > .subtitle > div > i {
    margin-right: 0.5em;
    display: inline-block;
}

#home .logo .button {
    display: block;
    box-sizing: border-box;
    line-height: 3em;
    padding:0em 2em;
    margin-top:1.5em;
    border: 2px solid rgba(255,255,255,0.7);
    border-radius: 0;
    height: unset;
    background: unset;
    color: rgba(255,255,255,0.7);
}

.about {
    display: table-cell;
    vertical-align: middle;
    max-width: 40%;
    height: 35vw;
    font-size: calc(0.75em + 1vmin);
    line-height: 1.2em;
    padding-left: 1.5em;
    position: relative;
    min-height: 1px;
}

#coc {
    color: white;
    margin: auto;
    border: 1px white solid;
    border-radius: 2.5px;
    display: inline-block;
    padding: 5px;
}
#coc:hover {
    background-color: white;
    color: #202729;
    transition: 0.5s;
}

.inner-navigation .left {
    position:relative;
}
.inner-navigation .left::before {
    content: "in association with";
    position:absolute;
    top: -1.5em;
    line-height: 2em;
    color:rgba(255,255,255,0.7);
    padding-left: 2em;
    font-weight: 600;
}
.inner-navigation .left.black::before {
    color:rgba(0,0,0,0.7);
}
.scrollable {
    height: 80vh;
}

#warning span {
    font-size: 1.2em;
    color:rgba(255,255,255,0.7);
    text-align: center;
    padding-top: 1.5em;
    display: block;
    line-height: 1.5em;
}

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 800px) {
    #home .logo > .title {
        font-size: 4em;
    }
    #home .logo > .subtitle {
        flex-direction: column;
        margin-top: 2em;
        width:100vw;
    }

    #warning span {
        width: 80vw;
    }

    #home .logo > .subtitle:not(#typedelement) > span {
        line-height: 1.5em;
        display: block;
        white-space: nowrap;
        width: 100%;
    }
    #home .logo > .button {
        white-space: nowrap;
    }
}
