@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
body {
    overflow: auto;
}

.pybits-background {
    color:white;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), linear-gradient(rgba(255,234,50,0.9), rgba(51,100,157,0.9) 70%), url("/static/pybits/back.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 4.5vw;
}

.main {
    background-color: #212121;
}
h2 {
    padding: 10px 0;
}

ul {
    padding: 0;
    list-style: none;
}

.event-container {
    margin-bottom: 10px;
    float: left;
}

#links {
    display: none;
}
.inner-navigation {
    color: #bbb;
}
p {
    padding-left: 1em;
    line-height: 1.2;
    font-weight: 400;
    font-size: 1.2em;
    color: #ddd;
    max-width: 80%;
}

@media only screen and (max-width: 800px) {
    #links {
        display: block;
    }
    #links li {
        padding-bottom: 0.2em;
        font-size: 1.2em;
        transition: 0.5s ease;
        color: #666;
    }

    #links li:hover {
        margin-left: 0.4em;
    }

    .tile {
        max-width: 80%;
        background-color: #ddd;
        text-align: center;
        padding: 5px;
        transition: 0.25s ease;
        margin-bottom: 2.5px;
    }
    .tile:hover {
        border-left: 3px solid #666;
    }
}
#t-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    #t-wrapper {
        justify-content: initial;
    }
}
.s-con {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media only screen and (max-width: 1000px) {
    .s-con {
        flex-direction: column;
    }
}
.d3 {
    font-family: "Work Sans", sans-serif;
    font-size: 4em;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .s-con {
        flex-direction: row;
    }
}
.sname {
    color: #bbb;
    font-family: "Work Sans", sans-serif;
    padding-left: 10px;
    border: 0px solid white;
}
.speaker {
    position: relative;
    display: inline-block;
    max-width: 190px;
    width: 100%;
    color: #bbb;
    font-size: 16px;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.speaker *,
.speaker:before,
.speaker:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.speaker:before,
.speaker:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 2px solid #bbb;
    border-color: transparent #bbb;
}

.speaker img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px !important;
}

.speaker figcaption {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
}

.speaker i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4em;
    z-index: 1;
}

.speaker a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.speaker:hover figcaption,
.speaker.hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.speaker:hover:before,
.speaker.hover:before,
.speaker:hover:after,
.speaker.hover:after {
    border-width: 10px;
}

.speaker:hover:before,
.speaker.hover:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.speaker:hover:after,
.speaker.hover:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#w-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: -100px;
    margin-right: -100px;
}
#workshop1 {
    background-color: #1A425E;
    height: 100vh;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: skewX(-10deg);
}
#workshop1 * {
    transform: skewX(10deg);
}
#workshop2 {
    background-color: #1A425E;
    height: 100vh;
    transition: 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: skewX(-10deg);
}
#workshop2 * {
    transform: skewX(10deg);
}
#workshop1:hover{
    flex-shrink: 0;
}
#workshop2:hover{
    flex-shrink: 0;
}
.w-desc, .w-head {
    font-family: "Work Sans", sans-serif;
    color: white;
    text-align: center;
}
.w-head {

}
.w-desc {
    width: 60%;
    border: 0px white solid;
}
