@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
body {
    overflow: auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.pybits-background {
    color:white;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), linear-gradient(rgba(255,234,50,0.9), rgba(51,100,157,0.9) 70%), url("/static/images/pybits/back.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 4.5vw;
}

.main {
    background-color: #212121;
}
h2 {
    padding: 10px 0;
}

ul {
    padding: 0;
    list-style: none;
}

.event-container {
    margin-bottom: 10px;
    float: left;
}

#links {
    display: none;
}
.inner-navigation {
    color: #bbb;
}
p {
    padding-left: 1em;
    line-height: 1.2;
    font-weight: 400;
    font-size: 1.2em;
    color: #ddd;
    max-width: 80%;
}

@media only screen and (max-width: 800px) {
    #links {
        display: block;
    }
    #links li {
        padding-bottom: 0.2em;
        font-size: 1.2em;
        transition: 0.5s ease;
        color: #666;
    }

    #links li:hover {
        margin-left: 0.4em;
    }

    .tile {
        max-width: 80%;
        background-color: #ddd;
        text-align: center;
        padding: 5px;
        transition: 0.25s ease;
        margin-bottom: 2.5px;
    }
    .tile:hover {
        border-left: 3px solid #666;
    }
}
#t-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    #t-wrapper {
        justify-content: initial;
    }
}
.s-con {
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media only screen and (max-width: 1000px) {
    .s-con {
        flex-direction: column;
    }
}
.d3 {
    font-family: "Work Sans", sans-serif;
    font-size: 4em;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
@media only screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .s-con {
        flex-direction: row;
    }
}
.sname {
    color: #bbb;
    font-family: "Work Sans", sans-serif;
    padding-left: 10px;
    border: 0px solid white;
}
.speaker {
    position: relative;
    display: inline-block;
    max-width: 190px;
    width: 100%;
    color: #bbb;
    font-size: 16px;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.speaker *,
.speaker:before,
.speaker:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.speaker:before,
.speaker:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 2px solid #bbb;
    border-color: transparent #bbb;
}

.speaker img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px !important;
    box-sizing: border-box;
    background-color: #0000;
}

.speaker figcaption {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
}

.speaker i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4em;
    z-index: 1;
}

.speaker a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.speaker:hover figcaption,
.speaker.hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.speaker:hover:before,
.speaker.hover:before,
.speaker:hover:after,
.speaker.hover:after {
    border-width: 10px;
}

.speaker:hover:before,
.speaker.hover:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.speaker:hover:after,
.speaker.hover:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#w-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-left: -100px;
    margin-right: -100px;
}
#workshop1 {
    background-color: #1A425E;
    height: 100vh;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: skewX(-10deg);
}
#workshop1 * {
    transform: skewX(10deg);
}
#workshop2 {
    background-color: #1A425E;
    height: 100vh;
    transition: 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: skewX(-10deg);
}
#workshop2 * {
    transform: skewX(10deg);
}
#workshop1:hover{
    flex-shrink: 0;
}
#workshop2:hover{
    flex-shrink: 0;
}
.w-desc, .w-head {
    font-family: "Work Sans", sans-serif;
    color: white;
    text-align: center;
}
.w-head {

}
.w-desc {
    width: 60%;
    border: 0px white solid;
}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#sc-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.day {
    flex-grow: 1;
    width: 50vw;
    align-items: center;
}
@media only screen and (max-width: 800px) {
    #sc-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .day{
        width: 80vw;
    }
    .sc-title {
        font-size: 3.5vw !important;
        text-align: center;
    }
    .event p {
        text-align: center;
        font-family: "Work Sans", sans-serif;
        font-size: 3vw !important;
    }
    .timeline {
        padding: 50px !important;
    }
    #content {
        align-items: right !important;
    }
    .date {
        font-size: 3.5vw !important;
    }
}
@media only screen and (max-width: 400px) {
    .timeline {
        max-width: 11vw !important;
    }
}
strong {
    font-weight: 600;
}
.date {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 100;
    font-size: 2.5vw;
    padding-top: 25px;
}
#content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: right;
    padding-right: 7vw;
}
.event p {
    font-family: "Work Sans", sans-serif;
}
.timeline {
    border-left: 4px solid #4298C3;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Source Sans Pro', sans-serif;
    /*margin: 50px auto;*/
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
}
@media only screen and (max-width: 950px) {
    #content {
        padding-right: 2vw;
    }
    .timeline {
        padding: 5px 10px 5px 50px;
    }
}

.timeline .date,
.timeline .sc-title {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.5vw;
}
.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:before {
    left: -217.5px;
    color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}
@media only screen and (max-width: 500px) {
    .timeline .event:before {
        left: -185px;
    }
}
@media only screen and (max-width: 420px) {
    .timeline .event:before {
        font-size: 0.75em;
    }
}
.timeline .event:after {
    box-shadow: 0 0 0 4px #4298c3;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}
