.cart-actions {
    display: flex;
    justify-content: flex-end;
}
.cart-actions a.button {
    height:2.5em;
    display: inline-flex;
    align-items: center;
    position:relative;
    font-size:1em;
    padding:0em 1em;
    margin-left:10px;
    color:rgba(0,0,0,0.7);
    cursor:pointer;
    box-sizing: border-box;
    border:2px solid rgba(0,0,0,0.5);
    transition:all 0.2s;
    animation: pop 0.2s 0s 1;
    -webkit-user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
@keyframes pop {
    from {
        transform: scale(0.5);
    }
}
.cart-actions .latent {
    display: flex;
    position:relative;
}
.cart-actions .latent:focus > .join_team,
.cart-actions .latent:focus > .new_team {
    display: inline-flex;
}
.cart-actions .latent > .join_team,
.cart-actions .latent > .new_team,
.cart-actions .latent:focus > .add_to_cart {
    display: none;
}
.cart-actions .button:hover {
    color:#444;
    border-color:#444;
}
.cart-actions .button > * {
    line-height: inherit;
    display: inline-block;
    vertical-align: top;
}
.cart-actions .button > i {
    margin-right: 0.5em;
}
.cart-actions .button.subscribed {
    background:#2db55d;
    color:#fff;
    border-color:transparent;
}
.cart-actions .button.pending {
    background:orange;
    color:#fff;
    cursor: pointer;
    border: none;
    line-height: 2.5em;
}
.cart-actions .button.pending > .icon-close {
    cursor: pointer;
    display: inline-block;
    line-height: 2.5em;
    width: 2.5em;
    border-radius: 2.5em;
    text-align: center;
    margin-left: -1.1em;
    background: rgba(0,0,0,0.1);
}

@media only screen and (max-width: 600px) {
    .cart-actions .button {
        width:8em;
        min-width: 3em;
        height:3em;
        line-height: 3em;
        justify-content: center;
        padding:0;
        border-color:#fff;
        color:#000;
        background:#fff;
        box-shadow:0px 1px 2px rgba(0,0,0,0.2);
        /*margin-bottom:10px;*/
        border-width:2px;
        border-radius:50%;
    }
    .cart-actions .latent {
        flex-direction: column;
        position:absolute;
        right:0;
        top:0;
        margin-right:1.5em;
    }
    .cart-actions .button > i {
        margin: 0 !important;
        /* position:absolute !important; */
        line-height: 3em !important;
        width: 3em !important;
        background: none !important;
    }
    .cart-actions .button > i::before {
        font-size: 1.5em;
    }
    /* .cart-actions .button > span {
        display: none;
    } */
}
