.module-sponsors .header h1 {
    text-transform: uppercase;
    line-height: 3;
    display: block;
    text-align: center;
}
.module-sponsors .sponsors {
    width: 100%;
    padding: 2em 0;
    position: relative;
    background: #f0f0ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.module-sponsors .sponsors > li {
    list-style-type: none;
    margin: 1em 1em;
    margin-bottom: 4em;
    background: #fff;
    box-shadow: 0px 0px 60px -10px rgba(0, 0, 0, 0.13);
    display: inline-block;
    border-radius: 5px;
}
.module-sponsors .sponsors > li > a {
    display:block;
    position: relative;
}
.module-sponsors .sponsors > li > a > img {
    width: 300px;
    border-radius: 5px;
}
.module-sponsors .sponsors > li > a > span {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    color: #666;
    font-weight: 600;
    text-align: center;
    line-height: 3em;
}
@media only screen and (max-width: 1600px) {
    .module-sponsors .sponsors > li > a > img {
        width: 230px;
    }
    .module-sponsors .sponsors > li > a {
	
    }
}
