.section.body .foldup {
    position:relative;
    top:100%;
    left: 0;
    width:100%;
    height:100%;
    background: #fff;
    opacity: 1;
    z-index: +100;
}
#_portal.saving .header.title::after {
    content: "Saving...";
    font-size: 0.8em;
    color: grey;
}
#_portal.failed .header.title::after {
    content: "Failed";
    font-size: 0.8em;
    color: red;
}
.section.body .foldup label.item .count::after {
    content: "tickets sold";
    margin-left: 0.25em;
    font-weight: 400;
    color: #666;
}
#remarks input {
    width: 100%;
    line-height: 4em;
    box-sizing: border-box;
    padding: 0em 1em;
}