link(rel="stylesheet" href="/static/stylesheets/about.style.css")

div.section.body#about
    div.underlay
        div.credits
            span Photograph by
            span.person Ishaan Dewangan
    div.about
        div.scrollable(data-simplebar="init")
            h2 ACCOMMODATION
            p
                |When you come to participate in ATMOS, it’s our responsibility to make your stay comfortable. For the same, we provide accommodation, for both boy and girl participants, in the hostels at BITS Pilani Hyderabad Campus. Boys will be accommodated in the boy’s hostels and girls in the girl’s hostels.
            p
                b Charge Per Person (Without Food)
            p
                center 1 Day : Rs. 250/-
                center 2 Days: Rs. 400/-
                center 3 Days: Rs. 500/-
            center
                a.button(href="https://www.townscript.com/e/accomodation-234231") REGISTER HERE
            p
                |The accommodation is provided in the hostel common rooms, which are of the size of a big hall and will accommodate 35 people. Every person availing the accommodation will be given a mattress. Some basic requirements (e.g. bucket) will be given as a common asset to people sharing a room. In addition to the above charges, a caution deposit of Rs. 100 is charged to everyone availing the accommodation which is refunded if the person is not found guilty of damaging any of the institute property.
                |The above charges are charged on a day to day basis. (9:00 am to 9:00 am).
            p
                b Security in Hostels:
                |There are independent hostel chowkidars and superintendents for every hostel. Moreover, there are various security guards deployed to maintain efficient security in hostels and avoid mishaps. Also the Department of Security and Hospitality will be there to make sure that you enjoy your stay.
            p
                b Food Options:
                |There are various food outlets that serve delicious food, at various spots on campus. In addition to that, the campus messes will also be operating and serving food three times a day (breakfast, lunch and dinner). The prices for the same will be displayed on the mess notice boards.
