link(rel="stylesheet" href="/static/stylesheets/about.style.css")

div.section.body#about
    div.underlay
        div.credits
            span Photograph by
            span.person Ishaan Dewangan
    div.about
        div.scrollable(data-simplebar="init")
            h2 ARENA
            p A
            ul.links
                a.button(href="/about/accommodation") Accommodation
                a.button(href="/about/contact") Contact Us
                a.button(href="/about/map") Reaching Here
