link(rel="stylesheet" href="/static/stylesheets/about.style.css")

div.section.header
    h1.title= title
div.section.body
    p ATMOS is the annual techno-management fest of Birla Institute of Technology and Science, Pilani – Hyderabad Campus. Right from its inception in 2012, it has consistently strived to provide an excellent and platform on the national stage for people all over the country to showcase their technical, and managerial skills, as well as improving the technical and entrepreneurial culture in colleges across India. Alongside technical events, ATMOS provides a wide range of opportunities to test and stimulate your intellect spread across its three days. Even for someone who is technically handicapped, or lacks the knowledge to take part in events, it provides a plethora of activities in the form of interesting, awe-inspiring and motivational talks, pro-shows. It also provides the opportunity to hone your technical skills with workshops and technical exhibitions conducted in various disciplines by trained-professionals who are at the forefront of their field.
