link(rel="stylesheet" href="/static/stylesheets/about.style.css")


div.section.header
	h1.title= title
div.section.body(onload="initialize()")
	div#map

script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvi07_F1aDElByzfsGB3AIgwiiH6OscTw&callback=initialize")
script(src="/static/scripts/map.js")