include ../navigation
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

.immersive-wrapper.pybits-background
	.section.body.scrollable.markdown-body.dark-theme(data-simplebar='data-simplebar')
		h1.title=title
		p
			| By 
			strong Ramanathan Muthaiah
			| , 
			em FireEye CyberSecurity
		p
			strong 28th October, 10 AM to 1 PM.
		h2 Description
		p
			| This talk will introduce Continuous Integration, one of the key and core components in software development lifecycle [SDLC]. Key takeaway for the audience:
		ol
			li What is Continuous Integration [CI]?
			li Why it should be practiced?
			li What are the benefits?
		h2 Outline
		ol
			li Introduction to Continuous Integration
			li
				| What's the motivation to practice CI ? -- Helps to maintain health of main trunk, ensures every code change is tested against a known good baseline, regressions are detected earlier, allow integration of multiple features without compromising quality.
			li
				| Quick overview of various OpenSource CI tools -- Jenkins, Travis, Nimble, CodeShip
			li
				| CI Ecosystem -- Multiple tools / technology stack to be integrated to have working CI pipeline, like, version control system, static code analysis, compilers and interpreters, 3rd party tools, Cloud Providers, different configuration management tools, package managers, artifactory repositories, deployment tools.
			li
				| Simple Demo using Jenkins Pipeline -- Code Checkout, Code Analysis, Code Compile, Code Archive
		h2 Requirements
		ol
			li None
		h2 About The Speaker
		figure.speaker
			img(src='/static/images/pybits/pylogo.png')
		p
			strong Ramanathan Muthaiah
			|  is a Data Scientist at Endurance International Group
		p
			| He has about two and a half decades of work experience in systems management, continuous integration, mainline health monitoring, release management, tools automation in various industry domains, like mobile, semiconductors, cybersecurity, and networking. Over the years, he has worked on various projects, thus accumulating a set of good practices from both technical and procedural  aspects.
		p
			| Follow him on 
			a(href='https://www.linkedin.com/in/ramanathan-muthaiah-6574352/') LinkedIn
			| .




	+navigationMixin(true)
