include ../navigation
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

.immersive-wrapper.pybits-background
	.section.body.scrollable.markdown-body.dark-theme(data-simplebar='data-simplebar')
		h1.title=title
		p
			| By 
			strong Saikat Kumar Dey
			| , 
			em Data Scientist at Endurance International Group
		p
			strong 28th October, 10:30 AM to 11:15 AM.
		p
			| This talk will show you how you could use open-source tools to build a chatbot without handing your data over to third parties (Facebook/Microsoft/Google,etc.) You will learn:
		ol
			li How a chatbot works behind the scene
			li How to transfer knowledge to a chatbot
			li How to build a production-ready bot which you would own completely
			li How to use Socket.IO to allow real-time communication with your chatbot.
		h2 Outline
		p Introduction: motivations for building your bot in-house
		ol
			li Chatbot architecture
			li
				| Understanding the components of chatbot - 
				ol
					li
						| Natural Language Understanding (NLU)
						ol
							li Intent Classification
							li Entity Extraction
					li Contextual dialogue management using Finite State Machines (FSM)
					li Response Generation
					li Knowledge Base
			li
				| How to use Open Source Tools to build your own chatbot - 
				ol
					li
						| Rasa.AI (having configurable backends like spacy/sklearn/mitie) - to build intent & entity extraction.
					li Transitions - to build a context manager using FSMs.
					li ChatterBot - to generate automated response based on historical conversation.
					li Socket.IO - to build a real-time communication system.
			li Demo
		h2 Requirements
		ol
			li Basic knowledge of NLP and Machine Learning.
			li Basic understanding of Finite State Machines.
			li Familiarity with Python.
		h2 About The Speaker
		figure.speaker
			img(src='/static/images/pybits/saikat.jpg')
		p
			strong Saikat Kumar Dey
			|  is a Data Scientist at Endurance International Group
		p
			| He has been working on building a conversational assistant for Customer Support of his company. He has worked on customer segmentation & retention efforts in the past.
		p
			| Check out his 
			a(href='https://pyconfhyd.talkfunnel.com/2017/24-general-talks-build-a-chatbot-from-scratch-using-o') Talk on Chat Bots
			|  and follow him on 
			a(href='https://twitter.com/deysaikatkumar') Twitter
			|  and 
			a(href='https://www.linkedin.com/in/saikatkumardey/') LinkedIn
			| .



	+navigationMixin(true)
