include ../navigation
link(rel="stylesheet" href="/static/stylesheets/pybits-imm.style.css")
link(rel="stylesheet" href="/static/stylesheets/pybits.style.css")

.immersive-wrapper.pybits-background
	.section.body.scrollable.markdown-body.dark-theme(data-simplebar='data-simplebar')
		h1.title=title
		p
			| By 
			strong Satish Rao
			| , 
			em Senior Principle Security Engineer at Oracle India Pvt. Ltd
		p
			strong 28th October, 10 AM to 1 PM.
		p
			| The Internet of Things is a big deal today. Some consider it to be a buzzword,others say it’s a phase while many others, large industries included, stand by their belief that it is going to be a game changer. The session would be a discussion on the role of python language in the field of IoT.
		h2 Outline
		ol
			li Introduction to IoT and its Architecture
			li 3C’s of IoT (Connect , Control and Communicate)
			li Introduction to Raspberry Pi and other Single Board Computers
			li Python Packages available for IoT
			li Connecting and Communicating with Sensors and Actuators
			li Overview of Micropython
			li Demo
		h2 Requirements
		ol
			li Beginner knowledge of Python
		h2 About The Speaker
		figure.speaker
			img(src='/static/images/pybits/satish.jpg')
		p
			strong Satish Rao Pullacheri
			|  is an IoT Enthusiast working in Oracle India Pvt Ltd
		p
			| He has an overall 10 years of experience in Software Development. IoT is his hobby. To bring awareness on IoT he has started a meetup group 
			a(href='https://www.meetup.com/IoT-User-Group/') “IoT-User-Group”
			|  in Hyderabad.
		p
			| Check out his 
			a(href='https://pyconfhyd.talkfunnel.com/2017/14-general-talks-internet-of-things-iot-and-python') Talk on IoT
			|  and follow him on 
			a(href='https://www.linkedin.com/in/satishraop') LinkedIn
			| .




	+navigationMixin(true)
