@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uwtzrz');
  src:  url('fonts/icomoon.eot?uwtzrz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uwtzrz') format('truetype'),
    url('fonts/icomoon.woff?uwtzrz') format('woff'),
    url('fonts/icomoon.svg?uwtzrz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
  content: "\e000";
}
.icon-error_outline:before {
  content: "\e001";
}
.icon-equalizer:before {
  content: "\e01d";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-add:before {
  content: "\e145";
}
.icon-add_box:before {
  content: "\e146";
}
.icon-brightness_low:before {
  content: "\e1ad";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-drag_handle:before {
  content: "\e25d";
}
.icon-adjust:before {
  content: "\e39e";
}
.icon-brightness_3:before {
  content: "\e3a8";
}
.icon-crop_original:before {
  content: "\e3c4";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-add_a_photo:before {
  content: "\e439";
}
.icon-directions_bus:before {
  content: "\e530";
}
.icon-directions_car:before {
  content: "\e531";
}
.icon-map:before {
  content: "\e55b";
}
.icon-add_location:before {
  content: "\e567";
}
.icon-apps:before {
  content: "\e5c3";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-domain:before {
  content: "\e7ee";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-location_city:before {
  content: "\e7f1";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-account_balance:before {
  content: "\e84f";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-add_shopping_cart:before {
  content: "\e854";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-bug_report:before {
  content: "\e868";
}
.icon-cached:before {
  content: "\e86a";
}
.icon-dashboard:before {
  content: "\e871";
}
.icon-delete:before {
  content: "\e872";
}
.icon-description:before {
  content: "\e873";
}
.icon-payment:before {
  content: "\e8a1";
}
.icon-power_settings_new:before {
  content: "\e8ac";
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-shopping_cart:before {
  content: "\e8cc";
}
.icon-supervisor_account:before {
  content: "\e8d3";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-user-tie:before {
  content: "\e900";
}
.icon-t-shirt:before {
  content: "\e901";
}
.icon-trophy:before {
  content: "\e902";
}
.icon-fingerprint:before {
  content: "\e90d";
}
.icon-all_inclusive:before {
  content: "\eb3d";
}
.icon-business_center:before {
  content: "\eb3f";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-edit:before {
  content: "\f044";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-bank:before {
  content: "\f19c";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-google:before {
  content: "\f1a0";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-slideshare:before {
  content: "\f1e7";
}
.icon-connectdevelop:before {
  content: "\f20e";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-bolt:before {
  content: "\f0e7";
}
.icon-flash:before {
  content: "\f0e7";
}
.icon-shield:before {
  content: "\f132";
}
.icon-sun-o:before {
  content: "\f185";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-settings:before {
  content: "\e8b8";
}
.icon-volume_off:before {
  content: "\e04f";
}
.icon-volume_up:before {
  content: "\e050";
}
