/* @font-face kit by Fonts2u (http://www.fonts2u.com) */

@font-face {
    font-family: "Sports World";
    src: url("Sports_World-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}